{% import "../../library/heading/heading.njk" as Heading %}
{% import "../../library/button/button.njk" as Button %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/dropdown/dropdown.njk" as Dropdown %}
{% import "../../icon/icon.njk" as Icon %}


<div class="form-place">
    <fieldset>
        <div class="form__title-short">Адрес постоянной регистрации</div>
        <div class="form__line-group">
            {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Тип регистрации', 'name': 'bid_select-registr', 'items': [{'title': 'тип1', 'value': '12345'}, {'title': 'тип2', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'reg-type-select-list'}, 'field': 'js-reg_type-select' }) }}
            {{ Input.input({ 'label': 'Дата регистрации', 'class': 'form__field-group', 'field': {'class': 'js-date js-default-date', 'name': 'registr_date', 'required': 'true' } }) }}
        </div>
        {{ Input.input({ 'label': 'Адрес', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-kladr-inline-input', 'name': 'address', 'required': 'true' } }) }}
        <input type="hidden" data-adress-input="address" name="flatNum" value="">
    </fieldset>
    <fieldset>
        <div class="form__title-short">Адрес фактического места жительства</div>
        <div class="mb-32">
            <label class="checkbox checkbox_theme-dark js-checkbox">
                <input type="checkbox" class="checkbox__control js-reg-addr" name="register_address">
                <span class="checkbox__state"></span>
                <span class="checkbox__label">Совпадает с адресом регистрации</span>
            </label>
        </div>
        <div class="js-place-to-live">
            <input type="hidden" data-adress-input="address2" name="flatNum" value="">
            {{ Input.input({ 'label': 'Адрес', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-kladr-inline-input', 'name': 'address2', 'required': 'true' } }) }}
            {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Основание для проживания', 'name': 'bid_select-registr-osn', 'items': [{'title': 'тип1', 'value': '12345'}, {'title': 'тип2', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'reg-os-select-list'}, 'field': 'js-reg-os-select' }) }}
        </div>
    </fieldset>
</div>
