webFont($family, $file, $weight = normal, $style = normal, $path = '../fonts/')
  @font-face
    font-family: $family
    src: url($path + $file + '.eot')
    src: url($path + $file + '.eot?#iefix') format('embedded-opentype'),
            url($path + $file + '.woff2') format('woff2'),
            url($path + $file + '.woff') format('woff'),
            url($path + $file + '.ttf') format('truetype'),
            url($path + $file + '.svg#lgfont') format('svg')
    font-weight: $weight
    font-style: $style
    font-stretch: normal

webFont('Opensans Bold', 'OpenSans-Bold')
webFont('Opensans Semibold', 'OpenSans-Semibold')
webFont('Opensans Regular', 'OpenSans-Regular')
webFont('Opensans Italic', 'OpenSans-Italic')
webFont('Formular Bold', 'Formular-Bold')
webFont('Formular Medium', 'Formular-Medium')
webFont('Formular', 'Formular')

opensansBold($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Opensans Bold", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  -webkit-font-smoothing: antialiased

opensansSemibold($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Opensans Semibold", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  font-weight: 500
  -webkit-font-smoothing: antialiased

opensansItalic($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Opensans Italic", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  -webkit-font-smoothing: antialiased
  font-weight: normal

opensansRegular($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Opensans Regular", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  -webkit-font-smoothing: antialiased
  font-weight: 300

formularBold($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Formular Bold", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  -webkit-font-smoothing: antialiased

formularMedium($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Formular Medium", "sans-serif"
  -webkit-font-smoothing: antialiased
  font-weight: 500

formular($fntSize = $fntSize_basic, $ltrSpacing = normal)
  font-family: "Formular", "sans-serif"
  letter-spacing: $ltrSpacing
  font-size: $fntSize
  -webkit-font-smoothing: antialiased
