<div id="select-city" class="select-city js-context-list state_invisible">
  <div class="select-city__wrapper">
    <div class="page__container">
      <ul>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
        <li class="select-city__group">А</li>
        <li class="select-city__item">Астарахань</li>
      </ul>
    </div>
  </div>
  <div class="page__cover"></div>
</div>
