{% import "../../../components/library/button/button.njk" as Button %}

<div id="select-city" class="select-city js-context-list state_invisible">
  <div class="select-city__wrapper">
    <div class="page__container">
      <ul class="select-city__list">
        <li>
          <p class="select-city__group">А</p>
          {{ Button.button({ 'title': 'Альметьевск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Альметьевск', 'city': 'Альметьевске'} }) }}
          {{ Button.button({ 'title': 'Астрахань', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Астрахань', 'city': 'Астрахани'} }) }}
        </li>
        <li>
          <p class="select-city__group">Б</p>
          {{ Button.button({ 'title': 'Барнаул', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Барнаул', 'city': 'Барнауле'} }) }}
        </li>
        <li>
          <p class="select-city__group">В</p>
          {{ Button.button({ 'title': 'Волгоград', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Волгоград', 'city': 'Волгограде'} }) }}
          {{ Button.button({ 'title': 'Воронеж', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Воронеж', 'city': 'Воронеже'} }) }}
        </li>
        <li>
          <p class="select-city__group">Е</p>
          {{ Button.button({ 'title': 'Екатеринбург', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Екатеринбург', 'city': 'Екатеринбурге'} }) }}
        </li>
        <li>
          <p class="select-city__group">И</p>
          {{ Button.button({ 'title': 'Ижевск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Ижевск', 'city': 'Ижевске'} }) }}
        </li>
        <li>
          <p class="select-city__group">К</p>
          {{ Button.button({ 'title': 'Казань', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Казань', 'city': 'Казани'} }) }}
          {{ Button.button({ 'title': 'Калининград', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Калининград', 'city': 'Калининграде'} }) }}
          {{ Button.button({ 'title': 'Калуга', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Калуга', 'city': 'Калуге'} }) }}
          {{ Button.button({ 'title': 'Кемерово', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Кемерово', 'city': 'Кемерово'} }) }}
          {{ Button.button({ 'title': 'Краснодар', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Краснодар', 'city': 'Краснодаре'} }) }}
          {{ Button.button({ 'title': 'Красноярск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Красноярск', 'city': 'Красноярске'} }) }}
        </li>
        <li>
          <p class="select-city__group">М</p>
          {{ Button.button({ 'title': 'Москва', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Москва', 'city': 'Москве'} }) }}
        </li>
        <li>
          <p class="select-city__group">Н</p>
          {{ Button.button({ 'title': 'Нижний Новгород', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Нижний Новгород', 'city': 'Нижнем новгороде'} }) }}
          {{ Button.button({ 'title': 'Новокузнецк', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Новокузнецк', 'city': 'Новокузнецке'} }) }}
          {{ Button.button({ 'title': 'Новосибирск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Новосибирск', 'city': 'Новосибирске'} }) }}
        </li>
        <li>
          <p class="select-city__group">Л</p>
          {{ Button.button({ 'title': 'Липецк', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Липецк', 'city': 'Липецке'} }) }}
        </li>
        <li>
          <p class="select-city__group">П</p>
          {{ Button.button({ 'title': 'Пенза', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Пенза', 'city': 'Пензе'} }) }}
          {{ Button.button({ 'title': 'Пермь', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Пермь', 'city': 'Перми'} }) }}
        </li>
        <li>
          <p class="select-city__group">Р</p>
          {{ Button.button({ 'title': 'Ростов-на-Дону', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Ростов-на-Дону', 'city': 'Ростове-на-Дону'} }) }}
        </li>
        <li>
          <p class="select-city__group">С</p>
          {{ Button.button({ 'title': 'Самара', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Самара', 'city': 'Самаре'} }) }}
          {{ Button.button({ 'title': 'Санкт-Петербург', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Санкт-Петербург', 'city': 'Санкт-Петербурге'} }) }}
          {{ Button.button({ 'title': 'Саратов', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Саратов', 'city': 'Саратове'} }) }}
          {{ Button.button({ 'title': 'Сочи', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Сочи', 'city': 'Сочи'} }) }}
          {{ Button.button({ 'title': 'Ставрополь', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Ставрополь', 'city': 'Ставрополе'} }) }}
          {{ Button.button({ 'title': 'Стерлитамак', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Стерлитамак', 'city': 'Стерлитамаке'} }) }}
          {{ Button.button({ 'title': 'Сургут', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Сургут', 'city': 'Сургуте'} }) }}
        </li>
        <li>
          <p class="select-city__group">Т</p>
          {{ Button.button({ 'title': 'Таганрог', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Таганрог', 'city': 'Таганроге'} }) }}
          {{ Button.button({ 'title': 'Тольятти', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Тольятти', 'city': 'Тольятти'} }) }}
          {{ Button.button({ 'title': 'Томск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Томск', 'city': 'Томске'} }) }}
          {{ Button.button({ 'title': 'Тюмень', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Тюмень', 'city': 'Тюмени'} }) }}
        </li>
        <li>
          <p class="select-city__group">У</p>
          {{ Button.button({ 'title': 'Ульяновск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Ульяновск', 'city': 'Ульяновске'} }) }}
          {{ Button.button({ 'title': 'Уфа', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Уфа', 'city': 'Уфе'} }) }}
        </li>
        <li>
          <p class="select-city__group">Ч</p>
          {{ Button.button({ 'title': 'Челябинск', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Челябинск', 'city': 'Челябинске'} }) }}
          {{ Button.button({ 'title': 'Череповец', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Череповец', 'city': 'Череповце'} }) }}
        </li>
        <li>
          <p class="select-city__group">Я</p>
          {{ Button.button({ 'title': 'Ярославль', 'mods': { 'type': 'link', 'theme': 'gray', 'view': 'text'}, 'class': 'select-city__button', 'attr': {'value': 'Ярославль', 'city': 'Ярославле'} }) }}
        </li>
      </ul>
    </div>
  </div>
  <div class="page__cover page__cover_theme-fixed js-cover"></div>
</div>
