.select-city .select-city__list
  column-count: 6
  //column-gap: 20px
  li
    display: inline-flex
    flex-direction: column

    margin-bottom: 20px

    -webkit-column-break-inside: avoid
    page-break-inside: avoid
    break-inside: avoid-column
