.bonus
  .bonus__item
    .bonus__info
      .bonus__icon

        @media (min-width: 1271px)
          width: 100%
          img
            width: 100%

        @media (max-width: 1270px)
          height: 100%
          img
            height: 100%
