.bonus .bonus__content
  .bonus__item
    .bonus__icon

      display: flex
      align-items: center

      flex-basis: 200px
      padding: 0 30px

      border-right: solid 1px $color_borders

      img
        width: 100%