.bonus__filter .bonus__filter-explore
  height: auto
  padding: 0

  @media (min-width: 992px)
    display: none

  .context__button
    display: flex
    flex-direction: row-reverse
    align-items: center

    span
      display: inline-flex !important
      visibility: visible

    .context__mobile-icon
      position: relative
      margin-right: 16px

      transform: translate(0)