.bonus
  .bonus__item
    .bonus__info
      .bonus__detail

        display: inline-flex
        
        @media (min-width: 768px)
          flex-direction: row
          align-items: center

          z-index: 20
          position: absolute
          top: 50%
          right: 32px

          transform: translateY(-50%)

          .text
            order: -1

          .text.mobile
            display: none

        @media (max-width: 767px)
          justify-content: flex-start

          .text
            display: none

          .text.mobile
            display: inline
            font-size: 12px