.bonus
  .bonus__item
    .bonus__info
      .bonus__amount

        formular(40px);
        color: $color_elem


        @media (min-width: 1271px)
          margin-left: 24px

        @media (max-width: 1270px)
          margin-left: auto
          margin-right: 8px

          line-height: 0.8
