.plastic-card.bonus-plastic-card
  .plastic-card__content.bonus-plastic-card__content
    margin-left: 35px
    .plastic-card__header
      margin-top 28px
    .plastic-card__features
      margin-top 21px
    .feature__content-list li
      padding-left 57px
      margin-bottom 18px
    .plastic-card__controls
      margin-top 25px
  .plastic-card__image
    width: calc(50% - 55px);
    @media (max-width: 1279px) and (min-width: 992px)
      width: calc(50% - 115px);
    .illustration
      @media (min-width: 1280px)
        top 13px
        height 100%
        width 544px

