.bonus
  .bonus__item
    .bonus__info
      .bonus__symbol

        formularBold()
        color: $color_elem

        @media (min-width: 1271px)
          font-size: 40px

        @media (max-width: 1270px)
          font-size: 12px
