.leaders__person.leaders__person_theme-medium
  margin: 0

  width: auto
  padding: 0

  background: none

  .leaders__photo
    width: 127px
    height: 127px

  .leaders__name
    margin-top: 24px
    font-size: 32px

  .leaders__post
    margin-top: 16px