.leaders__person.leaders__person_theme-simple
  margin: 0 130px 0 0

  width: auto
  min-width: 220px
  padding: 0

  background: none

  &:last-child
    margin: 0

  .leaders__photo
    width: 94px
    height: 94px

  .leaders__name
    margin-top: 24px
    font-size: 16px

  .leaders__post
    margin-top: 8px