.leaders__person
  col()

  padding: 56px 90px

  border-radius: 4px
  background-color: $white_smoke

  transition: background-color $interval

  &:not(.leaders__person_theme-medium, .leaders__person_theme-medium):hover
    background-color: $color_card

  @media (min-width: 992px)
    size(6)
  @media (max-width: 991px)
    width 100%
    padding: 20px 30px
    margin-bottom: 40px
    text-align center
