.index-carousel .index-carousel__features-many
  @media (max-width: 1215px)
    display: flex;
    flex-direction column
  @media (max-width: 831px)
    margin-bottom: 50px!important
  @media (min-width: 1216px)
    margin-bottom 76px!important
    margin-right: 113px;
  .index-carousel__feature
    @media (max-width: 1215px)
      display: none;
    @media (min-width: 1216px)
      .feature__title
        font-size 24px
      .feature__text
        font-size 16px
  .index-carousel__feature-many
    display: none;
    @media (max-width: 1215px)
      display: block;
      line-height: 24px;
      .feature__title
        margin-bottom: 0;
      .feature__text
        font-size: 16px;
        line-height: 29px;
