.index-carousel .index-carousel__wrap
  //display: flex
  //justify-content: space-between
  //align-content: stretch

  @media (min-width: 1216px)
    margin-right: -20px;
    margin-left: -20px;

  @media (min-width: 432px)
    //height: 450px
    .section__row
      flex-wrap nowrap

  @media (min-width: 992px) and (max-width: 1279px)
    //height: 360px

  @media (min-width: 768px) and (max-width: 991px)
    //height: 360px

  @media (max-width: 831px)
    .section__row
      flex-direction: column-reverse
      width 100%
      margin-right: 0;
      margin-left: 0;




