.index-carousel .index-carousel__image
  position: relative
  width: calc(38% - 40px)
  col()
  @media (min-width: 832px) and (max-width: 1215px)
    width: calc(38% - 40px)

  @media (max-width: 831px)
    width: 100%;
    margin-right: 0;
    margin-left: 0;

  .illustration
    position relative
    z-index 1
    width 100%
    margin-top -50px
    margin-left -10px
    height calc(100% + 45px)
    margin-bottom -45px
    max-width 440px
    max-height 355px
    min-width 330px
    @media (max-width: 831px)
      min-width 250px
      max-width 316px
      margin: 0 auto;
      width 74%
      left: -2%;
    .illustration-image
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      width: 100%
      height: auto
      max-width: 100%
      max-height: 100%
      @media (max-width: 831px)
        position static
        transform none
        margin: 0 auto;

      &-short
        max-width 406px
        max-height 406px
        top: 44%;
        left: 34%;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
          &.apple-pay-header
            height 100%

        @media (max-width: 1279px) and (min-width: 768px)
          max-width 270px
          max-height 270px
          top: 50%;
          left: 50%;
        @media (max-width: 767px)
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
