.index-carousel .index-carousel__content

  padding-bottom 56px;

  color: $color_light

  col()
  @media (min-width: 1280px)
    size(7)

  @media (min-width: 992px) and (max-width: 1279px)
    size(8)

  @media (min-width: 768px) and (max-width: 991px)
    size(6)

  @media (max-width: 767px)
    order: 1
    size(12)

    padding-bottom: 0