.index-carousel .index-carousel__content

  padding-bottom 56px;

  color: $color_light

  &-text
    opensansRegular(24px)
    margin-bottom: 53px;
    margin-top: -14px;
    line-height: 1.6;

  col()
  @media (min-width: 1280px)
    size(7)

  @media (min-width: 992px) and (max-width: 1279px)
    size(8)

  @media (min-width: 768px) and (max-width: 991px)
    size(6)

  @media (max-width: 767px)
    order: 1
    size(12)
  @media (max-width: 991px)
    .features
      +.button
        margin-top 40px

    padding-bottom: 0
