.index-carousel .index-carousel__image
  position: relative

  col()
  @media (min-width: 1440px)
    size(7)
    shift-right(-1)
    shift-left(-1)

  @media (min-width: 1280px) and (max-width: 1439px)
    size(5)

  @media (min-width: 992px) and (max-width: 1279px)
    size(4)

  @media (min-width: 768px) and (max-width: 991px)
    size(6)

  @media (max-width: 767px)
    size(12)
    margin-bottom: 16px

  .illustration
    z-index: 1
    position: absolute

    @media (min-width: 1280px)
      top: -160px
      right: -80px

      width: 683px;
      height: 683px

    @media (min-width: 768px) and (max-width: 1279px)
      top: -80px
      right: -20px

      width: 438px;
      height: 438px

    @media (max-width: 767px)
      position: relative
      margin: 0 auto

      height: 154px

    .illustration-image
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
      &-short
        max-width 406px
        max-height 406px
        top: 44%;
        left: 34%;
        @media (max-width: 1279px) and (min-width: 768px)
          max-width 270px
          max-height 270px
          top: 50%;
          left: 50%;
        @media (max-width: 767px)
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
