.mobile .mobile__figure

  col()

  @media (min-width: 1280px)
    size(7)
    shift-left(-1)

  @media (min-width: 992px) and (max-width: 1279px)
    size(5)
    shift-left(-1)

  .illustration

    position: absolute
    top: 50%
    right: 40px

    height: auto
    width: auto

    transform: translateY(-50%)

    &.no_overflow
      height 80%
      width auto
      max-width none

    @media (min-width: 1280px)
      max-width: 683px
      max-height: 683px

    @media (min-width: 992px) and (max-width: 1279px)
      max-height: 500px
      max-width: 500px

    @media (max-width: 991px)
      display: none
