.mobile.mobile_theme-blue
  .section__wrap

    padding-left: 103px

    border-radius: 4px
    background-image: url('../images/section.png')
    background-repeat: no-repeat
    background-size: cover
