.mobile .mobile__figure
  position: absolute
  right: 50px
  //bottom: -40px;
  //max-width: 372px

  @media (min-width: 768px) and (max-width: 991px)
    right: 45px
    bottom: 0
    max-width: 275px

  @media (min-width: 576px) and (max-width: 767px)
    right: 20px
    bottom: -70px
    max-width: 200px

  @media (max-width: 575px)
    display: none
