.mobile .mobile__link-app
  display: flex
  align-items center
  color $white
  margin-right: 37px;
  &:hover
    color: $stress_block_min
    .button_view-outlined
      box-shadow: inset 0 0 0 1px $button_hover;
      background: $speech_blue
  &:visited
    .mobile .mobile__link-app
      color: $button_hover
    .button_view-outlined
      box-shadow: inset 0 0 0 1px $button_hover;
      background: $button_clicked_backgr
