.mobile
  .mobile__content

    col()
    @media (min-width: 1280px)
      size(6)
      //padding: 80px 0
      padding-top: 19px;
      //padding-bottom: 108px;
    @media (min-width: 992px) and (max-width: 1279px)
      size(8)
      padding: 64px 0

    @media (max-width: 991px)
      padding: 40px 0

    .section__text > p
      margin-bottom: 0!important;
      color $stress_block_min!important


  .mobile__content.mobile__content--mini

    col()
    @media (min-width: 1280px)
      size(5)

    @media (min-width: 992px) and (max-width: 1279px)
      size(5)

