.mobile .mobile__vendors
  margin-top: 80px
  display: flex;
  align-items center
  opensansBold()
  @media (max-width: 1215px)
    margin-top: 49px;

  .button
    margin-right: 18px

    &:last-child
      margin-right: 0

  .button__icon
    max-width: 11px;
    width: 100%;
    max-height: 14px;
    height: 100%;
