.mobile.mobile_theme-blue
  .section__wrap

    padding-left: 103px

    border-radius: 4px
    background-image: url('../images/section.png')
    background-repeat: no-repeat
    background-size: cover
  @media(max-width 767px)
    margin-right: -16px
    margin-left: -16px
    .section__wrap
      border-radius 0
      padding: 30px
