.mobile__wrapper_with-image
  @media (max-width: 991px)
    .mobile__figure
      order 1
      display block
      max-width 100%
      .illustration
          display block
          position static
          max-width 100%
          transform none
    .mobile__content
      order 2
