.mobile
  .mobile__content

    col()
    @media (min-width: 1280px)
      size(6)
      padding: 80px 0

    @media (min-width: 992px) and (max-width: 1279px)
      size(8)
      padding: 64px 0

    @media (max-width: 991px)
      padding: 40px 0