.mobile
  .page__container
    @media (max-width: 1215px)
      max-width: 100% !important
  .mobile__content
    z-index: 1

  .section__row
    padding: 80px 82px 97px 86px;
    @media (max-width: 1215px)
      padding: 23px 65px 22px 61px;
    @media (max-width: 831px)
      flex-direction column
      //padding: 40px 31px 22px 0px
      padding: 40px 65px 22px 0px;
