.mobile
  .mobile__wrapper

    padding-left: 103px

    border-radius: 4px
    background-repeat: no-repeat
    background-size: cover

    @media (max-width 767px)
      border-radius 0
      padding: 30px