.mobile .mobile__figure

  col()

  @media (min-width: 1280px)
    size(7)
    shift-left(-1)

  @media (min-width: 992px) and (max-width: 1279px)
    size(5)
    shift-left(-1)

  .illustration

    position: absolute
    top: 52%;
    right: 4px;

    height: auto
    width: auto

    transform: translateY(-50%)
    &_align-bottom
      top auto
      bottom 0
      transform translateY(0)

    &.no_overflow
      height 80%
      width auto
      max-width none

    @media (min-width: 1280px)
      max-width: 450px
      max-height: 450px
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        width: 683px
        height: 683px

    @media (min-width: 992px) and (max-width: 1279px)
      max-height: 500px
      max-width: 500px
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        height: 500px
        width: 500px

    @media (max-width: 1215px)
      //display: none
      max-height: 350px
      max-width: 350px

    @media (max-width: 831px)
      position: static;
      transform none
      margin-top: -34px
      max-height: 259px
      max-width: 300px
