@import "../../node_modules/normalize-styl/normalize"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider.css"
@import "../../node_modules/suggestions-jquery/dist/css/suggestions.css"

@import "mixins/*"

@import "helpers/variables.styl"
@import "helpers/scaffold.styl"
@import "helpers/gaps.styl"
@import "helpers/hidden.styl"

@import "../components/**/*.styl"

@media (max-width: 1023px) {
  #__threadswidget_chat__container {
    right: 24px!important
    left: 24px!important
    bottom: 48px!important
    top: auto!important
    inset: auto 24px 48px 24px!important
    border-radius 0px!important
  }

}
