.landigs-menu__wrapper
  display flex
  flex-basis 100%
  padding 0
  margin 0
  @media (max-width: 1279px)
    flex-wrap wrap
    display none

.mobile-menu
  .landigs-menu__wrapper
    @media (max-width: 1279px)
      display block
      padding-left 16px
      padding-right 16px
      padding-top 30px
