.landigs-menu__item-link
  display block
  color $cyprus
  opacity 0.8
  formular(14px,normal)
  line-height 1.71
  @media (max-width: 1279px)
    font-size 16px
    line-height normal
    font-weight 500
    pointer-events none
