.section-tabs
  position relative
.js-section-tabs
  .index-products__list
    min-height 486px
    @media (max-width 768px)
      min-height 270px
.illustration
  &.apple-pay-phone
    max-width: 290px
    margin: 0 auto;
    margin-top: -215px;
    @media (max-width 768px)
      margin-top 0
  &.apple-watch
    max-width: 290px
    margin: 0 auto
  &.apple-ipad
    max-width: 416px
    margin: 0 auto
    margin-top: -215px
    @media (max-width 768px)
      margin-top 0
  &.apple-mac
    max-width: 595px
    margin: 0 auto

