.section-tabs__nav
  position relative
  display flex
  align-items center
  &_lined
    &:before
      content ''
      display block
      position absolute
      width 100vw
      left 50%
      transform translateX(-50%)
      bottom 0
      border-bottom 1px solid $gainsboro
