.company .company__figure
  position: absolute
  top: -120px
  right: 57px

  width: auto
  //height: auto
  height: 100%

  max-width: 492px
  max-height: 492px

  @media (min-width: 768px) and (max-width: 991px)
    top: -126px
    right: 17px

    max-width: 270px
    max-height: 270px

  @media (max-width: 991px)
    display: none
