.menu .menu__item
  margin-left: 22px
  margin-right: 22px

  padding-left: 0
  padding-right: 0
  @media (min-width: 832px) and (max-width:1215px)
    margin-left: 22px;
    margin-right: 22px;
  @media (min-width: 1024px) and (max-width:1280px)
    margin-left: 23px
    margin-right: 23px
  .button__wrap
    .button__title
      opensansSemibold()
    .button__icon
      width: 16px
      height: 16px
