{% import "../../../components/library/button/button.njk" as Button %}
{% import "../../../components/library/context/context.njk" as Context %}

{% macro menu( options ) %}
      <div class="menu js-menu {{ options.class }}">
        <div class="menu__wrapper">
            {% for item in options.basic %}
                {% set class = 'menu__item' %}
                {% if item.selected %}
                  {% set class = 'menu__item state_active' %}
                {% endif %}
                {{ Button.button({ 'href': item.href, 'title': item.title, 'mods': {'theme': options.theme, 'type': 'tab', 'size': 'low', 'view': 'underscore'}, 'class': class }) }}
            {% endfor %}
            {{ Context.context({ 'title': 'Еще', 'name': 'dropdown', 'mods': { 'type': 'menu', 'theme': options.theme }, 'attr': {'id': 'menu-explore', 'list-on-right': '' }, 'class': 'menu__item',
                                 'items': [{ 'title': 'Тарифы', 'value': 'tariffs', 'attr': { 'href': '#' } } ,
                                           { 'title': 'Сервисы и услуги', 'value': 'services', 'attr': { 'href': '#' } }] }) }}
        </div>
    </div>
{% endmacro %}
