.menu .menu__item
  margin-left: 20px
  margin-right: 20px

  padding-left: 0
  padding-right: 0

  .button__wrap
    .button__title
      opensansSemibold()
    .button__icon
      width: 16px
      height: 16px
