{% macro helper %}
<div class="helper">
  <div class="helper__top">
    <div class="helper__link"><a class="helper__link-item" href="#">aviasales.ru</a></div>
    <div class="helper__close"></div>
  </div>
  <div class="helper__body">
    <div class="helper__content">
      <div class="helper__center">
        <div class="helper__logo"><img class="helper__logo-src" src="#"/></div>
        <div class="helper__percent"><span>2%</span></div>
      </div>
      <div class="helper__description"><span>Возвращаем 2% при оплате авиабилетов картой БКС</span></div>
    </div>
    <div class="helper__bottom">
      <div class="helper__more"><a class="helper__more-link" href="#">Подробнее</a></div>
      <div class="helper__button"><a class="helper__button-item" href="#">Оформить карту</a></div>
    </div>
  </div>
</div>
{% endmacro %}
