.footer .footer__about .footer__info.footer__info-msb
  width: 100%
  align-items: flex-start
  &:nth-child(1)
    max-width: 25.834%
    @media (max-width: 1279px) and (min-width: 768px)
      max-width: 20%
      min-width: 200px;
    @media (max-width: 768px)
      margin-top: 30px
  &:nth-child(2)
    max-width: 17.167%
    @media (max-width: 1279px) and (min-width: 768px)
      max-width: 15%
      min-width: 180px;
    .socials
      margin-top: 0
      @media (max-width: 1279px) and (min-width: 768px)
        width: 100%
      @media (max-width: 768px)
        margin-top: 30px
  &:last-child
    max-width: 125px
    margin-left: 30px
    .footer__developer
      width: 100%
  @media (max-width: 768px)
    max-width: 100%!important
    width: 100%!important

