<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <title>{{ title }}</title>

  <link href="{{ root }}/assets/styles/app.min.css" rel="stylesheet">
</head>
<body  class="{{ bodyClass }}">
<script type="text/javascript">
  document.body.classList.add('state_load-start');
</script>
  {% block body %}{% endblock %}
  <script src="{{ root }}/assets/scripts/app.min.js"></script>
<script type="text/javascript">
  function whichTransitionEvent(){
    var t, el = document.createElement("div");
    var transitions = [
      {
        name: 'transition',
        event: 'transitionend'
      },
      {
        name: 'OTransition',
        event: 'oTransitionEnd'
      },
      {
        name: 'MozTransition',
        event: 'transitionend'
      },
      {
        name: 'WebkitTransition',
        event: 'webkitTransitionEnd'
      },
    ];
    for (var i=0 ; i<transitions.length; i++){
      t = transitions[i];
      if (el.style[t.name] !== undefined){
        return t.event
      }
    }
  }
  var transitionEvent = whichTransitionEvent();

  window.addEventListener('load',function () {

    document.body.style.position = "fixed";
    document.body.style.overflow = "hidden";
    document.body.style.height = "100%";
    document.body.style.width = "100%";
    document.body.style.overflowY = 'scroll';
    document.body.classList.remove('state_load-start');
    document.body.classList.add('state_load-end');
    document.body.querySelector('.js-page').addEventListener(transitionEvent , function (e) {
      if(e.target === document.body.querySelector('.js-page')){
        document.body.removeAttribute('style');
        document.body.classList.remove('state_load-end');
        document.body.classList.add('state_animations-start');
      }
    },false);
  },false);
</script>
</body>
</html>
