.landings-valutes-block
  background-color $color_light
  padding 10px
  border-radius 5px
  overflow hidden
  margin-right 32px
  @media (max-width: 1279px)
    margin-right 30px
  img
    margin-left 5px
    &:first-child
      margin-left 0
    @media (max-width: 1279px)
      width 19px
      height 21px
      margin-left 3px
      &:first-child
        margin-left 0
