.products-detail
  .products-detail__content-landing
    max-width 1322px
    min-height 680px
    display flex
    flex-direction column
    justify-content center
    .products-detail__content_description
      span
        display none
        font-size 12px
        line-height 20px
        font-weight normal
    @media (min-width: 1280px)
      min-height 600px
    @media (min-width: 992px) and (max-width: 1279px)
      min-height 600px
    @media (min-width: 768px) and (max-width: 991px)
      min-height auto
    @media (max-width: 767px)
      min-height auto
      .products-detail__content_description
        font-size: 16px
        font-weight: 700
        margin-top 13px
        span
          display inline-block
    .heading
      font-size 76px
      @media (max-width 1279px)
        font-size: 32px
        line-height: 40px
      @media (max-width: 767px)
        ffont-size: 32px
        line-height: normal
    .products-detail__figure
      @media (max-width: 1024px)
        width: calc(100% - 40px)
        display: flex
        justify-content center
        margin: 16px auto
      .illustration
        top: auto
        .illustration-image
          min-width 1024px
  .landing-gift__button
      @media (max-width: 767px)
        width calc(100% - 32px)
        margin 40px auto
        margin-top 34px

.illustration-image_landing-gift
  min-width 104%


.illustration_landing-gift
  top: auto!important
  @media (max-width: 767px)
    height 133px!important
