.products-detail .products-detail__figure

  col()
  @media (min-width: 1440px)
    size(6)
    shift-left(-1)

  @media (min-width: 1280px) and (max-width: 1439px)
    size(5)

  @media (min-width: 992px) and (max-width: 1279px)
    size(4)

  @media (min-width: 768px) and (max-width: 991px)
    size(6)

  @media (max-width: 767px)
    size(12)
    display: flex
    justify-content: center

    margin: 16px auto

  .illustration
    z-index: 1
    position: absolute
    right: 20px

    width: auto !important

    @media (min-width: 1280px)
      top: -80px

      height: 683px
      max-width: 683px

    @media (min-width: 768px) and (max-width: 1279px)
      top: 0

      height: 446px
      max-width: 446px

    @media (max-width: 767px)
      position: relative
      right: unset

      height: 154px

  //
  //
  //right: 80px
  //
  //@media (min-width: 1280px)
  //  top: -60px
  //  height: 630px
  //
  //@media (min-width: 992px) and (max-width: 1279px)
  //  top: -35px
  //  height: 420px
  //
  //@media (min-width: 768px) and (max-width: 991px)
  //  top: -40px
  //  right: 20px
  //  height: 350px
  //
  //@media (max-width: 767px)
  //  right: 0
  //
  //  height: 155px