.products-detail .products-detail__nav
  .products-detail__nav-button
    z-index: 300
    margin-left: auto
    white-space: nowrap
    &-left
      margin-left 0
      margin-right auto

    @media (max-width: 767px)
      order: -1
      margin: 16px auto 32px
