.calculation-image
  position relative
  &_landing-fx
    max-width 298px
    border 2px solid $color_default
    border-radius 20px
    box-shadow 0 0 20px 5px rgba(0, 0, 0, 0.16)
    &:nth-child(1)
      z-index 2
    &:nth-child(2)
      z-index 1
      transform translate(13%, -66%);
