.calculation.calculation_theme-uslugi

  align-self: flex-start
  box-shadow: 0 0 80px rgba($color_dark, 0.1)

  .calculation__thumbnail
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    box-shadow: none

  .button_theme-uslugi
    margin-top: 0

    border-top-left-radius: 0
    border-top-right-radius: 0
    border-top: solid 1px $color_borders
    box-shadow: none