.calculation
  .calculation__thumbnail

    display: flex
    flex-direction: column

    width: 100%
    padding: 40px

    border-radius: 4px
    background-color: $color_light
    box-shadow: 0 0 80px rgba($color_dark, 0.1)

    & > .text:first-child
      color: $color_link
