.calculation
  col()

  @media (min-width: 1280px)
    size(4)
    shift-left(2)
    margin-top -17px

  @media (max-width: 1279px)
    size(4)
  //@media (min-width 992px)
  //  size(4)
  //  shift-left(2)
  @media(max-width 992px)
    width calc(100% - 32px)
    .button.mt-40
      margin-top: 24px
