.select-filter .select-filter__wrapper
  padding: 56px 0 80px
  @media (max-width 767px)
    padding-bottom: 8px
    height: 100%
    .page__container
      display: flex;
      flex-direction: column
