.select-filter .select-filter__content
  .select-filter__list
    display: flex
    flex-wrap: wrap

    margin-bottom: 12px
    @media (max-width 767px)
      flex-wrap nowrap
      flex-direction column
      max-width 100%
      overflow-y auto
      li
        width: 100%
        margin-bottom: 24px
