.select-filter.context__list
  margin-top: 6px

  border-top: none
  @media (max-width 767px)
    position: fixed
    margin-top: 0
    top: 0!important
    left: 0
    width: 100%
    height: 100%
    z-index 1000
