.select-filter .select-filter__controls
  .button:first-child
      margin-right: 40px

  @media (max-width 767px)
    max-width 100%
    margin-top: auto
    .button
      width: 100%

      &:first-child
        margin-right: 20px
