.select-filter__subtitle
  margin-right: 40px;
  font-family: "Opensans Semibold", "sans-serif";
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 500;
  color: $cyprus;
  margin-bottom: 24px
