.mobile-menu
  display: flex
  flex-direction: column

  position: fixed
  z-index: 400
  top: 0
  left: 0

  overflow: auto
  width: 100%
  height: calc(100% - 56px)
  padding-bottom: 24px

  background-color: $color_light

  transition: transform 300ms
  transform: translateY(-100%)

  &:not(.state_explored) .mobile-menu__online-bank
    opacity: 0

  &.state_explored
    //@media (max-width: 1279px)
    transform: translateY(56px)

    //@media (min-width: 1280px)
    //  transform: translateY(80px)

  .menu, .nav
    display: block

  .menu
    margin-left: 0

    padding-top: 20px;
    padding-left: 15px;

    opensansSemibold();

    border-top: solid 1px $color_borders

    .menu__wrapper
      display: flex
      flex-direction: column
      align-items: flex-start

      .menu__item
        margin-left: 0
        margin-right: 0

    .context
      display: none


  .nav
    overflow: auto
    max-width: 100%

    @media (max-width: 991px)
      height: 48px

    .nav__wrapper
      padding-left: 16px

      white-space nowrap

      .nav__button:last-child
        margin-right: 16px

    &::-webkit-scrollbar
      width: 0
      height: 0

    &
      -ms-overflow-style: none

    &
      overflow: -moz-scrollbars-none
