.mobile-menu
  display: flex
  flex-direction: column

  position: fixed
  z-index: 400
  top: 0
  left: 0

  overflow: auto
  width: 100%
  height: calc(100% - 56px)
  //padding-bottom: 24px

  background-color: $color_light

  transition: transform 300ms
  transform: translateY(-100%)

  &:not(.state_explored) .mobile-menu__online-bank
    opacity: 0

  &.state_explored
    //@media (max-width: 1279px)
    transform: translateY(56px)

    //@media (min-width: 1280px)
    //  transform: translateY(80px)

  .page__container
    @media(max-width 831px)
      padding-left: 24px!important
      padding-right: 24px!important

  .menu, .nav
    display: block

  .menu
    margin-left: 0
    padding-top: 20px;
    @media(max-width 831px)
      padding-left: 23px;

    opensansSemibold();

    //border-top: solid 1px $color_borders

    @media (max-width 991px)
      //overflow-y: auto

    .menu__wrapper
      display: flex
      flex-direction: column
      align-items: flex-start

      .menu__item
        margin-left: 0
        margin-right: 0

    .context
      display: none


  .nav
    overflow: auto
    max-width: 100%

    @media (max-width: 991px)
      height: 58px
      //min-height 48px!important
    @media (min-width 832px) {
      display: none !important
      visibility: hidden
    }
    .nav__wrapper
      padding-left: 23px
      white-space: nowrap
      .nav__button:last-child
        margin-right: 16px

    &::-webkit-scrollbar
      width: 0
      height: 0

    &
      -ms-overflow-style: none

    &
      overflow: -moz-scrollbars-none
