.mobile-menu .mobile-menu__online-bank
  margin-top: auto
  max-width: 432px
  height: 56px

  @media (max-width: 1279px)
    width 280px
    margin-top: 44px
  @media (max-width: 831px)
    margin-left: 20px
    width: calc(100% - 40px)

  //width: 288px;
