.page
  .landing-fx
    .page__container
      max-width 1248px
    &.products-detail
      .products-detail__content
        padding 50px 0
      .heading.heading_type-large
        font-size 49px
        line-height 1.25
      .products-detail__figure .illustration
        top -155px
        right 51px

    .section__header_theme-blue
      position relative
      .features
        margin-top 15px
        .features__item
          width 183px
    .feature__content
      .feature__title
        margin-bottom 18px
      .feature__text
        line-height 22px
    .currency span
      font-size 23px
    .section-tabs__nav
      margin-top -40px
