{% import "../../library/heading/heading.njk" as Heading %}
{% import "../../library/button/button.njk" as Button %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/dropdown/dropdown.njk" as Dropdown %}
{% import "../../icon/icon.njk" as Icon %}


<div class="form-job">
    <fieldset>
            {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Вид занятости', 'name': 'bid_select_job_timed', 'items': [{'title': 'полная', 'value': '12345'}, {'title': 'Частичная', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'job-timed-select-list'}, 'field': 'js-job-timed-select' }) }}
            {{ Input.input({ 'label': 'Общий трудовой стаж', 'class': 'form__field-group', 'field': {'class': 'js-numeric-input', 'name': 'job_years_count', 'required': 'true', 'type': 'tel' } }) }}
            <div class="form__line-group">
                {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Месяц', 'name': 'bid_select-job-month', 'items': [{'title': 'январь', 'value': '1'}, {'title': 'Февраль', 'value': '2'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'job-month-select-list'}, 'field': 'js-job-month' }) }}
                {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Год', 'name': 'bid_select-job-year', 'items': [{'title': '2019', 'value': '12345'}, {'title': '2018', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'job-year-select-list'}, 'field': 'js-job-year' }) }}
            </div>
            {{ Input.input({ 'label': 'Ежемесячный доход на текущем месте', 'title': '#ruble', 'class': 'form__field-group', 'field': {'class': 'js-numeric-input', 'name': 'payed_monthly', 'maxlength': '20', 'required': 'required'} }) }}
            {{ Input.input({ 'label': 'Совокупный ежемесячный доход', 'title': '#ruble', 'class': 'form__field-group', 'field': {'class': 'js-numeric-input', 'name': 'payed_monthly_all', 'maxlength': '20', 'required': 'required'} }) }}
            {{ Input.input({ 'label': 'Ежемесячные обязательные платежи', 'title': '#ruble', 'class': 'form__field-group', 'field': {'class': 'js-numeric-input', 'name': 'payed_monthly_required', 'maxlength': '20', 'required': 'required'} }) }}
            {{ Input.input({ 'label': 'Расходы на ареду жилья', 'title': '#ruble', 'class': 'form__field-group', 'field': {'class': 'js-numeric-input', 'name': 'payed_home', 'maxlength': '20', 'required': 'required'} }) }}
            {{ Heading.heading({ 'tag': 'h3', 'title': 'Есть действующая просроченная задолженность более 500 р', 'mods': { 'type': 'small', 'margin': 'small' } }) }}
            <div class="form__field-group form__field-group_radio">
                {{ Radio.radio({'class': 'js-check-credit mr-56', 'label': 'Да', 'value': 'true' , 'name': 'credit_down', 'id': 'credit_down_y'}) }}
                {{ Radio.radio({'class': 'js-check-credit', 'label': 'Нет',  'value': 'false', 'name': 'credit_down', 'id': 'credit_down_n', 'state': 'checked'}) }}
            </div>
    </fieldset>
</div>
