{% import "../../library/heading/heading.njk" as Heading %}
{% import "../../library/button/button.njk" as Button %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/dropdown/dropdown.njk" as Dropdown %}
{% import "../../icon/icon.njk" as Icon %}


<div class="sms-code-form js-sms-code-form" data-action="/">
    {{ Heading.heading({ 'title': 'Подтверждение смс' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
  <div class="text mb-56">Код выслан на номер
    <span class="js-sms-code-phone">+7 926 384 0589</span>
    <a class="button  button_theme-default button_view-text button_type-link  js-prev-step" href="#">
      <span class="button__wrap">
        <span class="button__title js-button-title">Изменить номер</span>
      </span>
    </a>
  </div>
    {{ Input.input({ 'label': 'Код подтверждения из СМС', 'class': 'form__field-group', 'field': {'class': 'js-sms-code-input', 'name': 'sms_code', 'required': 'true' } }) }}
    {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
</div>
