.sms-code-form
  .input .input__group
      @media (max-width: 767px)
        width 80%
  .sms-code-form-counter
    min-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: normal;
    font-size: 12px;
    font-weight: 300;
    color: #78818f;
    width: 150%;
    margin-top: -30px
    @media (max-width: 767px)
      margin-top -15px
    &.state_form_error
      margin-top -10px
      @media (max-width: 767px)
        margin-top -5px
  .sms-code-button
    display none
    margin-top 32px
    &.state_enabled
      display block
  .sms-code-button-submit
    margin-top 32px
  .button_type-link
    float right
