.form-landing-bg
  background-image url("../illustrations/form-landing-bg.svg")
  background-repeat no-repeat
  background-position center 70px
  background-size 90% auto
  @media (max-width: 1279px)
    background-image none
    margin-left 20px
    margin-right 20px
    .form__field-group_radio
      .mr-56
        margin-right 18px!important
