*
  box-sizing border-box

body
  position: relative

a, button, input
  padding: 0
  border: none
  background: none
  outline: none
  text-decoration: none

h1, h2, h3, h4, h5, p, ul
  margin: 0
  padding: 0
  list-style: none

.state_unscroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.state_hidden
  display: none !important

.state_invisible
  opacity: 0 !important
  visibility: hidden !important
  height: 0 !important
  overflow: hidden !important;

.state_inactive
  opacity: 0 !important
  visibility: hidden !important

.state_no-border
  border-bottom: none !important
  border-top: none !important

.state_no-margin-bottom
  margin-bottom: 0 !important

.jspPane
  position: absolute
  top: 0
  width: 100% !important
  margin-left: 0 !important

.jspContainer
  position: relative
  overflow: hidden
  width: 100% !important
  height: 100%
  outline: none

.jspTrack
  position: relative
  height: 100%

.jspVerticalBar
  position: absolute;
  top: 0;
  right: 8px;
  width: 4px;
  height: 100%

.jspDrag
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius 2px
  background-color $color_borders

.jspCap {
  display: block;
  background: none;
}

.jspVerticalBar .jspCap {
  height: 16px
}
