$font-size-16 = 16px

$fntSize_basic = $font-size-16

$white = #fff
$gainsboro = #D8D8D8
$black = #000
$cyprus = #001934
$madison = #30445a
$heather = #b2bac2
$royal_blue = #4573d9
$speech_blue = #3b66c5
$slate_grey = #78818f
$white_smoke = #f7f7f7
$white_smoke_dark = #f2f2f2;
$very_light_gray = #c8c8c8
$perano = #9db6ef;

$color_dark = $black
$color_light = $white
$color_borders = $gainsboro
$color_borders_light = $very_light_gray
$color_default = $royal_blue
$color_elem = $cyprus
$color_card = $white_smoke
$color_card_hover = $white_smoke_dark;
$color_tab = $perano;

/* --- */
$color_hover = $speech_blue
$color_selector = $speech_blue //button_type-anchor selector
$color_inactive = $heather

$color_text = $madison
$color_link = $slate_grey

$interval = 300ms
