$font-size-16 = 16px

$fntSize_basic = $font-size-16
$fntSize_basic-small = $font-size-16 * 0.875 // 14px
$fntSize_basic-little = $font-size-16 * 0.75 // 12px

$white = #fff
$gainsboro = #d8d8d8
$black = #000
$cyprus = #001934
$madison = #30445a
$heather = #b2bac2
$royal_blue = #4573d9
$speech_blue = #3b66c5
$slate_grey = #78818f
$white_smoke = #f7f7f7
$white_smoke_dark = #f2f2f2
$very_light_gray = #c8c8c8
$perano = #9db6ef
$periwinkle = #b9c9ef
$yellow_green= #9dc92b
$torch_red = #f0002d
$snow = #fbfbfb
$button_hover = #ACC2F5
$button_clicked_backgr = #2F53A4
$card_circle_hover_default = #E3EAFA
$card_circle_hover_gray = #EDEDED
$stress_block_min = #E4EAF9
$underline_grey = #EFEFF0

/*colors for underground */
$orange = #D97E48
$yellow = #EFC95A
$green = #44975C
$light_green = #B4CD5D
$fenny = #9A9A98
$grey = #ACB7D2
$brown = #825342
$pink = #FFAEAE
$red = #E04335
$dark_blue = #2F679E
$light_blue = #52B5DE
$turquoise = #69B7AB
$purple = #764A85



$color_dark = $black
$color_light = $white
$color_borders = $gainsboro
$color_borders_light = $very_light_gray
$color_default = $royal_blue
$color_elem = $cyprus
$color_card = $white_smoke
$color_card_hover = $white_smoke_dark
$color_tab = $perano
$color_arrow = $periwinkle

$color_active = $yellow_green
$color_alert = $torch_red

/* --- */
$color_hover = $speech_blue
$color_selector = $speech_blue //button_type-anchor selector
$color_inactive = $heather

$color_text = $madison
$color_link = $slate_grey

$interval = 300ms
