$white = #fff
$gainsboro = #D8D8D8
$black = #000
$madison = #30445a
$heather = #b2bac2
$royal_blue = #4573d9
$speech_blue = #3b66c5

$color_dark = $black
$color_light = $white
$color_borders = $gainsboro
$color_default = $royal_blue

/* --- */
$color_hover = $speech_blue
$color_selector = $speech_blue //button_type-anchor selector
$color_inactive = $heather

$color_text = $madison

$interval = 300ms