.form__form-delivery
  display: none;
  margin-bottom: 50px;
  .form_office-delivery-wrapper_none
    display: none;
  .form_office-delivery
    p
      color: $slate_grey;
      margin-bottom: 24px;
      margin-left: 40px;
      font-size 13px

.form__form-delivery_active
  display: block;
