.form__form-delivery
  display: none;
  margin-bottom: 50px;
  .js-check-delivery_none
    display: none;
  .form__address-delivery
    color: $slate_grey;
    p
      margin-bottom: 10px;

.form__form-delivery_active
  display: block;
