.landing-exchange__header-title
  min-width 456px
  max-width 100%
  display inline-block
  color $color_elem
  formularBold(24px,1.33)
  font-style normal
  font-stretch normal
  letter-spacing normal
  @media (max-width 769px)
    min-width 100%  

