.landing-exchange__header-item
  display inline-block
  position relative
  padding-left 106px
  padding-right 32px
  @media (max-width 769px)
    margin-top 20px
  &-img
    max-width 74px
    display inline-block
    position absolute
    top 0
    left 0
    box-shadow 0 0 20px 5px rgba(0, 0, 0, 0.03)
  &-title
    color $color_elem
    formularBold(16px,1.5)
    font-style normal
    font-stretch normal
    letter-spacing normal
  &-text
    color $color_elem
    opacity 0.7
    opensansRegular(14px,1.57)
