{% macro inlineSvg(data) %}
  {% for value in data.path -%}
    <img class='image {{ data.class }}' src="{{ value | safe }}">
  {%- endfor %}
  {#<!-- inject:{{ data.path }} --><!-- endinject -->#}
{% endmacro %}
