.landing-white-block
  background-color $color_light
  margin-top 64px
  padding 43px 56px
  box-shadow 0 4px 10px 0 rgba(0, 25, 52, 0.05)
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  align-items center
