{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/socials/socials.njk" as Socials %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/icon/icon.njk" as Icon %}


{% set root = "." %}

{% set title = "О БКС Банке" %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section page__section_theme-large">

        {# Чтобы установить картинку на фон, необходимо добавить style="backgraun-image: url(путь до картинки)" #}
        <div class="section__header section__header_theme-blue">
          {{ Menubar.menubar({ 'theme': 'blue', 'class': 'section__menubar' }) }}
          <div class="page__container page__container_type-header">
            {{ Heading.heading({ 'tag': 'h1', 'title': 'О БКС Банке' | striptags(true) | escape | nl2br, 'type': 'large', 'margin': 'long' }) }}
          </div>
        </div>

      </section>

      <section class="section page__section">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-centered">
              {{ Heading.heading({ 'title': 'КС Банк — часть российской группы компаний, предоставляющей частным и институциональным клиентам полный спектр финансовых услуг. Также является крупнейшей инвестиционной российской компанией по объему операций с ценными бумагами.', 'type': 'normal', 'margin': 'short', 'class': 'mb-64' }) }}
              {{ Feature.feature({ 'title': 'Внимательное обслуживание', 'text': 'Высокий уровень обслуживания клиентов и оказания услуг. \n Мы делаем сложный банковский мир доступным каждому клиенту.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/shield-image.svg', 'class': 'mb-56'}) }}
              {{ Feature.feature({ 'title': 'Широкий спектр услуг', 'text': 'Продукты и услуги для частных и корпоративных клиентов: \n вклады, кредитование, денежные переводы и операции с ценными бумагами.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/shield-image.svg', 'class': 'mb-56'}) }}
              {{ Feature.feature({ 'title': 'Индивидуальный подход', 'text': 'Мы учитываем потребности каждого клиента, и готовы разрабатывать нестандартные решения с использованием любых финансовых инструментов.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/shield-image.svg'}) }}

            </div>


          </div>
        </div>
      </section>

      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content">
              <div class="text">
                <div class="text__quote text__quote_theme-blue text__quote_theme-last">
                  <div class="text__quote-content">
                    2015 — это год 20-летия БКС. Помогая в достижении финансовых целей тысячам клиентов, за два
                    десятилетия мы построили эффективный бизнес международного масштаба. В его основе лежат опыт и
                    профессионализм нашей команды, передовые технологии и наше деловое кредо — предоставлять клиентам
                    первоклассные финансовые услуги.
                  </div>
                  <div class="text__quote-author">
                    Олег Михасенко
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
