{% extends "layout/layout.njk" %}
{#{% extends "library/card/card.njk" %}#}

{% set root = "." %}
{% set title = "Советы" %}
{% set header = 'blue' %}

{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/card/card.njk" as Card with context %}
{% import "../components/modules/advice/advice.njk" as Advice %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/icon/icon.njk" as Icon %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section">
        <div class="section__header section__header_filled-bg">

          <div class="carousel">
            <div class="carousel__progressbar carousel__progressbar-bar_full-screen carousel__progressbar_white">
              <div class="carousel__progressbar-bar  js-carousel-progressbar"></div>
            </div>
            <div class="index-carousel index-carousel_filled-bg js-carousel" data-id="index-header">
              <div class="index-carousel__slide" data-href="/bks/cards-detail_bks-platinum.html" data-scroll-id="#section-request">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">

                      <div class="index-carousel__content">
                        <div class="features index-carousel__features">
                            {{ Feature.feature({ 'title': '21 марта 2018', 'text': '', 'mods': {'type': 'normal','view' : 'thin'}, 'class': 'index-carousel__feature'}) }}
                        </div>
                          {{ Heading.heading({ 'tag': 'h1', 'title': 'Как хранить финансовую «подушку безопасности»', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                      </div>
                      <div class="index-carousel__image  index-carousel__image_full-screen">
                        <div class="illustration">
                          <img class="illustration-image" src="https://s1.1zoom.ru/big0/930/Coast_Sunrises_and_sunsets_Waves_USA_Ocean_Kaneohe_521540_1280x775.jpg" alt="Сократите платежи по всем кредитам">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page__container">
            <div class="section__header-controls">

              {{ Button.button({ 'href': '/bks/cards-detail_bks-platinum.html?#section-request', 'title': 'Читать', 'mods': { 'theme': 'white','view': 'outlined' }, 'class': 'section__header-button js-redirect-scroll' }) }}

              <div class="carousel-controls js-index-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="index-header">
                  <span>01</span><span></span><span></span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>
      <section class="advices advices_view-group section page__section page__section_theme-large">
        <div class="page__container">
          <div class="section__row">
            {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '21 марта 2018', 'img': 'assets/images/advice-1.jpg', 'class': 'section__element advice_size-big' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Как поужинать в любимом ресторане за счет банка' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-1.jpg', 'class': 'section__element' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Где срочно взять деньги' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-2.jpg', 'class': 'section__element' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-3.jpg', 'class': 'section__element' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-3.jpg', 'class': 'section__element' }) }}
          </div>
        </div>
      </section>
      <section class="section section_theme-blue page__section">
        <div class="page__container">
            {{ Heading.heading({ 'title': 'Подборки', 'mods': { 'type': 'default', 'margin': 'normal', 'theme': 'light' }, 'class': 'hidden-mobile' }) }}
          <div class="section__row">
            <div class="company__carousel carousel carousel_type-mobile">
              <div class="carousel-controls js-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="advice-filtered">
                  <span>01</span><span></span><span></span>
                </div>
              </div>
              <div class="js-carousel carousel__content" data-id="advice-filtered" data-breakpoint="768">
                  {{ Card.card({ 'href': '#', 'icon': 'assets/images/svg/premier.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'button', 'title': 'Ваш персональный финансовый советник в БКС онлайн', 'subtitle': 'Инвестиции доступные \n каждому' | striptags(true) | escape | nl2br, 'link': 'БКС Премьер', 'class': 'section__element company__card' }) }}
                  {{ Card.card({ 'href': '#', 'icon': 'assets/images/svg/logo-dark.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'button', 'title': 'Инвестируйте \n с крупнейшим \n брокером России' | striptags(true) | escape | nl2br, 'subtitle': 'Достижение ваших \n финансовых целей' | striptags(true) | escape | nl2br, 'link': 'БКС Брокер', 'class': 'section__element company__card' }) }}
                  {{ Card.card({ 'href': '#', 'icon': 'assets/images/svg/ultima.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'button', 'title': 'Персональный банк самых амбициозных', 'subtitle': 'Уникальные привилегии \n и безграничные возможности' | striptags(true) | escape | nl2br, 'link': 'БКС Ультима', 'class': 'section__element company__card' }) }}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="advices advices_view-group section page__section page__section_theme-large">
        <div class="page__container">
          <div class="section__row">
              {{ Advice.advice({ 'href': '#', 'title': 'Как поужинать в любимом ресторане за счет банка' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-1.jpg', 'class': 'section__element' }) }}
              {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '21 марта 2018', 'img': 'assets/images/advice-1.jpg', 'class': 'section__element advice_size-big' }) }}
              {{ Advice.advice({ 'href': '#', 'title': 'Где срочно взять деньги' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-2.jpg', 'class': 'section__element' }) }}
              {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-3.jpg', 'class': 'section__element' }) }}
              {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-3.jpg', 'class': 'section__element' }) }}
              {{ Button.button({ 'title': 'Показать еще', 'mods' : {'theme': 'default', 'view': 'outlined', 'size': 'wide'}, 'attr': {'see-more': ''} }) }}
          </div>
        </div>
      </section>
      <section class="section section_theme-blue page__section">
        <div class="page__container">
            {{ Heading.heading({ 'title': 'Подписка на советы от БКС', 'mods': { 'type': 'default', 'margin': 'normal', 'theme': 'light' }, 'class': 'hidden-mobile' }) }}
          <div class="section__row">

          </div>
        </div>
      </section>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
