{% extends "layout/layout.njk" %}
{#{% extends "library/card/card.njk" %}#}

{% set root = "." %}
{% set title = "БКС Бонус" %}
{% set header = 'blue' %}

{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/checkbox/checkbox.njk" as Checkbox %}
{% import "../components/library/context/context.njk" as Context %}
{% import "../components/icon/icon.njk" as Icon %}
{% import "../components/inline-svg/inline-svg.njk" as Svg %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">

          <div class="carousel">
            <div class="carousel__progressbar">
              <div class="carousel__progressbar-bar js-carousel-progressbar"></div>
            </div>
            <div class="index-carousel index-carousel_image-normal js-carousel" data-id="index-header">
              <div class="index-carousel__slide">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Зарабатывайте \n без усилий', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="index-carousel__features">
                          {{ Feature.feature({ 'title': '1 бонус = 1 #ruble', 'text': 'Получайте бонусы с каждой покупки карой БКС \n и обменивайте их на деньги', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                        </div>
                      </div>
                      <div class="index-carousel__image" data-illustration="">
                        <img class="illustration" src="assets/images/bonus-banner.png" alt="Зарабатывайте без усилий">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="index-carousel__slide">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Зарабатывайте \n без усилий', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="index-carousel__features">
                          {{ Feature.feature({ 'title': '1 бонус = 1 #ruble', 'text': 'Получайте бонусы с каждой покупки карой БКС \n и обменивайте их на деньги', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                        </div>
                      </div>
                      <div class="index-carousel__image">
                        <img class="illustration" src="assets/images/bonus-banner.png" alt="Зарабатывайте без усилий">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="index-carousel__slide">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Зарабатывайте \n без усилий', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="index-carousel__features">
                          {{ Feature.feature({ 'title': '1 бонус = 1 #ruble', 'text': 'Получайте бонусы с каждой покупки карой БКС \n и обменивайте их на деньги', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                        </div>
                      </div>
                      <div class="index-carousel__image">
                        <img class="illustration" src="assets/images/bonus-banner.png" alt="Зарабатывайте без усилий">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page__container">
            <div class="section__header-controls">

              {{ Button.button({ 'title': 'Узнать больше', 'mods': { 'theme': 'white' }, 'class': 'section__header-button' }) }}

              <div class="carousel-controls js-index-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="index-header">
                  <span>01</span><span></span><span></span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>
      <section class="section page__section">
        <div class="page__container">
          {{ Heading.heading({ 'title': 'Зарабатывайте, когда тратите', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered' }) }}
        </div>
        {{ BrandFeatures.brandFeatures({ 'items': [
          {
            'icon': 'assets/images/svg/gift-image.svg',
            'title': 'Бонусы каждый день',
            'subtitle': 'За покупки, перелёты, \n бронирование отелей и т.п.'
          },
          {
            'icon': 'assets/images/svg/kopeiki-image.svg',
            'title': '1 бонус = 1₽',
            'subtitle': 'Конвертируйте бонусы \n в рубли'
          },
          {
            'icon': 'assets/images/svg/shield-image.svg',
            'title': 'Не сгорают',
            'subtitle': 'Накопленные бонусы \n не сгорают никогда'
          }
        ] }) }}
      </section>
      <section
          class="bonus section section_theme-white-smoke section_padding-default page__section page__section_theme-last">
        <div class="page__container">
          {{ Heading.heading({ 'title': 'Получайте больше выгоды', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
          <div class="text mb-56">Покупки картой БКС по спецпредложениям от наших партнеров</div>
          <div class="bonus__content">
            <div class="bonus__list">
              <a href="#modal" class="bonus__item js-bonus-item js-bonus-item-show-popup">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/aviasales.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">2</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Авиабилеты</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/ostrovok.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">7</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Отели</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/rentalcars.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">7</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Аренда авто</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/cherehapa.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">7</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Страховка для путешествий</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/weatlas.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">5</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Индивидуальные экскурсии по миру</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/taxfree.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">19</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус до</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Возврат НДС</p>
                  <p class="bonus__title">За покупки в Европе</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/bks.png'] }) }}
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Обмен валюты</p>
                  <p class="bonus__title">Самый выгодный курс</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/ticketsru.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">3</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Билеты на Аэроэкспресс</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/ticketsru.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">3</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Железнодорожные билеты</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/telemedhelp.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">7</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Консультации с врачами онлайн</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/alfred.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">3</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Помощь в ремонте автомобилей</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/bks.png'] }) }}
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">ОСАГО</p>
                  <p class="bonus__title">Оформление электронного полиса онлайн</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/yurist24.png'] }) }}
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Юридические консультации</p>
                  <p class="bonus__title">Круглосуточная помощь по юридическим вопросам</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/nalogiya.png'] }) }}
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Возврат налогов</p>
                  <p class="bonus__title">Помощь в подаче налоговой декларации 3-НДФЛ</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/simple-travel.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">5</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Помощь в получении визы</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/simple-travel.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">7</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Гастрономические и винные туры</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/okko.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">5</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Фильмы в онлайн-кинотеатре</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/citymobil.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">10</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Заказ такси</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
              <a href="#" class="bonus__item js-bonus-item">
                <div class="bonus__info">
                  <div class="bonus__icon">
                    {{ Svg.inlineSvg({ 'path': ['assets/images/rolf.png'] }) }}
                  </div>
                  <div class="bonus__detail">
                    <p class="bonus__amount">5</p>
                    <div>
                      <p class="bonus__symbol">%</p>
                      <p class="text mobile">бонус</p>
                    </div>
                    <p class="text">Бонус</p>
                  </div>
                </div>
                <div class="bonus__caption">
                  <p class="bonus__name">Ремонт авто, шиномонтаж</p>
                  {{ Icon.icon({ 'name': 'download' }) }}
                </div>
              </a>
            </div>
            <div class="bonus__filter">
              {{ Context.context({ 'title': 'Фильтровать категории', 'name': 'dropdown', 'icon': 'filter', 'mods': { 'type': 'menu', 'theme': 'black' }, 'attr': {'id': 'bonus-filter'}, 'class': 'bonus__filter-explore' }) }}
              {% include "../components/modules/bonus/bonus-filter/bonus-filter.njk" %}
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
