{% extends "layout/layout.njk" %}
{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/public-services/public-services.njk" as PublicService %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}
{% import "../components/modules/helper/helper.njk" as Helper %}

{% set root = "." %}
{% set title = "MORE Signature" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page product-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section pp_first_section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            <div class="section__row">
              <div class="products-detail__content js-scroll-animate">
                {{ Heading.heading({ 'tag': 'h1', 'title': 'MORE Visa Signature', 'mods': { 'type': 'large', 'margin': 'medium' } }) }}
                <div class="features">
                  {{ Feature.feature({ 'title': '0 ₽', 'text': 'За посещения бизнес-залов Lounge Key', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': 'до 5%', 'text': 'бонусы за все \n покупки', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': 'от 0 ₽', 'text': 'стоимость \n обслуживания', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                </div>
                <div class="pp_button_row">
                  <button class='button  button_theme-white products-detail__nav-button js-button' data-scroll="#section-request">
                    <span class='button__wrap'>
                    <span class='button__title js-button-title'>Оформить карту</span>
                    </span>
                  </button>
                </div>
              </div>
              <div class="products-detail__figure js-scroll-animate" data-illustration="">
                <div class="illustration">
                  <img class="illustration-image" src="assets/illustrations/more_signature.svg" alt="MORE Signature"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="section__nav-wrapper pp_tab_nav">
            <div class="section__nav products-detail__nav">
                <div class="page__container">
                    <div class="section__wrap">
                        <div class="tabbar__scroll-wrapper js-tab-scroll">
                            {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О карте', 'id': 'about-card' }, {'title': 'Тарифы и документы', 'id': 'card-docs'}, {'title': 'Частые вопросы', 'id': 'card-faq'}] }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="tabs js-tabs">
        <div id="about-card" class="tabs__item js-tab state_invisible">
          <section
              class="pp_features section page__section js-scroll-animate">
              {{ BrandFeatures.brandFeatures({
                  'items': [
                      { 'icon': 'assets/images/svg/card-image.svg', 'title': 'Комфортно', 'subtitle': 'Консьерж-сервис 24/7, \n доступ в бизнес-залы \n Lounge Key бесплатно' },
                      { 'icon': 'assets/images/svg/sand-clock-image.svg', 'title': 'Выгодно', 'subtitle': 'Карта с мультивалютными \n  счетами в ₽, $ и €' },
                      { 'icon': 'assets/images/svg/kopeiki-image.svg', 'title': 'Безопасно', 'subtitle': 'Страховка в путешествиях по всему \n  миру до 100 000 € (со спортом)' },
                      { 'props': { 'large': '500', 'small': 'тыс. ₽' }, 'descr': 'Снятие наличных в банкоматах \n по всему миру без комиссии' },
                      { 'props': { 'small': 'до', 'large': '10%' }, 'descr': 'Бонусы за покупки \n у тревел-партнеров' },
                      { 'props': { 'large': '0 ₽' }, 'descr': 'Онлайн-консультации с врачами \n  из любой точки мира' }
                  ],
                  'js_carousel': 0
              }) }}
          </section>
          <section class="pp_calc_section section section_theme-white-smoke page__section mobile-mb-0 js-scroll-animate">
            <div class="calculator js-calc-result">
              <div
                  class="page__container"> {{ Heading.heading({ 'title': 'Рассчитайте свои бонусы', 'mods': { 'type': 'default', 'margin': 'medium' } }) }}
                <div class="text text_theme-gray">Расчет носит информационный характер и не является публичной офертой.</div>
                <div class="section__row calculator__row">
                  <div class="form form_layout-narrow calculator__form">
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'Сумма покупок по карте в месяц', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'allcost', 'class': 'js-numeric-input' }, 'title': '₽ / мес.', 'slider': { 'min': 0, 'max': 200000, 'from': 30000, 'step': 1000 } }) }}
                      </fieldset>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="calculation__thumbnail">
                      <div class="text">Вы заработаете за год</div>
                      <!--#2-->
                      <div class="calculation__result"><span
                                data-calc="KHN1bW0qNS4zLzEwMCkqMTI="
                                data-params="summ|allcost"
                                data-ordered="1"
                                data-round="0"
                        >10 500</span> <span class="text">бонусов</span></div>
                      <!--/#2-->
                        {{ Button.button({ 'title': 'Оформить карту', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': '', attr: {'scroll': '#section-request'} }) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="calculator-hidden-out">
                <!--#1-->
                <span
                        data-calc="YXpzK2NhZmUrZmlsbStzcG9ydCttZWFsK290aGVy"
                        data-params="azs|calc_fuel_costs,cafe|calc_cafe_costs,film|calc_film_costs,sport|calc_sport_costs,meal|calc_meal_costs,other|calc_others_costs"
                        data-bind="allcost"
                        data-ordered="0"
                        data-round="2"
                ></span>
                <input type="hidden" value="0" name="allcost">
                <!--/#1-->
              </div>
            </div>
          </section>

          <section class="pp_mobile mobile section mobile_theme-blue page__section page__section_theme-large js-scroll-animate">
            <div class="page__container">
              <div class="mobile__wrapper">
                <div class="section__row">
                  <div class="mobile__content">
                    {{ Heading.heading({ 'title': 'Легкий мобильный банк', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
                    <div class="section__text section__text_theme-normal section__text_theme-light">
                      <p>Ваш бесплатный помощник в получении банковских услуг. <br>Легко скачать, легко использовать</p>
                    </div>
                    <div class="mobile__vendors">
                      <a class="pp_button_icon_block" href="https://play.google.com/store/apps/details?id=cz.bsc.bcs">
                        <span class='pp_button_icon'>
                            {{ Icon.icon({ 'name': 'android' }) }}
                        </span>
                        <span class='pp_button_label'>Google Play</span>
                      </a>
                      <a class="pp_button_icon_block" href="https://itunes.apple.com/ru/app/bks-onlajn/id652802642">
                        <span class='pp_button_icon'>
                            {{ Icon.icon({ 'name': 'apple' }) }}
                        </span>
                        <span class='pp_button_label'>AppStore</span>
                      </a>
                    </div>
                  </div>
                  <div class="mobile__figure">
                    <img class="illustration" src="assets/illustrations/mobile_bank.svg" alt="Легкий мобильный банк">
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="pp_steps section page__section js-scroll-animate">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Оформите заявку — наш курьер доставит \n вам карту в удобное время', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered' }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [ { 'icon': 'assets/images/svg/list-image.svg', 'title': 'Оставьте заявку', 'subtitle': 'Заполнение заявки \n займет 5 минут', 'mods': { 'theme': 'lined' } }, { 'icon': 'assets/images/svg/sand-clock-image.svg', 'title': 'Получите карту', 'subtitle': 'Наш специалист доставит Вам \n документы и карту бесплатно', 'mods': { 'theme': 'lined' } }, { 'icon': 'assets/images/svg/card-image.svg', 'title': 'Пользуйтесь картой', 'subtitle': 'Получайте бонусы с каждой \n покупки и меняйте их на рубли' } ], 'js_carousel': 0 }) }}
          </section>
          <section id="section-request" class="pp_card section section_theme-white-smoke section_padding-default page__section js-scroll-animate">
            <div class="products-detail__request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на карту' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text text_theme-gray mb-56">
                  Карта MORE Visa Signature открывается в рамках пакета услуг «MORE Prime».
                </div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form" data-form="cards">
                    <div class="form__steps"> Шаг <span>1</span> из <span>4</span>
                    </div> {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                    <form action="/rplpost">
                      <fieldset> {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                        <div class="form__line-group">
                          {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                          {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                        </div>
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                      </fieldset>
                      <div class="form__agreements">
                        <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox"> <input
                              type="checkbox" class="checkbox__control" name="question__personal" checked>
                          <span class="checkbox__state"></span>
                          <span
                              class="checkbox__label"> Даю согласие на обработку <br> {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }} </span>
                        </label> {{ Button.button({ 'title': 'Далее', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                      </div>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="text calculation__text">2 дополнительные карты Visa Platinum бесплатно
                    </div>
                    <img src="assets/images/card_more_signature.png" class="calculation__image"
                         alt="БКС Банк">
                    <div class="pp_button_line">
                      <a class="pp_button_icon_big" href="#" target="_blank">
                        <span class='pp_button_icon'>
                            <img src="/assets/images/gos.svg">
                        </span>
                        <span class='pp_button_label'>Оформить через госуслуги</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div
                    class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Тарифы и документы', 'mods': { 'type': 'normal', 'margin': 'short' } }) }}

                  <div class="table table_sortable table_theme-default mb-64">
                    <table class="table__content">
                      <thead class="table__head">
                      <tr>
                        <th><span class="table__column-title">Пакет услуг</span></th>
                        <th><span class="table__column-title">Брокер</span></th>
                      </tr>
                      </thead>
                      <tbody class="table__body">
                      <tr>
                        <td>Условия обслуживания</td>
                        <td>Бесплатно</td>
                      </tr>
                      <tr>
                        <td> Переводы в рублях в БКС Онлайн и мобильном банке</td>
                        <td> Без комиссии</td>
                      </tr>
                      <tr>
                        <td> Количество счетов</td>
                        <td> Три текущих и три накопительных счета в валютах: рубли, доллары, евро</td>
                      </tr>
                      <tr>
                        <td> Смс-информирование</td>
                        <td> 59 руб. в месяц</td>
                      </tr>
                      <tr>
                        <td> Бонусная программа</td>
                        <td> Возврат 3% в категории на выбор (АЗС, рестораны, путешествия, одежда и обувь) и 1% от
                          всех остальных покупок по карте. При поддержании среднемесячных активов в ООО «Компания
                          БКС»: от 50 000 до 300 000 руб. — 3% в категории АЗС; от 300 000 до 1 000 000 руб. — 3% в
                          одной из категорий: АЗС или путешествия; от 1 000 000 до 10 000 000 руб. — 3% в одной из
                          категорий на выбор: АЗС, путешествия или рестораны; от 10 000 000 руб. и более — 3% в двух
                          категориях на выбор: АЗС, путешествия, рестораны или одежда и обувь. Ограничение по
                          максимальной сумме выплаты бонусных баллов в месяц — 4000 баллов, баллы конвертируются в
                          рубли, 1 балл = 1 рубль. Управление бонусным счетом через БКС Онлайн и Мобильный Банк.
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                </div>
              </div>
            </div>

            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Полное описание тарифов</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Документы</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div
                    class="section__content section__content_theme-centered"> {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }} </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как узнать сумму ежемесячного платежа</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Может ли кто-то другой внести за меня ежемесячный платеж?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Я внес сумму, превыщающую ежемесячный платеж, что произойдет?
                  </div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что такое частичное досрочное погашение кредита?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Могу ли я сразу внести несколько платежей?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      {{ Helper.popup() }}
    </main> {% include "../components/modules/footer/footer-product.njk" %} </div> {% endblock %}
