{% extends "layout/layout.njk" %}
{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/public-services/public-services.njk" as PublicService %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}
{% import "../components/modules/helper/helper.njk" as Helper %}

{% set root = "." %}
{% set title = "MORE Signature" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            <div class="section__row">
              <div class="products-detail__content js-scroll-animate">
                {{ Breadcrumbs.breadcrumbs({ 'main': {'title': 'Дебетовые карты', 'link': '#' } }) }}
                {{ Heading.heading({ 'tag': 'h1', 'title': 'MORE Signature', 'mods': { 'type': 'large', 'margin': 'medium' } }) }}
                <div class="features">
                  {{ Feature.feature({ 'title': '5%', 'text': 'от всех покупок \n возвращаем на карту', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': '0#ruble', 'text': 'посещение бизнес\n залов Lounge Key', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': 'От 0#ruble', 'text': 'стоимость \n обслуживания', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                </div>
              </div>
              <div class="products-detail__figure js-scroll-animate" data-illustration="">
                <div class="illustration">
                  <img class="illustration-image" src="assets/illustrations/more_signature.svg" alt="MORE Signature"></div>
              </div>
            </div>
          </div>
          <div class="section__nav-wrapper">
            <div class="section__nav products-detail__nav">
              <div class="page__container">
                <div class="section__wrap">
                  <div class="tabbar__scroll-wrapper js-tab-scroll">
                    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О карте', 'id': 'about-card' }, {'title': 'Тарифы и документы', 'id': 'card-docs'}, {'title': 'Частые вопросы', 'id': 'card-faq'}] }) }}
                  </div>
                  {{ Button.button({ 'title': 'Оформите карту', 'mods': { 'theme': 'white' }, 'class': 'products-detail__nav-button', attr: {'scroll': '#section-request'} }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="tabs js-tabs">
        <div id="about-card" class="tabs__item js-tab state_invisible">
          <section
              class="section page__section js-scroll-animate"> {{ BrandFeatures.brandFeatures({ 'items': [ { 'icon': 'assets/images/svg/card-image.svg', 'title': 'Удобно', 'subtitle': 'Все самое необходимое \n для комфортных \n путешествий в одной карте', 'props': { 'large': '500', 'small': 'тыс. #ruble' }, 'descr': 'Снятие наличных в месяц \n без комиссии по всему миру' }, { 'icon': 'assets/images/svg/sand-clock-image.svg', 'title': 'Комфортно', 'subtitle': 'Консьерж-сервис 24/7, трансферы \n в аэропорты, доступ в бизнес \n залы Lounge Key бесплатно', 'props': { 'small': 'до', 'large': '30%' }, 'descr': 'Бонусов за покупки \n у партнеров' }, { 'icon': 'assets/images/svg/kopeiki-image.svg', 'title': 'Выгодно', 'subtitle': '1 карта \n с 3 валютными \n счетами #ruble, #dollar, #euro', 'props': { 'large': '0#ruble' }, 'descr': 'Консультации врачей, страховка \n путешествий до 100 000 #euro + спорт' } ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section mobile-mb-0 js-scroll-animate">
            <div class="calculator js-calc-result">
              <div
                  class="page__container"> {{ Heading.heading({ 'title': 'Рассчитайте свой кэшбэк', 'mods': { 'type': 'default', 'margin': 'medium' } }) }}
                <div class="text text_theme-gray mb-56">Расчет носит информационный характер и не является <br> публичной офертой.</div>
                <div class="section__row calculator__row">
                  <div class="form form_layout-narrow calculator__form">
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'Расходы на АЗС', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_fuel_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 30000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на рестораны', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_cafe_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 50000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на театр и кино', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_film_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 10000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на спорт и красоту', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_sport_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 100000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на продукты', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_meal_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 5000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на прочие покупки', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_others_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 20000, 'step': 1000 } }) }}
                      </fieldset>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="calculation__thumbnail">
                      <div class="text">Вы заработаете за год</div>
                      <!--#2-->
                      <div class="calculation__result"><span
                                data-calc="KHN1bW0qNS4zLzEwMCkqMTI="
                                data-params="summ|allcost"
                                data-ordered="1"
                                data-round="2"
                        >10 500</span></div>
                      <!--/#2-->

                      <div class="calculation__conclusion text">
                        * При совершении покупок в соответствии с выбранным ПУ.
                      </div>
                        {{ Button.button({ 'title': 'Оформите карту', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40', attr: {'scroll': '#section-request'} }) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="calculator-hidden-out">
                <!--#1-->
                <span
                        data-calc="YXpzK2NhZmUrZmlsbStzcG9ydCttZWFsK290aGVy"
                        data-params="azs|calc_fuel_costs,cafe|calc_cafe_costs,film|calc_film_costs,sport|calc_sport_costs,meal|calc_meal_costs,other|calc_others_costs"
                        data-bind="allcost"
                        data-ordered="0"
                        data-round="2"
                ></span>
                <input type="hidden" value="0" name="allcost">
                <!--/#1-->
              </div>
            </div>
          </section>

          <section class="mobile section mobile_theme-blue page__section page__section_theme-large js-scroll-animate">
            <div class="page__container">
              <div class="mobile__wrapper">
                <div class="section__row">
                  <div class="mobile__content">
                    {{ Heading.heading({ 'title': 'Легкий мобильный банк', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
                    <div class="section__text section__text_theme-normal section__text_theme-light">
                      <p>Управление банковскими и инвестиционными продуктами</p>
                      <p>Оплата услуг без комиссии</p>
                      <p>Переводы по всему миру</p>
                      <p>Обмен валюты по курсу близкому к биржевому</p>
                      <p>Чат с оператором</p>
                    </div>
                    <div class="mobile__vendors">
                      {{ Button.button({ 'href': 'https://play.google.com/store/apps/details?id=cz.bsc.bcs', 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                      {{ Button.button({ 'href': 'https://itunes.apple.com/ru/app/bks-onlajn/id652802642', 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                    </div>
                  </div>
                  <div class="mobile__figure">
                    <img class="illustration" src="assets/illustrations/mobile_bank.svg" alt="Легкий мобильный банк">
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section page__section js-scroll-animate">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Оформите заявку - получите \n карту на следующий день', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-mobile' }) }}
              {{ Heading.heading({ 'title': 'Как оформить заявку?', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-desktop' }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [ { 'icon': 'assets/images/svg/list-image.svg', 'title': 'Оставьте заявку', 'subtitle': 'Заполнение заявки \n займет 5 минут', 'mods': { 'theme': 'lined' } }, { 'icon': 'assets/images/svg/sand-clock-image.svg', 'title': 'Получите карту', 'subtitle': 'Наш специалист доставит Вам \n документы и карту бесплатно', 'mods': { 'theme': 'lined' } }, { 'icon': 'assets/images/svg/card-image.svg', 'title': 'Пользуйтесь картой', 'subtitle': 'Получайте бонусы с каждой \n покупки и меняйте их на рубли' } ] }) }}
          </section>
          <section id="section-request" class="section section_theme-white-smoke section_padding-default page__section js-scroll-animate">
            <div class="products-detail__request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на карту' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text text_theme-gray mb-56">Банковскя карта MORE Visa Platinum с повышенным статусом <br> и набором
                  привилегий. Открывается в
                  рамках {{ Button.button({ 'href': '#', 'title': 'пакета услуг "MORE".', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' }, 'class': 'products-detail__request-link' }) }}
                </div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form" data-form="cards">
                    <div class="form__steps"> Шаг <span>1</span> из <span>4</span>
                    </div> {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                    <form action="/rplpost">
                      <fieldset> {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                        <div class="form__line-group">
                          {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                          {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                        </div>
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                      </fieldset>
                      <div class="form__agreements">
                        <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox"> <input
                              type="checkbox" class="checkbox__control" name="question__personal" checked>
                          <span class="checkbox__state"></span>
                          <span
                              class="checkbox__label"> Даю согласие на обработку <br> {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }} </span>
                        </label> {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                      </div>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="text calculation__text">2 дополнительные карты Visa Platinum бесплатно
                    </div>
                    <img src="assets/images/card_more_signature.png" class="calculation__image"
                         alt="БКС Банк">
                    {{ PublicService.publicService({'signup': {'uslugi': 'sign'} }) }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div
                    class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Тарифы и документы', 'mods': { 'type': 'normal', 'margin': 'short' } }) }}

                  <div class="table table_sortable table_theme-default mb-64">
                    <table class="table__content">
                      <thead class="table__head">
                      <tr>
                        <th><span class="table__column-title">Пакет услуг</span></th>
                        <th><span class="table__column-title">Брокер</span></th>
                      </tr>
                      </thead>
                      <tbody class="table__body">
                      <tr>
                        <td>Условия обслуживания</td>
                        <td>Бесплатно</td>
                      </tr>
                      <tr>
                        <td> Переводы в рублях в БКС Онлайн и мобильном банке</td>
                        <td> Без комиссии</td>
                      </tr>
                      <tr>
                        <td> Количество счетов</td>
                        <td> Три текущих и три накопительных счета в валютах: рубли, доллары, евро</td>
                      </tr>
                      <tr>
                        <td> Смс-информирование</td>
                        <td> 59 руб. в месяц</td>
                      </tr>
                      <tr>
                        <td> Бонусная программа</td>
                        <td> Возврат 3% в категории на выбор (АЗС, рестораны, путешествия, одежда и обувь) и 1% от
                          всех остальных покупок по карте. При поддержании среднемесячных активов в ООО «Компания
                          БКС»: от 50 000 до 300 000 руб. — 3% в категории АЗС; от 300 000 до 1 000 000 руб. — 3% в
                          одной из категорий: АЗС или путешествия; от 1 000 000 до 10 000 000 руб. — 3% в одной из
                          категорий на выбор: АЗС, путешествия или рестораны; от 10 000 000 руб. и более — 3% в двух
                          категориях на выбор: АЗС, путешествия, рестораны или одежда и обувь. Ограничение по
                          максимальной сумме выплаты бонусных баллов в месяц — 4000 баллов, баллы конвертируются в
                          рубли, 1 балл = 1 рубль. Управление бонусным счетом через БКС Онлайн и Мобильный Банк.
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                </div>
              </div>
            </div>

            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Полное описание тарифов</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Документы</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div
                    class="section__content section__content_theme-centered"> {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }} </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как узнать сумму ежемесячного платежа</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Может ли кто-то другой внести за меня ежемесячный платеж?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Я внес сумму, превыщающую ежемесячный платеж, что произойдет?
                  </div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что такое частичное досрочное погашение кредита?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Могу ли я сразу внести несколько платежей?</div>
                  <div class="collapse__control-icon"> {{ Icon.icon({ 'name': 'dropdown' }) }} </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      {{ Helper.popup() }}
    </main> {% include "../components/modules/footer/footer.njk" %} </div> {% endblock %}
