{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/context/context.njk" as Context %}
{% import "../components/library/checkbox/checkbox.njk" as Checkbox %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/modules/plastic-card/plastic-card.njk" as PlasticCard %}

{% set root = "." %}
{% set title = "Карты" %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products js-plastic-cards">

      <section class="section page__section page__section_theme-first mb-82">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-default">
              {{ Heading.heading({ 'tag': 'h1', 'title': 'Карты', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'default' } }) }}
            </div>
          </div>
        </div>
        <div class="products__header">
          <div class="page__container">
            <div class="products__controls js-tab-scroll">
              {{ Tabbar.tabbar({ 'anchor': { 'view': 'underscore', 'theme': 'default-tab' }, 'tabs': [{'title': 'Дебетовые', 'id': 'debet', 'state': 'active' }, {'title': 'Кредитные', 'id': 'credit'}, {'title': 'Пакеты услуг', 'id': 'packets'}], 'class': 'products__tabbar js-products-tabbar' }) }}
              <div class="filter products__filter js-products-filter">
                <div class="filter__wrapper">
                  <div class="filter__title hidden-mobile">Бонусы за:</div>
                  <div class="filter__select hidden-mobile">
                    {{ Checkbox.checkbox({ 'label': 'АЗС', 'mods': {'theme': 'dark'}, 'name': '', 'class': 'filter__item' }) }}
                    {{ Checkbox.checkbox({ 'label': 'Кафе и рестораны', 'mods': {'theme': 'dark'}, 'name': '', 'class': 'filter__item' }) }}
                    {{ Checkbox.checkbox({ 'label': 'Театр и кино', 'mods': {'theme': 'dark'}, 'name': '', 'class': 'filter__item' }) }}
                  </div>
                  {{ Context.context({ 'title': 'Еще', 'name': 'dropdown', 'icon': 'filter', 'mods': { 'type': 'menu', 'theme': 'black' }, 'attr': {'id': 'select-filter'}, 'class': 'filter__item' }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {#TODO Плдправить компонент feature где используется согласно новым правкам в компоненте#}
      <section class="section page__section page__section_theme-last">
        <div class="tabs js-tabs">
          <div id="debet" class="tabs__item js-tab state_invisible">
            <div class="page__container">

              {{ PlasticCard.plasticCard({ 'title': 'MORE Visa Platinum',
                'category': {'travel': 'Путешествия'},
                'image': 'assets/illustrations/travel.svg',
                'theme': 'blue',
                'href': '/cards-detail_more-visa-platinum.html',
                'button': 'Оформите карту',
                'features': [
                  { 'title': '3%',
                    'text': 'кэшбека \n за покупки',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'страхование \n путешествующих',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({ 'title': 'Цифровой Signature',
                'category': {'lifestyle': 'Стиль жизни', 'vip': 'VIP'},
                'image': 'assets/illustrations/digital_signature2.png',
                'button': 'Оформите карту',
                'features': [
                  { 'title': '12%',
                    'text': 'в выбранной \n категории',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'доступ в бизнес \n залы Priority Pass',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({
                'title': 'Цифровой Visa Platinum',
                'category': {'lifestyle': 'Стиль жизни'},
                'image': 'assets/illustrations/digital_visa_platinum.svg',
                'href': 'cards-detail_digital-visa-platinum.html',
                'button': 'Оформите карту',
                'features': [
                  { 'title': '7%',
                    'text': 'в выбранной \n категории',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'комиссия за онлайн \n платежи и переводы',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({
                'title': 'MORE Signature',
                'category': {'travel': 'Путешествия', 'vip': 'VIP'},
                'image': 'assets/illustrations/digital_signature.svg',
                'button': 'Оформите карту',
                'features': [
                  { 'title': '5%',
                    'text': 'кэшбека \n за покупки',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'посещение бизнес \n залов Lounge Key',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
            </div>
          </div>
          <div id="credit" class="tabs__item js-tab state_invisible">
            <div class="page__container">
              {{ PlasticCard.plasticCard({ 'title': 'БКС Платинум',
                'image': 'assets/illustrations/bks_platinum.svg',
                'button': 'Оформите карту',
                'features': [
                  { 'title': 'До 55 дней',
                    'text': 'беспроцентный \n период',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'До 1 млн. #ruble',
                    'text': 'кредитный \n лимит',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'До 30%',
                    'text': 'кэшбек \n за покупки',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
            </div>
          </div>
          <div id="packets" class="tabs__item js-tab state_invisible">
            <div class="page__container">
              {{ PlasticCard.plasticCard({
                'title': 'MORE',
                'theme': 'blue',
                'button': 'Оформите пакет',
                'mods': {
                  'theme': 'simple'
                },
                'features': [
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n за обслуживание',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'страхование \n путешествующих',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'},
                  { 'title': '3%',
                    'text': 'кэшбек \n за покупки',
                    'mods': {'type': 'normal', 'theme': 'light'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({ 'title': 'MORE Prime',
                'button': 'Оформите пакет',
                'mods': {
                  'theme': 'simple'
                },
                'features': [
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n за обслуживание',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'посещение Lounge Key \n залов по всему миру',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '5%',
                    'text': 'кэшбек \n за покупки',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({ 'title': 'Брокер',
                'button': 'Оформите пакет',
                'mods': {
                  'theme': 'simple'
                },
                'features': [
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n за обслуживание',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': 'До 10%',
                    'text': 'возвращаем бонус \n от покупок',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'переводы в БКС \n Онлайн и Мобильном',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({ 'title': 'Цифровой Прайм',
                'button': 'Оформите пакет',
                'mods': {
                  'theme': 'simple'
                },
                'features': [
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'доступ в Priority Pass \n залы по всему миру',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '12%',
                    'text': 'от покупок \n в любимых категориях',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}
              {{ PlasticCard.plasticCard({ 'title': 'Цифровой Оптимум',
                'button': 'Оформите пакет',
                'mods': {
                  'theme': 'simple'
                },
                'features': [
                  { 'title': 'От 0#ruble',
                    'text': 'стоимость \n обслуживания',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '0#ruble',
                    'text': 'комиссия за онлайн \n платежи и переводы',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'},
                  { 'title': '7%',
                    'text': 'от покупок \n в любимых категориях',
                    'mods': {'type': 'normal'},
                    'class': 'plastic-card__feature'}
                ] }) }}sal
            </div>
          </div>
        </div>
      </section>

    </main>

    {% include "../components/modules/footer/footer.njk" %}

  </div>
{% endblock %}
