{% extends "layout/layout.njk" %}

{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}

{% set root = "." %}
{% set title = "Карта дебетовая" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            {{ Breadcrumbs.breadcrumbs({ 'main': {'title': 'Дебетовые карты', 'link': '#' } }) }}
            {{ Heading.heading({ 'tag': 'h1', 'title': 'MORE \n Visa platinum', 'mods': { 'type': 'large', 'margin': 'medium' } }) }}
            <div class="features">
              {{ Feature.feature({ 'title': '3%', 'text': 'от всех покупок возвращаем на карту', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
              {{ Feature.feature({ 'title': '0#ruble', 'text': 'страхование путешествующих', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
              {{ Feature.feature({ 'title': 'От 0#ruble', 'text': 'стоимость обслуживания', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
            </div>
            <div class="brand-figure products-detail__figure" data-illustration="">
              <img src="assets/images/detail-card_banner.png" alt="Отпуск легче с кредитом БКС">
            </div>
          </div>
          <div class="section__nav-wrapper">
            <div class="section__nav products-detail__nav">
              <div class="page__container">
                <div class="section__wrap">
                  <div class="tabbar__scroll-wrapper js-tab-scroll">
                    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О карте', 'id': 'about-card' }, {'title': 'Тарифы и документы', 'id': 'card-docs'}, {'title': 'Частые вопросы', 'id': 'card-faq'}] }) }}
                  </div>
                  {{ Button.button({ 'title': 'Оформите карту', 'mods': { 'theme': 'white' }, 'class': 'products-detail__nav-button' }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tabs js-tabs">
        <div id="about-card" class="tabs__item js-tab state_invisible">
          <section class="section page__section">
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/card-image.svg',
                'title': 'Удобно',
                'subtitle': 'Все самое необходимое для путешествий в одной карте',
                'props': {
                'large': '150',
                'small': 'тыс. #ruble'
              },
                'descr': 'Снятие наличных в месяц без комиссии по всему миру'
              },
              {
                'icon': 'assets/images/svg/sand-clock-image.svg',
                'title': 'Безопасно',
                'subtitle': 'Страховка для путешествий по всему миру до 500 #ruble',
                'props': {
                'small': 'до',
                'large': '30%'
              },
                'descr': 'Бонусами за покупки по спецпредложениям'
              },
              {
                'icon': 'assets/images/svg/kopeiki-image.svg',
                'title': 'Выгодно',
                'subtitle': '1 карта с 3 валютными счетами #ruble, #ruble, #ruble',
                'props': {
                'large': '0#ruble'
              },
                'descr': 'Онлайн консультация Доктор рядом из любой точки мира'
              }
            ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section mobile-mb-0">
            <div class="calculator">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Расчитайте свой бонус', 'mods': { 'type': 'default', 'margin': 'medium' } }) }}
                <div class="section__row calculator__row">
                  <div class="form form_layout-narrow calculator__form">
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'Расходы на АЗС', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_fuel_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 30000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на рестораны', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_cafe_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 50000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на театр и кино', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_film_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 10000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на спорт и красоту', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_sport_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 100000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на продукты', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_meal_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 100000, 'from': 5000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Расходы на прочие покупки', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'calc_others_costs', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 0, 'max': 300000, 'from': 20000, 'step': 1000 } }) }}
                      </fieldset>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="calculation__thumbnail">
                      <div class="text">Вы заработаете за год</div>
                      <div class="calculation__result">10 500</div>
                      <div class="calculation__conclusion text">Этих бонусов будет достаточно
                        для покупки авиабилета в Милан.
                      </div>
                      {{ Button.button({ 'title': 'Оформите карту', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40' }) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mobile mobile_theme-blue section page__section page__section_theme-large">
            <div class="page__container">
              <div class="section__wrap">
                <div class="mobile__content">
                  {{ Heading.heading({ 'title': 'Удобный мобильный банк' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
                  <div class="section__text section__text_theme-normal section__text_theme-light">
                    <p>Управление банковскими и инвестиционными продуктами</p>
                    <p>Оплата услуг без комиссии</p>
                    <p>Переводы по всему миру</p>
                    <p>Обмен валюты по курсу близкому к биржевому</p>
                    <p>Чат с оператором</p>
                  </div>
                  <div class="mobile__vendors">
                    {{ Button.button({ 'href': 'https://play.google.com/store/apps/details?id=cz.bsc.bcs', 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                    {{ Button.button({ 'href': 'https://itunes.apple.com/ru/app/bks-onlajn/id652802642', 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                  </div>
                </div>
                <img class="mobile__figure" src="assets/images/mobile-bank.png"
                     alt="Легкий мобильный банк">
              </div>
            </div>
          </section>
          <section class="section page__section">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Оформите заявку - получите \n карту на следующий день' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered' }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/list-image.svg',
                'title': 'Оставьте заявку',
                'subtitle': 'Заполнение заявки займет 5 минут',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/sand-clock-image.svg',
                'title': 'Получите карту',
                'subtitle': 'Наш специалист доставит Вам документы и карту бесплатно',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/card-image.svg',
                'title': 'Пользуйтесь картой',
                'subtitle': 'Получайте бонусы с каждой покупки и меняйте их на рубли'
              }
            ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section">
            <div class="dcard-request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на карту' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text mb-56">Банковскя карта MORE Visa Platinum с повышенным статусом <br> и набором
                  привилегий. Открывается в
                  рамках {{ Button.button({ 'href': '#', 'title': 'пакета услуг "MORE".', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
                </div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form">
                    <div class="form__steps">
                      Шаг <span>1</span> из <span>4</span>
                    </div>
                    {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                        <div class="form__line-group">
                          {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                          {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                        </div>
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                      </fieldset>
                      <div class="form__agreements">
                        <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox">
                          <input type="checkbox" class="checkbox__control"
                                 name="question__personal" checked>
                          <span class="checkbox__state"></span>
                          <span class="checkbox__label">
                                                            Даю согласие на обработку <br>
                            {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
                                                        </span>
                        </label>
                        {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                      </div>
                    </form>
                  </div>
                  <div class="calculation">
                    <img src="assets/images/card-more-visa-platinum.png" class="calculation__image hidden-mobile"
                         alt="БКС Банк">
                    <div class="text calculation__text hidden-mobile">2 дополнительные карты Visa Platinum бесплатно
                    </div>
                    {{ Button.button({ 'href': '#', 'title': 'Оформите через госуслуги', 'path': 'assets/images/uslugi.svg', 'mods': {'theme': 'white', 'type': 'icon-left'}, 'class': 'button_theme-uslugi' }) }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': '', 'mods': { 'type': 'default', 'margin': 'short', 'theme' : 'default' }
                  }) }}
                  <div id="bks-platinum">
                    <div class="table table_sortable table_theme-default mb-64">
                      <table class="table__content">
                        <thead class="table__head">
                        <tr>
                          <th><span class="table__column-title">Пакет услуг</span></th>
                          <th><span class="table__column-title">Премьер Базовый</span></th>
                          <th><span class="table__column-title">Премьер Расширенный</span></th>
                          <th><span class="table__column-title">Директ</span></th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        <tr>
                          <td>Категория карты</td>
                          <td>Visa Platinum</td>
                          <td>Visa Platinum</td>
                          <td>Visa Classic</td>
                        </tr>
                        <tr>
                          <td>Условия обслуживания</td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 500 000 ₽ или 500 ₽ в месяц (от 300
                            000 ₽ для регионов)
                          </td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 3 000 000 ₽ или 1500 ₽ в месяц (от 2
                            000 000 ₽ для регионов)
                          </td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Размер бонуса</td>
                          <td>0.5%</td>
                          <td>1%</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Выпуск и обслуживание основной карты</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Срочный выпуск / перевыпуск карты</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                        </tr>
                        <tr>
                          <td>Количество дополнтельных бесплатных карт</td>
                          <td>Две <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>Три <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Интернет-банк и мобильный банк</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Смс-информирование</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>59 ₽</td>
                        </tr>
                        <tr>
                          <td>Снятие наличных в банкоматах сторонних банков</td>
                          <td>До 150 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>До 300 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях в другие банки через БКС Онлайн</td>
                          <td>1% мин. 35 USD, макс. 200 USD, 1% мин. 35 EUR, макс. 200 EUR</td>
                          <td>0.5% мин. 35 USD, макс. 200 USD, 0.5% мин. 35 EUR, макс. 200 EUR</td>
                          <td>35 USD / 35 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях на счет другого банка в отделениях БКС</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>1.5% мин. 100 ₽, макс. 2500 ₽</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Полное описание тарифов</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Документы</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }}

                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как узнать сумму ежемесячного платежа</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Может ли кто-то другой внести за меня ежемесячный платеж?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Я внес сумму, превыщающую ежемесячный платеж, что
                    произойдет?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что такое частичное досрочное погашение кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Могу ли я сразу внести несколько платежей?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
