{% extends "layout/layout.njk" %}

{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}

{% set root = "." %}
{% set title = "Брокер" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}


    <main role="main" class="products-detail">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            <div class="section__row">
              <div class="products-detail__content products-detail__content_theme-simple">
                {{ Breadcrumbs.breadcrumbs({ 'main': {'title': 'Пакет услуг', 'link': '#' } }) }}
                {{ Heading.heading({ 'tag': 'h1', 'title': 'Брокер', 'mods': { 'type': 'large', 'margin': 'medium' } }) }}
                <div class="features">
                  {{ Feature.feature({ 'title': '0#ruble', 'text': 'обслуживание \n пакета', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': 'до 10%', 'text': 'возвращаем бонус \n от покупок', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': '0#ruble', 'text': 'переводы в БКС \n Онлайн и Мобильном Банке', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                </div>
              </div>
            </div>
          </div>
          <div class="section__nav-wrapper">
            <div class="section__nav products-detail__nav">
              <div class="page__container">
                <div class="section__wrap">
                  <div class="tabbar__scroll-wrapper js-tab-scroll">
                    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О карте', 'id': 'about-card' }, {'title': 'Тарифы и документы', 'id': 'card-docs'}, {'title': 'Частые вопросы', 'id': 'card-faq'}] }) }}
                  </div>
                  {{ Button.button({ 'title': 'Оформите заявку', 'mods': { 'theme': 'white' }, 'class': 'products-detail__nav-button', attr: {'scroll': '#section-request'} }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tabs js-tabs">
        <div id="about-card" class="tabs__item js-tab state_invisible">
          <section class="section page__section">
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Безопасно',
                'subtitle': 'Современные онлайн-сервисы \n для управления финансами'
              },
              {
                'icon': 'assets/images/svg/gift-image.svg',
                'title': 'Удобно',
                'subtitle': 'Бесплатное снятие наличных \n в любом банкомате мира'
              },
              {
                'icon': 'assets/images/svg/card-image.svg',
                'title': 'Премиально',
                'subtitle': 'Текущие и накопительные \n счета в 3х валютах'
              }
            ] }) }}
          </section>

          <section class="mobile mobile_theme-grey section page__section page__section_theme-large">
            <div class="page__container">
              <div class="mobile__wrapper">
                <div class="section__row">
                  <div class="mobile__content">
                    {{ Heading.heading({ 'title': 'Легкий мобильный банк' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                    <div class="section__text section__text_theme-normal">
                      <p>Управление банковскими и инвестиционными продуктами</p>
                      <p>Оплата услуг без комиссии</p>
                      <p>Переводы по всему миру</p>
                      <p>Обмен валюты по курсу близкому к биржевому</p>
                      <p>Чат с оператором</p>
                    </div>
                    <div class="mobile__vendors">
                      {{ Button.button({ 'href': 'https://play.google.com/store/apps/details?id=cz.bsc.bcs', 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                      {{ Button.button({ 'href': 'https://itunes.apple.com/ru/app/bks-onlajn/id652802642', 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                    </div>
                  </div>
                  <div class="mobile__figure">
                    <img class="illustration" src="assets/illustrations/mobile_bank.svg" alt="Легкий мобильный банк">
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section page__section">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Как открыть пакет \n «Брокер» и пользоваться', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-mobile' }) }}
              {{ Heading.heading({ 'title': 'Как оформить заявку?', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-desktop' }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/list-image.svg',
                'title': 'Оставьте заявку',
                'subtitle': 'Заполнение заявки \n займет 5 минут',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/sand-clock-image.svg',
                'title': 'Получите карту',
                'subtitle': 'Наш специалист доставит Вам \n документы и карту бесплатно',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/card-image.svg',
                'title': 'Пользуйтесь картой',
                'subtitle': 'Получайте бонусы с каждой \n покупки и меняйте их на рубли'
              }
            ] }) }}
          </section>
          <section id="section-request" class="section section_theme-white-smoke section_padding-default page__section">
            <div class="products-detail__request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на пакет «Брокер»' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text text_theme-gray mb-56">Заполнение заявки займет всего 7 минут.
                </div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form" data-form="cards">
                    <div class="form__steps">
                      Шаг <span>1</span> из <span>4</span>
                    </div>
                    {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                    <form action="/rplpost">
                      <fieldset>
                        {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                        <div class="form__line-group">
                          {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                          {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                        </div>
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                      </fieldset>
                      <div class="form__agreements">
                        <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox">
                          <input type="checkbox" class="checkbox__control"
                                 name="question__personal" checked>
                          <span class="checkbox__state"></span>
                          <span class="checkbox__label">
                                                            Даю согласие на обработку <br>
                            {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
                                                        </span>
                        </label>
                        {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                      </div>
                    </form>
                  </div>
                  <div class="calculation">
                    <img src="assets/images/card_bks_platinum.png" class="calculation__image hidden-mobile"
                         alt="БКС Банк">
                    <div class="text calculation__text hidden-mobile">Вы можете оформить до 2-х карт бесплатно
                    </div>
                    {{ Button.button({ 'href': '#', 'title': 'Оформите через госуслуги', 'path': 'assets/images/uslugi.svg', 'mods': {'theme': 'white', 'type': 'icon-left'}, 'class': 'button_theme-uslugi' }) }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': '', 'mods': { 'type': 'default', 'margin': 'short', 'theme' : 'default' }
                  }) }}
                  <div class="table table_sortable table_theme-default mb-64">
                    <table class="table__content">
                      <thead class="table__head">
                      <tr>
                        <th><span class="table__column-title">Пакет услуг</span></th>
                        <th><span class="table__column-title">Брокер</span></th>
                      </tr>
                      </thead>
                      <tbody class="table__body">
                      <tr>
                        <td>Условия обслуживания</td>
                        <td>Бесплатно</td>
                      </tr>
                      <tr>
                        <td>Переводы в рублях в БКС Онлайн и мобильном банке</td>
                        <td>Без комиссии</td>
                      </tr>
                      <tr>
                        <td>Количество счетов</td>
                        <td>Три текущих и три накопительных счета в валютах: рубли, доллары, евро</td>
                      </tr>
                      <tr>
                        <td>Смс-информирование</td>
                        <td>59 руб. в месяц</td>
                      </tr>
                      <tr>
                        <td>Бонусная программа</td>
                        <td>Возврат 3% в категории на выбор (АЗС, рестораны, путешествия, одежда и обувь) и 1% от всех
                          остальных покупок по карте. При поддержании среднемесячных активов в ООО «Компания БКС»: от 50
                          000 до 300 000 руб. — 3% в категории АЗС; от 300 000 до 1 000 000 руб. — 3% в одной из
                          категорий: АЗС или путешествия; от 1 000 000 до 10 000 000 руб. — 3% в одной из категорий на
                          выбор: АЗС, путешествия или рестораны; от 10 000 000 руб. и более — 3% в двух категориях на
                          выбор: АЗС, путешествия, рестораны или одежда и обувь. Ограничение по максимальной сумме
                          выплаты бонусных баллов в месяц — 4000 баллов, баллы конвертируются в рубли, 1 балл = 1 рубль.
                          Управление бонусным счетом через БКС Онлайн и Мобильный Банк.
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Полное описание тарифов</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Документы</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
        <div id="card-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }}

                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как узнать сумму ежемесячного платежа</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Может ли кто-то другой внести за меня ежемесячный платеж?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Я внес сумму, превыщающую ежемесячный платеж, что
                    произойдет?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что такое частичное досрочное погашение кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Могу ли я сразу внести несколько платежей?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>


    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
