{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/socials/socials.njk" as Socials %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/icon/icon.njk" as Icon %}


{% set root = "." %}
{% set title = "Общая информация" %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section">

        {# Чтобы установить картинку на фон, необходимо добавить style="backgraun-image: url(путь до картинки)" #}
        <div class="section__header section__header_theme-blue">
          {{ Menubar.menubar({ 'theme': 'blue', 'class': 'section__menubar' }) }}
          <div class="page__container page__container_type-header">
            {{ Heading.heading({ 'tag': 'h1', 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'type': 'large', 'margin': 'long' }) }}
          </div>
        </div>

      </section>

      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-centered">
              <div class="text">
                <p class="text__paragraph">
                  Банк создан в соответствии с решением общего собрания участников от 19 апреля 2004 г. (протокол №88) с
                  наименованием Открытое акционерное общество Коммерческий Банк «Рось» (АО КБ «Рось») в результате
                  реорганизации в форме преобразования Коммерческого банка «Рось» (общество с ограниченной
                  ответственностью) в Открытое акционерное общество Коммерческий Банк «Рось» и является полным
                  правопреемником Коммерческого банка «Рось» (общество с ограниченной ответственностью) по всем правам и
                  обязанностям, включая обязательства, оспариваемые сторонами.
                </p>
                <p class="text__paragraph">
                  Коммерческий банк «Рось» (общество с ограниченной ответственностью) был создан на основании решения
                  Собрания пайщиков от 12 декабря 1988 года (протокол №1) с наименованием «Искитимский коммерческий
                  банк» и зарегистрирован в Госбанке СССР 1 июня 1989 года под регистрационным номером 101. По решению
                  Собрания учредителей-пайщиков от 6 декабря 1991 года (протокол №9), «Искитимский коммерческий банк»
                  переименован в «Коммерческий банк «Рось» (Искитим). Общим собранием пайщиков 30 марта 1994 года
                  (протокол №14) приняты изменения в Устав Банка, касающиеся организационно-правовой формы: полное
                  наименование Банка — Коммерческий банк «Рось» (товарищество с ограниченной ответственностью). В
                  соответствии с решением общего собрания пайщиков от 21 февраля 1996 года (протокол №30-1) было
                  определено сокращенное наименование Банка (КБ «Рось»). В соответствии с решениями Общего собрания
                  участников от 24 декабря 1998 года (Протокол №49) и от 26 марта 1999 года (Протокол №52) наименование
                  организационно-правовой формы Банка было приведено в соответствии с действующим законодательством и
                  определено как общество с ограниченной ответственностью и были утверждены фирменное (полное
                  официальное) и сокращенное наименования Банка — Коммерческий банк «Рось» (общество с ограниченной
                  ответственностью) и КБ «Рось» (ООО), соответственно.
                </p>
                <p class="text__paragraph">
                  В соответствии с решением общего собрания акционеров Банка от 19.07.2006 года (протокол №96) изменены
                  фирменное (полное официальное) и сокращенное наименования Банка на Открытое акционерное общество «БКС
                  Банк» и ОАО «БКС Банк», соответственно.
                </p>
                <p class="text__paragraph">
                  На основании решения единственного акционера от 22.11.2007 года (решение №10) фирменное (полное
                  официальное) наименование Банка изменено на Открытое акционерное общество «БКС — Инвестиционный Банк».
                  В соответствии с решением Правления Банка от 3.03.2008 года (протокол №б/н) новое фирменное
                  наименование начинает использоваться с 3.03.2008.
                </p>
                <p class="text__paragraph">
                  19.12.2007 г. Банк России зарегистрировал дополнительный выпуск акций ОАО «БКС Банк» в размере 400 000
                  000 рублей. Объем уставного капитала Банка, включающий итоги выпуска, составил 558 500 000 рублей.
                  Увеличение уставного капитала позволяет гарантировать высокий уровень надёжности Банка и расширяет
                  границы сотрудничества с клиентами.
                </p>
                <p class="text__paragraph">
                  19.12.2007 г. Банк России зарегистрировал дополнительный выпуск акций ОАО «БКС Банк» в размере 400 000
                  000 рублей. Объем уставного капитала Банка, включающий итоги выпуска, составил 558 500 000 рублей.
                  Увеличение уставного капитала позволяет гарантировать высокий уровень надёжности Банка и расширяет
                  границы сотрудничества с клиентами.
                </p>
                <p class="text__paragraph">
                  9 ноября 2009 г. Главным управлением Банка России по Новосибирской области зарегистрирован отчет об
                  итогах дополнительного выпуска акций ОАО «БКС Банк». Объем уставного капитала Банка после завершения
                  размещения акций составит 867 750 тыс. руб.
                </p>
                <p class="text__paragraph">
                  16 сентября 2010 г. Департаментом лицензирования деятельности и финансового оздоровления кредитных
                  организаций Банка России зарегистрирован отчет об итогах дополнительного выпуска акций ОАО «БКС Банк».
                  Объем уставного капитала Банка после завершения размещения акций составил 1558,5 млн. руб.
                </p>
                <p class="text__paragraph text__paragraph_theme-last">
                  В соответствии с решением единственного акционера от 3 октября 2014 года (решение №46) наименование
                  Банка изменено на Акционерное общество «БКС — Инвестиционный Банк» АО «БКС Банк».
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
