{% extends "layout/layout.njk" %}

{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/radio/radio.njk" as Radio %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}

{% set root = "." %}
{% set title = "Рефинансирование Онлайн" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            <div class="section__row">
              <div class="products-detail__content">
                {{ Breadcrumbs.breadcrumbs({ 'main': {'title': 'Кредиты', 'link': '#' } }) }}
                {{ Heading.heading({ 'tag': 'h1', 'title': 'Рефинансирование \n Онлайн', 'mods': { 'type': 'large', 'margin': 'default' } }) }}
                <div class="features">
                  {{ Feature.feature({ 'title': 'От 12,9%', 'text': 'Минимальная \n ставка', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': 'До 1,5 млн.  #ruble', 'text': 'Максимальная \n сумма', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                  {{ Feature.feature({ 'title': '5 лет', 'text': 'Максимальный \n срок', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
                </div>
              </div>
              <div class="products-detail__figure" data-illustration="">
                <div class="illustration">
                  <img class="illustration-image" src="assets/illustrations/refinansirovaniye.svg"
                       alt="Рефинансирование Онлайн">
                </div>
              </div>
            </div>
          </div>
          <div class="section__nav-wrapper">
            <div class="section__nav products-detail__nav">
              <div class="page__container">
                <div class="section__wrap">
                  <div class="tabbar__scroll-wrapper js-tab-scroll">
                    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О кредите', 'id': 'about-credit' }, {'title': 'Тарифы и документы', 'id': 'credit-docs'}, {'title': 'Частые вопросы', 'id': 'credit-faq'}] }) }}
                  </div>
                  {{ Button.button({ 'title': 'Оформите заявку', 'mods': { 'theme': 'white' }, 'class': 'products-detail__nav-button', attr: {'scroll': '#section-request'} }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tabs js-tabs">
        <div id="about-credit" class="tabs__item js-tab state_invisible">
          <section class="section page__section">
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/busines-prson-image.svg',
                'title': 'Честно',
                'subtitle': 'Предварительное решение \n в день одобрения',
                'props': {
                'small': 'до',
                'large': '4-х'
              },
                'descr': 'Кредитов, в том числе \n кредитных карт'
              },
              {
                'icon': 'assets/images/svg/sand-clock-image.svg',
                'title': 'Быстро',
                'subtitle': 'Получение кредита онлайн \n на карту БКС Банка за 20 мин',
                'props': {
                'large': '100',
                'small': 'тыс. #ruble'
              },
                'descr': 'Минимальная \n сумма кредита'
              },
              {
                'icon': 'assets/images/svg/list-image.svg',
                'title': 'Удобно',
                'subtitle': 'Бесплатный выезд специалиста \n для оформления документов',
                'props': {
                'large': '0#ruble'
              },
                'descr': 'Без комиссий, без страховок \n и дополнительных сборов'
              }
            ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section">
            <div class="calculator">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Расcчитайте свой кредит', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text text_theme-gray mb-56">Расчет носит информационный характер и не является <br> публичной офертой.</div>
                <div class="section__row">
                  <div class="form form_layout-narrow">
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'Осталось выплатить', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_calc_amount', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 30000, 'max': 3000000, 'from': 800000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Плачу ежемесячно', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_calc_monthly', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 0, 'max': 200000, 'from': 20000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Срок рефинансирования', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '2', 'name': 'credit_calc_period', 'class': 'js-numeric-input' }, 'slider': { 'min': 13, 'max': 60, 'from': 13, 'step': 1, 'postfix': ' мес.' } }) }}
                      </fieldset>
                      <input type="hidden" value="800000" name="monthly_pay" >
                    </form>
                  </div>
                  <div class="calculation js-calc-result">
                    <div class="calculation__thumbnail">
                      <div class="text">Ежемесячный платеж</div>
                      <!--#2-->
                      <div class="calculation__result"><span
                                data-calc="cGVyY2VudC8xMjAwICogTWF0aC5wb3coKHBlcmNlbnQvMTIwMCArIDEpLHRpbWUpIC8gKE1hdGgucG93KChwZXJjZW50LzEyMDAgKyAxKSx0aW1lKS0xKSAqIHN1bW0="
                                data-params="summ|credit_calc_amount,time|credit_calc_period,percent|credit_percent"
                                data-bind="monthly_pay"
                                data-ordered="1"
                                data-bind-inputs="credit_calc_period|credit_period,credit_calc_amount|credit_amount,credit_calc_monthly|credit_amount_monthly"
                        >10 500</span> {{ Icon.icon({ 'name': 'ruble'}) }}</div>
                      <!--/#2-->

                      <div class="calculation__conclusion text">
                        <p>Экономия в месяц</p>
                        <!--#3-->
                        <p><span
                                  data-calc="Y3VycmVudFN1bW0tc3VtbT4wPyBjdXJyZW50U3VtbS1zdW1tIDogMA=="
                                  data-params="summ|monthly_pay,currentSumm|credit_calc_monthly"
                                  data-ordered="2"
                          >567 000</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                        <!--/#3-->
                      </div>
                      <div class="calculation__conclusion text">
                        <!--#4-->
                        <p>Сумма кредита</p>
                        <p><span
                                  data-calc="c3VtbSp0aW1l"
                                  data-params="summ|monthly_pay,time|credit_calc_period"
                                  data-ordered="3"
                          >6 768</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                        <!--/#4-->
                      </div>

                      <div class="calculation__conclusion text">
                        <p>Ставка</p>
                        <!--#1-->
                        <p><span
                                  data-calc="KHRpbWUgPD0gMjQpPyAxMi45IDogKHRpbWUgPiAyNCAmJiB0aW1lIDw9IDM2KT8gMTIuOSA6IDEzLjk="
                                  data-params="time|credit_calc_period"
                                  data-round="1"
                                  data-bind="credit_percent"
                                  data-ordered="0"
                          >12,9</span>%</p>
                        <input type="hidden" name="credit_percent" value="12.9">
                        <!--/#1-->
                      </div>
                      {{ Button.button({ 'title': 'Оформите заявку', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40', attr: {'scroll': '#section-request'} }) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="mobile section mobile_theme-blue page__section page__section_theme-large">
            <div class="page__container">
              <div class="mobile__wrapper">
                <div class="section__row">
                  <div class="mobile__content">
                    {{ Heading.heading({ 'title': 'Легкий мобильный банк', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
                    <div class="section__text section__text_theme-normal section__text_theme-light">
                      <p>Управление банковскими и инвестиционными продуктами</p>
                      <p>Оплата услуг без комиссии</p>
                      <p>Переводы по всему миру</p>
                      <p>Обмен валюты по курсу близкому к биржевому</p>
                      <p>Чат с оператором</p>
                    </div>
                    <div class="mobile__vendors">
                      {{ Button.button({ 'href': 'https://play.google.com/store/apps/details?id=cz.bsc.bcs', 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                      {{ Button.button({ 'href': 'https://itunes.apple.com/ru/app/bks-onlajn/id652802642', 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                    </div>
                  </div>
                  <div class="mobile__figure">
                    <img class="illustration" src="assets/illustrations/mobile_bank.svg" alt="Легкий мобильный банк">
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section page__section">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Оформите заявку - получите \n кредит на любые цели', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-mobile' }) }}
              {{ Heading.heading({ 'title': 'Как оформить заявку?', 'mods': { 'type': 'default', 'margin': 'normal' }, 'class': 'heading_mobile-centered hidden-desktop' }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/list-image.svg',
                'title': 'Оставьте заявку',
                'subtitle': 'Заполнение заявки займет всего 7 минут',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/sand-clock-image.svg',
                'title': 'Одобрение банка',
                'subtitle': 'Получите решение по кредиту в течении 2-х рабочих дней',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/card-image.svg',
                'title': 'Получите кредит',
                'subtitle': 'Дождитесь курьера и получите деньги на карту БКС Банка'
              }
            ] }) }}
          </section>
          <section id="section-request" class="section section_theme-white-smoke section_padding-default page__section">
            <div class="products-detail__request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на рефинансирование', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text text_theme-gray mb-56">При оформлении кредита предоставляется бесплатная карта Visa Classic</div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form" data-form="cards">
                    <div class="form__steps">
                      Шаг <span class="js-step-informer">1</span> из <span class="js-step-informer-all">4</span>
                    </div>
                    <form action="http://localhost/rplpost/index.php">
                      <div class="step-form__item js-step js-sms-step js-send-form" data-send-url="http://localhost/rplpost">
                        {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                        <fieldset>
                          {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                          <div class="form__line-group">
                            {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                            {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                          </div>
                          {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                          {{ Input.input({ 'label': 'Осталось выплатить', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_amount', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 30000, 'max': 3000000, 'from': 800000, 'step': 1000 } }) }}
                          {{ Input.input({ 'label': 'Плачу ежемесячно', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_amount_monthly', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 0, 'max': 200000, 'from': 20000, 'step': 1000 } }) }}
                          {{ Input.input({ 'label': 'Срок рефинансирования', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '2', 'name': 'credit_period', 'class': 'js-numeric-input' }, 'slider': { 'min': 13, 'max': 60, 'from': 13, 'step': 1, 'postfix': ' мес.' } }) }}
                          {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Цель кредита', 'name': 'credit-aims', 'items': [{'title': 'На еду', 'value': '12345'}, {'title': 'На развлечения', 'value': '13456'}, {'title': 'Отправить малого в школу', 'value': '136'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'credit-aims'}, 'field': 'js-aims-select' }) }}
                        </fieldset>
                        <input type="hidden" value="800000" name="monthly_pay2" >
                        <div class="form__agreements">
                          <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox">
                            <input type="checkbox" class="checkbox__control"
                                   name="question__personal" checked>
                            <span class="checkbox__state"></span>
                            <span class="checkbox__label">
                                                            Даю согласие на обработку <br>
                            {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
                                                        </span>
                          </label>
                          {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                        </div>
                      </div>

                      <div class="step-form__item js-step js-send-form" data-send-url="http://localhost/rplpost/index.php">
                        {% include "../components/modules/sms-code-form/sms-code-form.njk" %}
                      </div>

                      <div class="step-form__item js-step">
                        {{ Heading.heading({ 'title': 'Личная информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                        {% include "../components/modules/form-passport/form-passport.njk" %}
                        {% include "../components/modules/form-place/form-place.njk" %}
                        {% include "../components/modules/form-family/form-family.njk" %}
                        <div class="form__agreements">
                          {{ Button.button({ 'title': 'Назад', 'type': 'button', 'mods': {'theme': 'default', 'view': 'text', 'type': 'before-arrow'}, 'class': 'form__submit-button js-step-backward' }) }}
                          {{ Button.button({ 'title': 'Далее', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                        </div>
                      </div>


                      <div class="step-form__item js-step">
                        {{ Heading.heading({ 'title': 'Работа' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                        {% include "../components/modules/form-job/form-job.njk" %}
                        <div class="form__agreements">
                          {{ Button.button({ 'title': 'Назад', 'type': 'button', 'mods': {'theme': 'default', 'view': 'text', 'type': 'before-arrow'}, 'class': 'form__submit-button js-step-backward' }) }}
                          {{ Button.button({ 'title': 'Далее', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="calculation js-calc-result calculation_theme-uslugi">
                    <div class="calculation__thumbnail">
                      <div class="text">Ежемесячный платеж</div>
                      <!--#2-->
                      <div class="calculation__result"><span
                                data-calc="cGVyY2VudC8xMjAwICogTWF0aC5wb3coKHBlcmNlbnQvMTIwMCArIDEpLHRpbWUpIC8gKE1hdGgucG93KChwZXJjZW50LzEyMDAgKyAxKSx0aW1lKS0xKSAqIHN1bW0="
                                data-params="summ|credit_calc_amount,time|credit_calc_period,percent|credit_percent"
                                data-ordered="5"
                        >10 500</span> {{ Icon.icon({ 'name': 'ruble'}) }}</div>
                      <!--/#2-->

                      <div class="calculation__conclusion text">
                        <p>Экономия в месяц</p>
                        <!--#3-->
                        <p><span
                                  data-calc="Y3VycmVudFN1bW0tc3VtbT4wPyBjdXJyZW50U3VtbS1zdW1tIDogMA=="
                                  data-params="summ|monthly_pay,currentSumm|credit_calc_monthly"
                                  data-ordered="6"
                          >567 000</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                        <!--/#3-->
                      </div>
                      <div class="calculation__conclusion text">
                        <!--#4-->
                        <p>Сумма кредита</p>
                        <p><span
                                  data-calc="c3VtbSp0aW1l"
                                  data-params="summ|monthly_pay,time|credit_calc_period"
                                  data-ordered="7"
                          >6 768</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                        <!--/#4-->
                      </div>

                      <div class="calculation__conclusion text">
                        <p>Ставка</p>
                        <!--#1-->
                        <p><span
                                  data-calc="KHRpbWUgPD0gMjQpPyAxMi45IDogKHRpbWUgPiAyNCAmJiB0aW1lIDw9IDM2KT8gMTIuOSA6IDEzLjk="
                                  data-params="time|credit_calc_period"
                                  data-round="1"
                                  data-ordered="4"
                          >12,9</span>%</p>
                        <!--/#1-->
                      </div>
                      {{ Button.button({ 'title': 'Оформите заявку', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40' }) }}
                    </div>
                    {{ Button.button({ 'href': '#', 'title': 'Оформите через госуслуги', 'path': 'assets/images/uslugi.svg', 'mods': {'theme': 'white', 'type': 'icon-left'}, 'class': 'button_theme-uslugi' }) }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="credit-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">

                  {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Тарифы АО «БКС Банк» для физических лиц на предоставление потребительских кредитов в рамках Кредитного продукта «Рефинансирование Онлайн»' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="credit-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }}
                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">На какие цели предоставляется кредит?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    рефинансирование потребительского кредита/кредитной карты в стороннем банке
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как подать заявку на кредит?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    заявка на кредит «Рефинансирование онлайн» подается на сайте БКС Банка
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Можно ли рефинансировать ипотеку или автокредит?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"><p class="text">
                    нет
                  </p></div>

              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Кто может получить кредит?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    Любое физическое лицо, имеющее постоянное место работы и удовлетворяющее требованиям к
                    Заемщику. </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как могут быть использованы кредитные средства?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    кредитные средства могут быть использованы только на цели погашения задолженности по
                    кредитам/кредитным картам в стороннем банке.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Требуется ли какое-то обеспечение по кредиту?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    нет, не требуется.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Требуется ли страхование Заемщика по кредиту?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    нет, не требуется.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Какое количество кредитов/кредитных карт можно рефинансировать за
                    один раз?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    от 1 до 4-х.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Есть ли требования к рефинансируемым кредитам/кредитным картам?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    Требования к каждому/ой из рефинансируемых кредитов/кредитных карт:
                    До окончания срока действия рефинансируемого кредита остается не менее 6 месяцев на дату подачи
                    заявки (не распространяется на кредитные карты);
                  </p>
                  <p class="text">
                    С момента выдачи рефинансируемого/ой кредита/кредитной карты прошло 6-ть и более месяцев;
                    Погашение задолженности по рефинансируемым кредитам/кредитным картам согласно кредитным договорам
                    осуществляется ежемесячно;
                  </p>
                  <p class="text">
                    Валюта рефинансируемого кредита – рубли РФ, доллары США, Евро. Рефинансирование производится только
                    в рублях исходя из расчетов курса на момент принятия решения по кредитной заявке;
                  </p>
                  <p class="text">
                    Отсутствует непогашенная просроченная задолженность по кредиту/кредитной карте, процентам,
                    комиссиям, а так же задолженность по штрафам/пеням, в совокупности превышающая 500 (пятьсот) рублей.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Какие тарифы установлены по продукту?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    действуют следующие тарифы
                  </p>
                  <div class="table table_theme-default">
                    <table class="table__content">
                      <thead class="table__head">
                      <tr>
                        <th><span class="table__column-title">№ п/п</span></th>
                        <th><span class="table__column-title">Параметр</span></th>
                        <th><span class="table__column-title">Значение</span></th>
                      </tr>
                      </thead>
                      <tbody class="table__body">
                      <tr>
                        <td>1</td>
                        <td>Валюта кредита</td>
                        <td>Рубли РФ</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Минимальная сумма кредита, рублей</td>
                        <td>100 000</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Максимальная сумма кредита , рублей</td>
                        <td>1 500 000</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Срок кредита, месяцев</td>
                        <td>от 13 до 60</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Ставка при выдаче кредита, % годовых</td>
                        <td>19,9%</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td colspan="2">Ставка при получении подтверждения погашения рефинансируемого кредита, %
                          годовых
                        </td>
                      </tr>
                      <tr>
                        <td>6.1</td>
                        <td>Устанавливается индивидуально, на усмотрение Банка, в диапазоне:</td>
                        <td>От 12,9% до 15,9%</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Какие документы, потребуются для подачи заявки на кредит от
                    заемщика/созаемщика?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    Для подачи заявки на кредит необходимо будет заполнить анкету-заявку и предоставить:
                  </p>
                  <ol class="brand-list brand-list_type-numeric">
                    <li>Паспорт гражданина РФ</li>
                    <li>
                      Один из документов<sup>1,2</sup>, подтверждающих доход<sup>3</sup>:
                      <ol class="brand-list brand-list_type-numeric">
                        <li>справка 2-НДФЛ<sup>4</sup></li>
                        <li>заверенная банковская выписка по расчетному счету о ежемесячных поступлениях заработной
                          платы, пенсий и других поступлений (с указанием в назначении платежа обоснования выплат) в
                          течение 6-ти месяцев
                        </li>
                        <li>справка по форме Банка<sup>3</sup> (для суммы кредита не более 500 000 рублей)</li>
                        <li>иные документы, официально подтверждающие получение дохода в течение не менее 6-ти месяцев
                        </li>
                      </ol>
                    </li>
                    <li>
                      Документы по каждому рефинансируемому кредиту/кредитной карте:
                      <ol class="brand-list brand-list_type-numeric">
                        <li>Заверенная копия кредитного договора или другого документа, содержащего информацию о
                          наименовании кредитной организации выдавшей кредит, первоначальной сумме кредита (кредитного
                          лимита), номере кредитного договора, дате выдачи кредита, размере процентной ставки и названии
                          кредитного продукта<sup>5</sup>.
                        </li>
                        <li>Реквизиты для перевода денежных средств (в целях погашения рефинансируемых обязательств
                          Клиента)
                        </li>
                        <li>Заверенный документ, отражающий сумму полной задолженности по действующему кредиту (или
                          остаток ссудной задолженности и начисленных процентов по карте), составленный не более чем за
                          30 календарных дней до даты подачи заявления на кредит.
                        </li>
                      </ol>
                    </li>
                  </ol>
                  <p class="text">
                    <sup>1</sup> Если Заемщик/Созаемщик/Поручитель предоставил документ, подтверждающий доход, где в
                    качестве работодателя указан соответственно сам Заемщик/Созаемщик/Поручитель, зарегистрированный,
                    как индивидуальный предприниматель, то в обязательном порядке дополнительно предоставляются
                    документы: 1) Свидетельство о регистрации предпринимателя или Выписка из ЕГРИП (действительна в
                    течение 1 месяца); 2) Декларация о доходах по форме 3-НДФЛ за последний отчетный период или
                    Декларация по единому налогу (уплачиваемому в связи с применением упрощенной системы
                    налогообложения) за последний отчетный период или Декларация по единому налогу на вмененный доход за
                    последний отчетный период, декларации должны быть с отметкой ИФНС о принятии; 3) Справка из банка об
                    оборотах по расчетным счетам ИП за последние 6 месяцев (при наличии счетов) и выписка по расчетному
                    счету с печатью организации, за каждый из 6 месяцев в отдельности или детализированная выписка по
                    расчетному счету организации заверенная банком. При необходимости могут быть запрошены другие
                    документы
                  </p>
                  <p class="text">
                    <sup>2</sup> Если Заемщик/Созаемщик/Поручитель предоставил документ, подтверждающий доход, где в
                    качестве работодателя указана компания (в организационно-правовой форме ООО и АО), в которой
                    соответственно Заемщик/Созаемщик/Поручитель владеет долей уставного капитала более 25%, то в
                    обязательном порядке дополнительно предоставляются документы: 1) Свидетельство о государственной
                    регистрации юридического лица или Свидетельство о внесении в ЕГРЮЛ сведений о юридическом лице,
                    зарегистрированном до 01.07.02г. или Выписка из реестра акционеров на текущую дату (для акционерных
                    обществ); 2) Бухгалтерский баланс организации и Отчет о прибылях и убытках (Форма 1 и Форма 2) за
                    последний отчетный период, с отметкой ИФНС о принятии; 3) Справка из банка об оборотах по расчетным
                    счетам организации за последние 6 месяцев (при наличии счетов) и выписка по расчетному счету с
                    печатью организации, за каждый из 6 месяцев в отдельности или детализированная выписка по расчетному
                    счету организации заверенная банком. При необходимости могут быть запрошены другие документы
                  </p>
                  <p class="text">
                    <sup>3</sup> Кроме сотрудников Банка и компаний-партнеров, получающих заработную плату на счет в БКС
                    Банке. Список компаний-партнеров в рамках розничных программ Банка утверждается Правлением Банка.
                  </p>
                  <p class="text">
                    <sup>4</sup> Документ предоставляется за период не менее 6-ти месяцев (при сроке работы на последнем
                    месте более 6-ти месяцев) или за фактический срок работы (при сроке работы на последнем месте менее
                    6-ти месяцев)
                  </p>
                  <p class="text">
                    <sup>5</sup> Требование об указании названия кредитного продукта распространяется только на
                    клиентов, предоставивших документы, где в качестве работодателя указан сам клиент, как
                    индивидуальный предприниматель или компания, в которой клиент владеет долей уставного капитала более
                    25%.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">За какой период должны быть предоставлены документы,
                    подтверждающие доход?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">

                    За период не менее 6-ти последних месяцев.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">В течение какого срока после подачи документов Банком принимается
                    решение?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    В течение 2-х рабочих дней после предоставления полного пакета документов.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что происходит после принятия решения оодобрении кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    С Клиентом свяжется представитель Банка и согласует дату и время подписания документов.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что нужно иметь при себе на сделке?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    паспорт гражданина РФ, оригиналы документов.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Какой график погашения кредита указан в кредитном договоре?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    В кредитном договоре предусмотрено ежемесячное погашение кредита равными платежами. По умолчанию
                    дата платежа будет совпадать с числом месяца, выпавшим на дату сделки.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Можно ли поменять дату платежа на удобную (ближе к заработной
                    плате)?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    Да, это можно сделать позже. Необходимо будет обратиться в банк за 3 дня до наступления очередной
                    даты платежа с заявлением об изменении даты платежа.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Какая ставка устанавливается при выдаче кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    При выдаче кредита устанавливается повышенная ставка 19,9%.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Когда снижается ставка по кредиту на рефинансирование?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    после предоставления клиентом справок о полном погашении задолженности по всем рефинансируемым
                    кредитам или кредитным картам. В дату предоставления указанных документов в банк, ставка меняется на
                    пониженную от 12,9% до 15,9% годовых, на усмотрение Банка. Формируется Дополнительное соглашение к
                    Кредитному договору и новый график платежей.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как осуществлять погашение кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">

                    В кредитном договоре у Вас будет указана дата погашения и размер ежемесячного платежа. Клиенту нужно
                    будет ежемесячно вносить на свой карточный счет в Банке сумму ежемесячного платежа. Необходимо,
                    чтобы в течение дня, являющегося датой погашения, эта сумма находилась на текущем счете. Банк в
                    течение дня списывает сумму ежемесячного платежа в счет погашения кредита. расчета 20% годовых
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Возможно ли досрочно погасить кредит? И как это сделать?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    Клиент может досрочно частично или полностью погасить кредит. Частичное погашение осуществляется
                    строго в дату платежа, полное погашение осуществляется в любую дату. При частичном погашении
                    ограничений на сумму нет. Для досрочного погашения кредита не менее чем за 3 рабочих дня до
                    планируемой даты досрочного погашения клиенту необходимо обратиться к сотруднику ОСКО, заполнить
                    заявление на досрочное погашение кредита и внести сумму досрочного погашения на текущий счет.
                  </p>
                </div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что будет в случае просрочки платежа?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content">
                  <p class="text">
                    В случае возникновения просроченной задолженности по оплате кредита на сумму просроченной
                    задолженности начисляется штраф за каждый календарный день просрочки платежа из расчета 20% годовых
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    {% include "../components/modules/footer/footer.njk" %}

  </div>
{% endblock %}
