{% extends "layout/layout.njk" %}

{% import "../components/library/breadcrumbs/breadcrumbs.njk" as Breadcrumbs %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/library/radio/radio.njk" as Radio %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/icon/icon.njk" as Icon %}

{% set root = "." %}
{% set title = "Кредиты детальная" %}
{% set header = 'blue' %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            {{ Breadcrumbs.breadcrumbs({ 'main': {'title': 'Кредиты', 'link': '#' } }) }}
            {{ Heading.heading({ 'tag': 'h1', 'title': 'Кредит Онлайн', 'mods': { 'type': 'large', 'margin': 'default' } }) }}
            <div class="features">
              {{ Feature.feature({ 'title': 'От 12,9%', 'text': 'ставка \n по кредиту', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
              {{ Feature.feature({ 'title': 'До 1,5 млн.  #ruble', 'text': 'сумма \n кредита', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
              {{ Feature.feature({ 'title': 'До 5 лет', 'text': 'срок \n кредитования', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
            </div>
            <div class="brand-figure products-detail__figure" data-illustration="">
              <img src="assets/images/detail-card_banner.png" alt="Отпуск легче с кредитом БКС">
            </div>
          </div>
          <div class="section__nav-wrapper">
            <div class="section__nav products-detail__nav">
              <div class="page__container">
                <div class="section__wrap">
                  <div class="tabbar__scroll-wrapper js-tab-scroll">
                    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'light-tab', 'view': 'upperscore' }, 'tabs': [{'title': 'О кредите', 'id': 'about-credit' }, {'title': 'Тарифы и документы', 'id': 'credit-docs'}, {'title': 'Частые вопросы', 'id': 'credit-faq'}] }) }}
                  </div>
                  {{ Button.button({ 'title': 'Оформите кредит', 'mods': { 'theme': 'white' }, 'class': 'products-detail__nav-button' }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tabs js-tabs">
        <div id="about-credit" class="tabs__item js-tab state_invisible">
          <section class="section page__section">
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Чкстно',
                'subtitle': 'Предварительное решение в день одобрения',
                'props': {
                'large': '13',
                'small': 'мес'
              },
                'descr': 'Минимальный срок редитования'
              },
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Быстро',
                'subtitle': 'Получение кредита онлайн на карту БКС Банка за 20 мин',
                'props': {
                'large': '50',
                'small': 'тыс. #ruble'
              },
                'descr': 'Минимальная сумма кредита'
              },
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Удобно',
                'subtitle': 'Бесплатный выезд специалиста для оформления документов',
                'props': {
                'large': '0#ruble'
              },
                'descr': 'Без комиссий, без страховок и дополнительных сборов'
              }
            ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section">
            <div class="calculator">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Расчитайте свой кредит', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text mb-56">Расчет носит информационный характер и не является <br> публичной офертой.</div>
                <div class="section__row">
                  <div class="form form_layout-narrow">
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'Сумма кредита', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_amount', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 50000, 'max': 1500000, 'from': 800000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Срок кредита', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '2', 'name': 'credit_period', 'class': 'js-numeric-input' }, 'slider': { 'min': 13, 'max': 60, 'from': 16, 'step': 1, 'postfix': ' мес.' } }) }}
                      </fieldset>
                    </form>
                  </div>
                  <div class="calculation">
                    <div class="calculation__thumbnail">
                      <div class="text">Ежемесячный платеж</div>
                      <div class="calculation__result"><span>10 500</span> {{ Icon.icon({ 'name': 'ruble'}) }}</div>
                      <div class="calculation__conclusion text">
                        <p>Ставка</p>
                        <p>12,9%</p>
                      </div>
                      <div class="calculation__conclusion text">
                        <p>Необходимый доход</p>
                        <p><span>567 000</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                      </div>
                      <div class="calculation__conclusion text">
                        <p>Сумма выплат с %</p>
                        <p><span>6 768</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                      </div>
                      {{ Button.button({ 'title': 'Оформите кредит', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40' }) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mobile mobile_theme-blue section page__section page__section_theme-large">
            <div class="page__container">
              <div class="section__wrap">
                <div class="mobile__content">
                  {{ Heading.heading({ 'title': 'Легкий мобильный банк', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
                  <div class="section__text section__text_theme-normal section__text_theme-light">
                    <p>Управление банковскими и инвестиционными продуктами</p>
                    <p>Оплата услуг без комиссии</p>
                    <p>Переводы по всему миру</p>
                    <p>Обмен валюты по курсу близкому к биржевому</p>
                    <p>Чат с оператором</p>
                  </div>
                  <div class="mobile__vendors">
                    {{ Button.button({ 'href': 'https://play.google.com/store/apps/details?id=cz.bsc.bcs', 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                    {{ Button.button({ 'href': 'https://itunes.apple.com/ru/app/bks-onlajn/id652802642', 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large' } }) }}
                  </div>
                </div>
                <img class="mobile__figure" src="assets/images/mobi-man.png"
                     alt="Легкий мобильный банк">
              </div>
            </div>
          </section>
          <section class="section page__section">
            <div class="page__container">
              {{ Heading.heading({ 'title': 'Оформите заявку - получите \n кредит на любые цели', 'mods': { 'type': 'default', 'margin': 'normal' } }) }}
            </div>
            {{ BrandFeatures.brandFeatures({ 'items': [
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Оставьте заявку',
                'subtitle': 'Заполнение заявки займет всего 7 минут',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Одобрение банка',
                'subtitle': 'Получите решение по кредиту в течении 2-х рабочих дней',
                'mods': {
                'theme': 'lined'
              }
              },
              {
                'icon': 'assets/images/svg/shield-image.svg',
                'title': 'Получите кредит',
                'subtitle': 'Дождитесь курьера и получите деньги на карту БКС Банка'
              }
            ] }) }}
          </section>
          <section class="section section_theme-white-smoke section_padding-default page__section">
            <div class="deposit-request">
              <div class="page__container">
                {{ Heading.heading({ 'title': 'Заявка на кредит', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
                <div class="text mb-56">При оформлении кредита предоставляется бесплатная карта Visa Classic</div>
                <div class="section__row">
                  <div class="form form_layout-narrow js-form">
                    <div class="form__steps">
                      Шаг <span>1</span> из <span>4</span>
                    </div>
                    {{ Heading.heading({ 'title': 'Общая информация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'small' } }) }}
                    <form>
                      <fieldset>
                        {{ Input.input({ 'label': 'ФИО', 'class': 'form__field-group', 'field': { 'type': 'text', 'class': 'js-fio-masked', 'maxlength': '64', 'name': 'bid_user-name', 'required': 'true' } }) }}
                        <div class="form__line-group">
                          {{ Input.input({ 'label': 'Мобильный телефон', 'class': 'form__field-group', 'field': {'class': 'js-phone-masked', 'name': 'question_phone', 'required': 'true' } }) }}
                          {{ Input.input({ 'label': 'Электронная почта', 'class': 'form__field-group', 'field': {'class': 'js-mail-masked', 'name': 'question_mail', 'required': 'true' } }) }}
                        </div>
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Выберите город', 'name': 'bid_select-city', 'items': [{'title': 'Краснодар', 'value': '12345'}, {'title': 'Москва', 'value': '13456'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'bid-city-list'}, 'field': 'js-city-select' }) }}
                        {{ Input.input({ 'label': 'Сумма кредита', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '9', 'name': 'credit_amount', 'class': 'js-numeric-input' }, 'title': '#ruble', 'slider': { 'min': 50000, 'max': 1500000, 'from': 800000, 'step': 1000 } }) }}
                        {{ Input.input({ 'label': 'Срок кредита', 'class': 'form__field-slider', 'field': { 'type': 'text', 'maxlength': '2', 'name': 'credit_period', 'class': 'js-numeric-input' }, 'slider': { 'min': 13, 'max': 60, 'from': 16, 'step': 1, 'postfix': ' мес.' } }) }}
                        {{ Dropdown.dropdown({ 'mods': {'theme': 'bordered'}, 'label': 'Цель кредита', 'name': 'credit-aims', 'items': [{'title': 'На еду', 'value': '12345'}, {'title': 'На развлечения', 'value': '13456'}, {'title': 'Отправить малого в школу', 'value': '136'}], 'class': 'form__field-group form__field-group_dropdown', 'state': 'required', 'attr': {'id': 'credit-aims'}, 'field': 'js-aims-select' }) }}
                      </fieldset>
                      <div class="form__agreements">
                        <label class="checkbox checkbox_theme-dark js-checkbox js-personal-checkbox">
                          <input type="checkbox" class="checkbox__control"
                                 name="question__personal" checked>
                          <span class="checkbox__state"></span>
                          <span class="checkbox__label">
                                                            Даю согласие на обработку <br>
                            {{ Button.button({ 'href': '#', 'title': 'персональных данных', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
                                                        </span>
                        </label>
                        {{ Button.button({ 'title': 'Отправить', 'type': 'submit', 'mods': {'theme': 'default'}, 'class': 'form__submit-button' }) }}
                      </div>
                    </form>
                  </div>
                  <div class="calculation calculation_theme-uslugi">
                    <div class="calculation__thumbnail">
                      <div class="text">Ежемесячный платеж</div>
                      <div class="calculation__result"><span>10 500</span> {{ Icon.icon({ 'name': 'ruble'}) }}</div>
                      <div class="calculation__conclusion text">
                        <p>Ставка</p>
                        <p>12,9%</p>
                      </div>
                      <div class="calculation__conclusion text">
                        <p>Необходимый доход</p>
                        <p><span>567 000</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                      </div>
                      <div class="calculation__conclusion text">
                        <p>Сумма выплат с %</p>
                        <p><span>6 768</span> {{ Icon.icon({ 'name': 'ruble'}) }}</p>
                      </div>
                      {{ Button.button({ 'title': 'Оформите кредит', 'mods': { 'theme': 'default' }, 'type': 'submit', 'class': 'mt-40' }) }}
                    </div>
                    {{ Button.button({ 'href': '#', 'title': 'Оформите через госуслуги', 'path': 'assets/images/uslugi.svg', 'mods': {'theme': 'white', 'type': 'icon-left'}, 'class': 'button_theme-uslugi' }) }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="credit-docs" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': '', 'mods': { 'type': 'default', 'margin': 'short', 'theme' : 'default' },
                    'context': { 'title': '', 'attr': {'id': 'credit-types', 'list-on-right': 'true'}, 'items': [{ 'title': 'Кредитная карта БКС Платинум', 'value': 'bks-platinum', 'attr': { 'title': 'Кредитная карта БКС Платинум' }, 'selected': true },
                      { 'title': 'Карта с овердрафтом', 'value': 'bks-overdraft', 'attr': { 'title': 'Карта с овердрафтом' } }] } }) }}
                  <div id="bks-platinum">
                    <div class="table table_sortable table_theme-default mb-64">
                      <table class="table__content">
                        <thead class="table__head">
                        <tr>
                          <th><span class="table__column-title">Пакет услуг</span></th>
                          <th><span class="table__column-title">Премьер Базовый</span></th>
                          <th><span class="table__column-title">Премьер Расширенный</span></th>
                          <th><span class="table__column-title">Директ</span></th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        <tr>
                          <td>Категория карты</td>
                          <td>Visa Platinum</td>
                          <td>Visa Platinum</td>
                          <td>Visa Classic</td>
                        </tr>
                        <tr>
                          <td>Условия обслуживания</td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 500 000 ₽ или 500 ₽ в месяц (от 300
                            000 ₽ для регионов)
                          </td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 3 000 000 ₽ или 1500 ₽ в месяц (от 2
                            000 000 ₽ для регионов)
                          </td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Размер бонуса</td>
                          <td>0.5%</td>
                          <td>1%</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Выпуск и обслуживание основной карты</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Срочный выпуск / перевыпуск карты</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                        </tr>
                        <tr>
                          <td>Количество дополнтельных бесплатных карт</td>
                          <td>Две <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>Три <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Интернет-банк и мобильный банк</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Смс-информирование</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>59 ₽</td>
                        </tr>
                        <tr>
                          <td>Снятие наличных в банкоматах сторонних банков</td>
                          <td>До 150 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>До 300 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях в другие банки через БКС Онлайн</td>
                          <td>1% мин. 35 USD, макс. 200 USD, 1% мин. 35 EUR, макс. 200 EUR</td>
                          <td>0.5% мин. 35 USD, макс. 200 USD, 0.5% мин. 35 EUR, макс. 200 EUR</td>
                          <td>35 USD / 35 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях на счет другого банка в отделениях БКС</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>1.5% мин. 100 ₽, макс. 2500 ₽</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                    <div class="collapse collapse_m-ultra collapse_theme-grey">
                      <div class="collapse__item">
                        <div class="collapse__control">
                          <div class="collapse__control-title">Полное описание тарифов</div>
                          <div class="collapse__control-icon">
                            {{ Icon.icon({ 'name': 'dropdown' }) }}
                          </div>
                        </div>
                        <div class="collapse__content"></div>
                      </div>
                      <div class="collapse__item">
                        <div class="collapse__control">
                          <div class="collapse__control-title">Документы</div>
                          <div class="collapse__control-icon">
                            {{ Icon.icon({ 'name': 'dropdown' }) }}
                          </div>
                        </div>
                        <div class="collapse__content"></div>
                      </div>
                    </div>
                  </div>
                  <div id="bks-overdraft" class="state_invisible">
                    <div class="table table_sortable table_theme-default mb-64">
                      <table class="table__content">
                        <thead class="table__head">
                        <tr>
                          <th><span class="table__column-title">Тарифный план</span></th>
                          <th><span class="table__column-title">Финансисит</span></th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        <tr>
                          <td>Категория карты</td>
                          <td>Visa Platinum</td>
                          <td>Visa Platinum</td>
                          <td>Visa Classic</td>
                        </tr>
                        <tr>
                          <td>Условия обслуживания</td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 500 000 ₽ или 500 ₽ в месяц (от 300
                            000 ₽ для регионов)
                          </td>
                          <td>Бесплатно при поддержании среднемесячного баланса от 3 000 000 ₽ или 1500 ₽ в месяц (от 2
                            000 000 ₽ для регионов)
                          </td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Размер бонуса</td>
                          <td>0.5%</td>
                          <td>1%</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Выпуск и обслуживание основной карты</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Срочный выпуск / перевыпуск карты</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                          <td>950 руб.</td>
                        </tr>
                        <tr>
                          <td>Количество дополнтельных бесплатных карт</td>
                          <td>Две <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>Три <br> (Visa Classic, Visa Gold, Visa Platinum, MasterCard Platinum)</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Интернет-банк и мобильный банк</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                        </tr>
                        <tr>
                          <td>Смс-информирование</td>
                          <td>Бесплатно</td>
                          <td>Бесплатно</td>
                          <td>59 ₽</td>
                        </tr>
                        <tr>
                          <td>Снятие наличных в банкоматах сторонних банков</td>
                          <td>До 150 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>До 300 000 ₽ / мес - бесплатно, далее - 1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                          <td>1% мин. 100 ₽ / 3 $ / 3 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях в другие банки через БКС Онлайн</td>
                          <td>1% мин. 35 USD, макс. 200 USD, 1% мин. 35 EUR, макс. 200 EUR</td>
                          <td>0.5% мин. 35 USD, макс. 200 USD, 0.5% мин. 35 EUR, макс. 200 EUR</td>
                          <td>35 USD / 35 EUR</td>
                        </tr>
                        <tr>
                          <td>Перевод в рублях на счет другого банка в отделениях БКС</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>0.5% мин. 50 ₽, макс. 2500 ₽</td>
                          <td>1.5% мин. 100 ₽, макс. 2500 ₽</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    {{ Docs.docs({ 'theme': 'filled', 'href': '#', 'title': 'Условия, правила и оговорки»' | striptags(true) | escape | nl2br, 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-64' }) }}
                    <div class="collapse collapse_m-ultra collapse_theme-grey">
                      <div class="collapse__item">
                        <div class="collapse__control">
                          <div class="collapse__control-title">Полное описание тарифов</div>
                          <div class="collapse__control-icon">
                            {{ Icon.icon({ 'name': 'dropdown' }) }}
                          </div>
                        </div>
                        <div class="collapse__content"></div>
                      </div>
                      <div class="collapse__item">
                        <div class="collapse__control">
                          <div class="collapse__control-title">Документы</div>
                          <div class="collapse__control-icon">
                            {{ Icon.icon({ 'name': 'dropdown' }) }}
                          </div>
                        </div>
                        <div class="collapse__content"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="credit-faq" class="tabs__item js-tab state_invisible">
          <section class="section page__section page__section_theme-last">
            <div class="page__container">
              <div class="section__row">
                <div class="section__content section__content_theme-centered">
                  {{ Heading.heading({ 'title': 'Частые вопросы' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }}
                </div>
              </div>
            </div>
            <div class="collapse collapse_theme-grey">
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Как узнать сумму ежемесячного платежа</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Может ли кто-то другой внести за меня ежемесячный платеж?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Я внес сумму, превыщающую ежемесячный платеж, что
                    произойдет?
                  </div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Что такое частичное досрочное погашение кредита?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
              <div class="collapse__item">
                <div class="collapse__control">
                  <div class="collapse__control-title">Могу ли я сразу внести несколько платежей?</div>
                  <div class="collapse__control-icon">
                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                  </div>
                </div>
                <div class="collapse__content"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    {% include "../components/modules/footer/footer.njk" %}

  </div>
{% endblock %}
