{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/context/context.njk" as Context %}
{% import "../components/library/checkbox/checkbox.njk" as Checkbox %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/modules/plastic-card/plastic-card.njk" as PlasticCard %}
{% import "../components/library/input/input.njk" as Input %}

{% set root = "." %}
{% set title = "Вклады детальная" %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products js-deposits">

      <section class="section page__section page__section_theme-first">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-default">
              {{ Heading.heading({ 'tag': 'h1', 'title': 'Карты', 'mods': { 'type': 'default', 'margin': 'short', 'theme': 'default' } }) }}
            </div>
          </div>
        </div>
        <div class="products__header products__header_border-none">
          <div class="page__container">
            <div class="products__controls">
              <div class="filter products__filter">
                <div class="filter__wrapper">
                  <div class="filter__select">
                    {{ Input.input({ 'label': 'Сумма вклада', 'class': 'filter__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'deposit_amount', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 500, 'max': 100000, 'from': 8600, 'step': 1000 } }) }}
                    {{ Input.input({ 'label': 'Срок вклада', 'class': 'filter__field-slider', 'field': { 'type': 'text', 'maxlength': '5', 'name': 'deposit_period', 'class': 'js-numeric-input' }, 'title': 'дней', 'slider': { 'min': 500, 'max': 1095, 'from': 620, 'step': 1 } }) }}
                    {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16 state_active' }) }}
                    {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16' }) }}
                    {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16 state_active' }) }}
                    {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' } }) }}
                  </div>
                  {{ Context.context({ 'title': 'Еще', 'name': 'dropdown', 'mods': { 'type': 'menu', 'theme': 'black' }, 'attr': {'id': 'deposit-filter'}, 'class': 'filter__item ml-a' }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {#TODO Плдправить компонент feature где используется согласно новым правкам в компоненте#}
      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          {{ PlasticCard.plasticCard({ 'title': 'Цифровой Visa Infinite',
            'category': {'travel': 'Путешествия'},
            'image': 'assets/images/card-infinite.png',
            'theme': 'blue',
            'features': [
              { 'title': '3%',
                'text': 'от всех покупок возвращаем на карту',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'},
              { 'title': '0#ruble',
                'text': 'страхование путешествующих',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'},
              { 'title': 'От 0#ruble',
                'text': 'стоимость обслуживания',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({ 'title': 'Цифровой Visa Infinite',
            'category': {'shopping': 'Все покупки'},
            'image': 'assets/images/card-infinite.png',
            'features': [
              { 'title': '12%',
                'text': 'от покупок в любимых категориях',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '0#ruble',
                'text': 'доступ в бизнес залы Priority Pass',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': 'От 0#ruble',
                'text': 'стоимость обслуживания',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({
            'title': 'Цифровой Visa Platinum',
            'category': {'travel': 'Путешествия'},
            'image': 'assets/images/card-infinite.png',
            'features': [
              { 'title': '7%',
                'text': 'от покупок в любимых категориях',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '0#ruble',
                'text': 'комиссия за онлайн платежи и переводы',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': 'От 0#ruble',
                'text': 'стоимость обслуживания',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({
            'title': 'MORE Visa Infinite',
            'category': {'travel': 'Путешествия'},
            'image': 'assets/images/card-more-infinite.png',
            'features': [
              { 'title': '5%',
                'text': 'от всех покупок возвращаем на карту',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '0#ruble',
                'text': 'комиссия за онлайн платежи и переводы',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': 'От 0#ruble',
                'text': 'стоимость обслуживания',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}

        </div>
      </section>

    </main>

    {% include "../components/modules/footer/footer.njk" %}

  </div>
{% endblock %}
