{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/context/context.njk" as Context %}
{% import "../components/library/checkbox/checkbox.njk" as Checkbox %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/modules/plastic-card/plastic-card.njk" as PlasticCard %}
{% import "../components/library/input/input.njk" as Input %}

{% set root = "." %}
{% set title = "Вклады" %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="products js-deposits">

      <section class="section page__section page__section_theme-first">
        <div class="page__container page__container_mobile-flex">
          <div class="section__row">
            <div class="section__content section__content_theme-default">
              {{ Heading.heading({ 'tag': 'h1', 'title': 'Вклады', 'mods': { 'type': 'default', 'margin': 'short', 'theme': 'default' } }) }}
            </div>
          </div>
          <div class="products__controls">
            <div class="filter products__filter">
              <div class="filter__wrapper">
                <div class="filter__select hidden-mobile">
                  {{ Input.input({ 'label': 'Сумма вклада', 'class': 'filter__field-slider', 'field': { 'type': 'text', 'maxlength': '7', 'name': 'deposit_amount', 'class': 'js-numeric-input' }, 'title': '#rubleмес.', 'slider': { 'min': 500, 'max': 100000, 'from': 8600, 'step': 1000 } }) }}
                  {{ Input.input({ 'label': 'Срок вклада', 'class': 'filter__field-slider', 'field': { 'type': 'text', 'maxlength': '5', 'name': 'deposit_period', 'class': 'js-numeric-input' }, 'title': 'дней', 'slider': { 'min': 500, 'max': 1095, 'from': 620, 'step': 1 } }) }}
                  {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16 state_active' }) }}
                  {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16' }) }}
                  {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' }, 'class': 'mr-16 state_active' }) }}
                  {{ Button.button({ 'name': 'ruble', 'mods': { 'type': 'icon', 'view': 'outlined', 'theme': 'gray', 'size': 'low', 'color': 'dark' } }) }}
                </div>
                {{ Context.context({ 'title': 'Еще', 'name': 'dropdown', 'icon': 'filter', 'mods': { 'type': 'menu', 'theme': 'black' }, 'attr': {'id': 'deposit-filter'}, 'class': 'filter__item ml-a' }) }}
              </div>
            </div>
          </div>
        </div>
      </section>

      {#TODO Плдправить компонент feature где используется согласно новым правкам в компоненте#}
      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          {{ PlasticCard.plasticCard({ 'title': 'Накопительный',
            'category': {'currency': 'Все валюты'},
            'animate': 'data_il4',
            'theme': 'blue',
            'button': 'Оформите вклад',
            'features': [
              { 'title': 'До 6,5%',
                'text': 'годовая \n ставка',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'},
              { 'title': '5 000 #ruble',
                'text': 'минимальная \n сумма вклада',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'},
              { 'title': '365 дней',
                'text': 'максимальный \n срок вклада',
                'mods': {'type': 'normal', 'theme': 'light'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({ 'title': 'Доходный фунт',
            'category': {'pound': '#pound'},
            'image': '',
            'button': 'Оформите вклад',
            'features': [
              { 'title': 'До 1,2%',
                'text': 'высокая \n процентная ставка',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '500#pound',
                'text': 'минимальная \n сумма вклада',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '365 дней',
                'text': 'максимальный \n срок вклада',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({
            'title': 'Универсальный выбор',
            'category': {'euro': '#euro', 'dollar': '#dollar', 'ruble': '#ruble'},
            'image': 'assets/illustrations/universal.svg',
            'button': 'Оформите вклад',
            'features': [
              { 'title': 'До 6%',
                'text': 'максимальная \n процентная ставка',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '50 000#ruble',
                'text': 'минимальная \n сумма вклада',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': 'До 730 дней',
                'text': 'гибкий срок \n по Вашему выбору',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}
          {{ PlasticCard.plasticCard({
            'title': 'Доходный',
            'category': {'euro': '#euro', 'dollar': '#dollar', 'ruble': '#ruble'},
            'image': 'assets/illustrations/dohodny.svg',
            'button': 'Оформите вклад',
            'features': [
              { 'title': 'До 6,9%',
                'text': 'максимальная \n процентная ставка',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': '50 000#ruble',
                'text': 'минимальная \n сумма вклада',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'},
              { 'title': 'До 1095 дней',
                'text': 'гибкий срок \n по Вашему выбору',
                'mods': {'type': 'normal'},
                'class': 'plastic-card__feature'}
            ] }) }}

        </div>
      </section>

    </main>

    {% include "../components/modules/footer/footer.njk" %}

  </div>
{% endblock %}
