{% extends "layout/layout.njk" %}

{% set root = "." %}
{% set title = "Раскрытие информации" %}

{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/library/heading/heading.njk" as Heading %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="documents">
      <section class="section page__section">

        <div class="section__header section__header_theme-blue">
          <div class="page__container">
            {{ Heading.heading({ 'tag': 'h1', 'title': 'Раскрытие \n информации' | striptags(true) | escape | nl2br, 'mods': { 'type': 'large', 'margin': 'default' } }) }}
          </div>
          <div class="section__nav">
            <div class="page__container">
              {{ Tabbar.tabbar({ 'theme': 'light-tab', 'view': 'upperscore', 'tabs': [{'title': 'Общее', 'id': 'common' }, {'title': 'Регуляторам', 'id': 'regulators'}] }) }}
            </div>
          </div>
        </div>
      </section>

      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_medium section__content_theme-centered">
              <div class="tabs js-tabs">
                <div id="common" class="tabs__item js-tab state_invisible">
                  {{ Heading.heading({ 'title': 'Общее' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'normal' } }) }}

                  {{ Docs.docs({ 'title': 'Сообщение о раскрытии акционерным обществом на странице в сети Интернет годового отчета, годовой бухгалтерской (финансовой) отчетности, списка аффилированных лиц', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Сообщение о проведении общего собрания акционеров акционерного общества', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Сообщение о раскрытии акционерным обществом на странице в сети Интернет списка аффилированных лиц акционерного общества', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации об органах управления банка', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Перечень филиалов, представительств и иных подразделений АО «БКС Банк»', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}


                  {{ Heading.heading({ 'title': 'Информация о членстве \n в саморегулируемых организациях' | striptags(true) | escape | nl2br, 'type': 'normal', 'margin': 'short', 'class': 'mt-64' }) }}

                  <div class="section__text mb-32">
                    <p>C 2010 года «АО “БКС Банк» является членом саморегулируемой организации организация «Национальная
                      фондовая ассоциация» (СРО НФА)</p>
                  </div>
                  {{ Docs.docs({ 'title': 'Свидетельство о регистрации организации-члена НФА', 'href': '#', 'type': 'PDF', 'size': '0,3 МБ', 'prenote': '20.05.2016', 'note': 'Актуально с 16.03.2010 по настоящее время', 'class': 'mb-32'}) }}
                  <div class="section__text mb-32">
                    <p>C 2010 года «АО “БКС Банк» является членом саморегулируемой организации организация «Национальная
                      фондовая ассоциация» (СРО НФА).</p>
                  </div>
                  {{ Docs.docs({ 'icon': 'download', 'theme': 'filled', 'title': 'Стандарты СРО НФА, которыми руководствуется профессиональный участник рынка ценных бумаг при осуществлении своей деятельности', 'prenote': '20.05.2016', 'note': 'Актуально с 16.03.2010 по настоящее время', 'href': '#'}) }}

                  {{ Heading.heading({ 'title': 'Раскрытие информации \n по брокерской деятельности' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}

                  <div class="section__text mb-32">
                    <p>Перечень клиринговых организаций, с которыми брокер заключил договоры об оказании ему клиринговых
                      услуг, с указанием их полного фирменного наименования*:</p>
                    <ul>
                      <li>Небанковская кредитная организация акционерное общество «Национальный расчетный
                        депозитарий»;
                      </li>
                      <li>Небанковская кредитная организация — центральный контрагент «Национальный Клиринговый Центр»
                        (Акционерное общество).
                      </li>
                    </ul>
                    <p>Перечень организаторов торговли, в том числе иностранных, где брокер является участником торгов,
                      с указанием полного фирменного наименования организатора торговли**:</p>
                    <ul>
                      <li>Публичное акционерное общество «Московская Биржа ММВБ-РТС».</li>
                    </ul>
                    <cite>
                      *Спецброкерские счета, открытые АО «БКС Банк» в других кредитных организациях, отсутствуют.
                      **Факты приостановления допуска брокера к организованным торгам, клиринговому обслуживанию
                      отсутствуют.
                    </cite>
                  </div>
                  {{ Docs.docs({ 'title': 'Договор об оказании брокерских услуг', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Регламент о порядке признания лиц квалифицированными инвесторами', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Заявление о признании квалифицированным инвестором (для юридических лиц)', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Реестр лиц, признанных квалифицированными инвесторами', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Заявление о совершении сделок для квалифицированных инвесторов', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'Информация о технических сбоях' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  {{ Docs.docs({ 'title': 'Сбои не зарегистрированы', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#'}) }}

                  {{ Heading.heading({ 'title': 'Информация о существенных \n судебных спорах' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  {{ Docs.docs({ 'title': 'Существенные судебные споры отсутствуют', 'prenote': '20.05.2016', 'note': 'Актуально по настоящее время', 'href': '#'}) }}
                </div>
                <div id="regulators" class="tabs__item documents__tab js-tab state_invisible">
                  {{ Heading.heading({ 'title': 'Регуляторам' | striptags(true) | escape | nl2br, 'mods': { 'type': 'default', 'margin': 'normal' } }) }}

                  {{ Docs.docs({ 'title': 'Раскрытие информации о капитале на 1.06.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации о принимаемых рисках на 1.04.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Правила ведения реестра владельцев именных ценных бумаг АО «БКС — Инвестиционный Банк»', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Основные характеристики инструментов капитала на 1.04.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации о капитале на 1.03.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации о капитале на 1.02.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации о капитале на 1.01.2018', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Раскрытие информации о капитале на 1.12.2017', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'Аффилированные лица' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  <div class="section__text mb-32">
                    <p>Список лиц, под контролем либо значительным влиянием которых находится кредитная организация и
                      схема взаимосвязей кредитной организации и лиц, под контролем либо значительным влиянием которых
                      находится кредитная организация</p>
                  </div>
                  {{ Docs.docs({ 'title': 'Список аффилированых лиц (2018)', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Список аффилированых лиц (2017)', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Список аффилированых лиц (2016)', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Список аффилированых лиц (2015)', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'Технологии и средства обеспечения \n информационной безопасности при ДБО через Интернет' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  <div class="section__text mb-32">
                    <p>Перечень опубликованных актов, регламентирующих использование технологий и средств обеспечения
                      информационной безопасности при дистанционном банковском обслуживании через Интернет:</p>
                    <ul>
                      <li>Письмо Банка России от 23.10.2009 №128-Т «О Рекомендациях по информационному содержанию и
                        организации Web-сайтов кредитных организаций в сети Интернет»;
                      </li>
                      <li>Письмо ЦБ РФ от 07.12.2007 №197-Т «О рисках при дистанционном банковском обслуживании»;</li>
                      <li>Письмо Банка России от 30.01.2009 №11-Т «О рекомендациях для кредитных организаций по
                        дополнительным мерам информационной безопасности при использовании систем интернет-банкинга»;
                      </li>
                      <li>Письмо ЦБ РФ от 27.04.2007 №60-Т «Об особенностях обслуживания кредитными организациями
                        клиентов с использованием технологии дистанционного доступа к банковскому счету клиента (включая
                        интернет-банкинг)»;
                      </li>
                      <li>Письмо Банка России от 31.03.2008 №36-Т «О Рекомендациях по организации управления рисками,
                        возникающими при осуществлении кредитными организациями операций с применением систем
                        интернет-банкинга»;
                      </li>
                      <li>Письмо ЦБ РФ от 25.06.2009 №76-Т «О рекомендациях по информированию клиентов о размещении на
                        Web-сайте Банка России списка адресов Web-сайтов кредитных организаций».
                      </li>
                    </ul>
                  </div>

                  {{ Docs.docs({ 'title': 'Рекомендации Клиенту по безопасному использованию систем ДБО', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'Политика в отношении обработки \n персональных данных' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  {{ Docs.docs({ 'title': 'Политика в отношении обработки персональных данных', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'FATCA' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  <div class="section__text mb-32">
                    <p>
                      К сведению контрагентов и клиентов: <br>
                      В целях исполнения требований Закона США «О налогообложении иностранных счетов» (Foreign Account
                      Tax Compliance Act — FATCA) АО «БКС Банк» зарегистрирован в налоговой службе США (IRS) в качестве
                      участвующего финансового института (Participating), банку присвоен идентификатор FATCA (Global
                      Intermediary Identification Number, GIIN) — QZML48.99999.SL.643.
                    </p>
                  </div>
                  {{ Docs.docs({ 'title': 'Форма W-8 BEN-E, заполненная по АО «БКС Банк»', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Критерии отнесения клиентов к категории налогоплательщиков США в целях FATCA и способы получения от них необходимой информации', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Анкета идентификации физического лица в соответствии с законом FATCA', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'class': 'mb-32'}) }}
                  {{ Docs.docs({ 'title': 'Форма W-9', 'href': '#', 'type': 'PDF', 'size': '213 КБ'}) }}

                  {{ Heading.heading({ 'title': 'Аудиторская организация' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mt-64' }) }}
                  <div class="section__text mb-56">
                    <p>Наименование: Общество с ограниченной ответственностью «Финансовая экспертиза» (ООО
                      «ФИНЭКС»).</p>
                    <p>Место нахождения (соответствует почтовому адресу): 630015, Новосибирск, ул. Гоголя, 235/1.</p>
                    <p>
                      Наименование саморегулируемой организации аудиторов, членом которой является аудиторская
                      организация: Саморегулируемая организация аудиторов Ассоциация «Содружество» (СРО ААС). Номер в
                      реестре аудиторов и аудиторских организаций саморегулируемой организации аудиторов: 11606064647,
                      30.11.2016. Дата последней проверки АО «БКС Банк»:
                    </p>
                    <ul>
                      <li>Аудиторское заключение по финансовой (бухгалтерской) отчетности АО «БКС Банк» за 2017 год, дата подписания 26.03.2018.</li>
                      <li>Аудиторское заключение ООО «ФИНЭКС» по финансовой (бухгалтерской) отчетности АО «БКС Банк», подготовленной в соответствии с требованиями МСФО по итогам деятельности за 2017 год, дата подписания 12.04.2018.</li>
                    </ul>
                  </div>
                  <div class="section__info">
                    <p>Ответственный за web-сайт</p>
                    <div class="section__info-content">
                      <span>Смиренный Михаил Львович. Тел.: (495) 785-53-36 доб. 7571.</span>
                    </div>
                    <p>Сервис-центр</p>
                    <div class="section__info-content">
                      <a href="tel:+78001005544">8 (800) 100-55-44</a><span> круглосуточно, звонок бесплатный</span>
                    </div>
                    <p>Территориальное учреждение Банка России, осуществляющее надзор за деятельностью Банка</p>
                    <div class="section__info-content">
                      <span>Сибирское Главное управление Центрального Банка Российской Федерации: 630099, Новосибирск, Красный Проспект, 27, телефон </span><a href="tel:+73832223100">(383) 222-31-00</a><span>.</span>
                    </div>
                    <p>Территориальное учреждение Банка России, осуществляющее надзор за деятельностью Московского филиала АО «БКС Банк»</p>
                    <div class="section__info-content">
                      <span>Главное управление Центрального банка Российской Федерации по Центральному федеральному округу: 115035, г. Москва, М-35, ул. Балчуг, 2, телефон </span><a href="tel:+74959502190">(495) 950-21-90</a><span>, факс (499) 230-34-12.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
