{% extends "layout/layout.njk" %}

{% set root = "." %}
{% set title = "Документы" %}

{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/library/docs/docs.njk" as Docs %}
{% import "../components/library/heading/heading.njk" as Heading %}

{% block body %}
  <div class="page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="documents section page__section">

        <div class="section__header section__header_theme-blue">
          {{ Menubar.menubar({ 'theme': 'blue', 'class': 'section__menubar' }) }}
          <div class="page__container">
            {{ Heading.heading({ 'tag': 'h1', 'title': 'Документы' | striptags(true) | escape | nl2br }) }}
          </div>
          <div class="section__nav">
            <div class="page__container">
              {{ Tabbar.tabbar({ 'view': 'upperscore', 'tabs': [{'title': 'Актуальные документы', 'state': 'state_active' }, {'title': 'Архив для физических лиц'}, {'title': 'Архив для юридических лиц'}] }) }}
            </div>
          </div>
        </div>

        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-centered">
              <div class="tabs">
                <div class="tabs__item documents__tab">
                  {{ Heading.heading({ 'title': 'Устав банка' | striptags(true) | escape | nl2br }) }}

                  {{ Docs.docs({ 'title': 'Изменения №5 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №4 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №3 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №2 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №1 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ', 'note': 'В редакции от 10.11.2015'}) }}
                  {{ Docs.docs({ 'title': 'Устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ', 'note': 'В редакции от 10.03.2015'}) }}
                  {{ Docs.docs({ 'title': 'Устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ', 'note': 'В редакции от 03.10.2014'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №1 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                  {{ Docs.docs({ 'title': 'Изменения №2 в устав', 'href': '#', 'type': 'ZIP', 'size': '0,3 МБ'}) }}
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  </section>
  </main>

  {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
