{% extends "layout/layout.njk" %}

{% set root = "." %}
{% set title = "Главная" %}

{% block body %}
    <div class="page">

        {% include "../components/modules/header/header.njk" %}

        <main role="main"></main>
    </div>
{% endblock %}
