{% extends "layout/layout.njk" %}

{% set root = "." %}
{% set title = "Главная" %}

{% block body %}
    <div class="page">

        {% include "../components/modules/header/header.njk" %}

        <main role="main" style="height: 1758px;"></main>

        {% include "../components/modules/footer/footer.njk" %}
    </div>
{% endblock %}
