{% extends "layout/layout.njk" %}
{#{% extends "library/card/card.njk" %}#}

{% set root = "." %}
{% set title = "Главная" %}
{% set header = 'blue' %}
{% set bodyClass = 'index-page' %}

{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/card/card.njk" as Card with context %}
{% import "../components/modules/advice/advice.njk" as Advice %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/icon/icon.njk" as Icon %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section">
        <div class="section__header section__header_theme-blue">

          <div class="carousel">
            <div class="carousel__progressbar">
              <div class="carousel__progressbar-bar js-carousel-progressbar"></div>
            </div>
            <div class="index-carousel js-carousel" data-id="index-header">
              <div class="index-carousel__slide" data-href="http://google.com" data-read-more-href="http://ya.ru" data-scroll-id=""><!-- data-read-more-href url для первой кнопки    data-href  для второй кнопки -->
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Сократите платежи \n по всем кредитам', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="features index-carousel__features">
                          {{ Feature.feature({ 'title': 'До 55 дней', 'text': 'беспроцентный \n период', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 1 млн. #ruble', 'text': 'максимальная \n сумма кредита', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 30%', 'text': 'от покупок \n возвращаются на карту', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                        </div>
                      </div>
                      <div class="index-carousel__image">
                        <div class="illustration" data-illustration="data_il3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="index-carousel__slide" data-href="/bks/cards-detail_broker.html" data-scroll-id="#section-request">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Покупки \n с картой БКС', 'mods': { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="features index-carousel__features">
                          {{ Feature.feature({ 'title': 'До 55 дней', 'text': 'беспроцентный \n период', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 1 млн. #ruble', 'text': 'максимальная \n сумма кредита', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 30%', 'text': 'от покупок \n возвращаются на карту', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                        </div>
                      </div>
                      <div class="index-carousel__image">
                        <div class="illustration">
                          <img class="illustration-image" src="assets/illustrations/digital_signature2.svg" alt="Покупки с картой БКС">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="index-carousel__slide" data-href="/bks/cards-detail_more-visa-platinum.html" data-scroll-id="#section-request">
                <div class="page__container">
                  <div class="index-carousel__wrap">
                    <div class="section__row">
                      <div class="index-carousel__content">
                        {{ Heading.heading({ 'tag': 'h1', 'title': 'Ремонт легче с \n кредитом онлайн', 'mods' : { 'type': 'large', 'margin': 'medium', 'theme': 'light' } }) }}
                        <div class="features index-carousel__features">
                          {{ Feature.feature({ 'title': 'До 55 дней', 'text': 'беспроцентный \n период', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 1 млн. #ruble', 'text': 'максимальная \n сумма кредита', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                          {{ Feature.feature({ 'title': 'До 30%', 'text': 'от покупок \n возвращаются на карту', 'mods': {'type': 'normal'}, 'class': 'index-carousel__feature'}) }}
                        </div>
                      </div>
                      <div class="index-carousel__image">
                        <div class="illustration">
                          <img class="illustration-image" src="assets/illustrations/credit_online.svg" alt="Ремонт легче с кредитом БКС">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page__container">
            <div class="section__header-controls">

              {{ Button.button({ 'href': '/bks/cards-detail_bks-platinum.html?#section-request', 'title': 'Оформить', 'mods': { 'theme': 'white' }, 'class': 'section__header-button js-redirect-scroll' }) }}
              {{ Button.button({ 'href': '/bks/cards-detail_bks-platinum.html', 'title': 'Узнать больше', 'mods': { 'theme': 'white', 'view': 'text' }, 'class': 'section__header-button_type-more js-redirect-url' }) }}

              <div class="carousel-controls js-index-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="index-header">
                  <span>01</span><span></span><span></span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>
      <section class="index-products section page__section js-scroll-animate">
        <div class="page__container">
          <div class="section__row">
            <div class="index-products__list">
              {{ Card.card({ 'href': '#', 'type': 'figure', 'img': 'assets/illustrations/index_credit.svg', 'view': 'uppercase', 'theme': 'black', 'hoverType': 'circle',  'title': '12,9%', 'subtitle': 'ставка по кредиту \n без переплат' | striptags(true) | escape | nl2br, 'link': 'Потребительский кредит', 'mobile': 'Кредит', 'class': 'section__element index-products__card' }) }}
              {{ Card.card({ 'href': '#', 'type': 'figure', 'img': 'assets/illustrations/index_card.svg', 'view': 'uppercase', 'theme': 'black', 'hoverType': 'circle', 'title': '30%', 'subtitle': 'кешбек за покупки \n у партнеров' | striptags(true) | escape | nl2br, 'link': 'Кредитная карта', 'mobile': 'Карта', 'class': 'section__element index-products__card' }) }}
              {{ Card.card({ 'href': '#', 'type': 'figure', 'img': 'assets/illustrations/index_vklad.svg', 'view': 'uppercase', 'theme': 'black', 'hoverType': 'circle', 'title': '8,1%', 'subtitle': 'годовых по вкладу \n в рублях' | striptags(true) | escape | nl2br, 'link': 'Вклад', 'class': 'section__element index-products__card' }) }}
            </div>
          </div>
        </div>
      </section>
      <section class="mobile section page__section page__section_theme-large js-scroll-animate">
        <div class="page__container section_theme-blue">
          <div class="section__row">
            <div class="mobile__content">
              {{ Heading.heading({ 'title': 'Легкий мобильный банк', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'light' } }) }}
              <div class="section__text section__text_theme-normal section__text_theme-light">
                <p>Ваш бесплатный помощник в получении банковских услуг.<br> Легко скачать, легко использовать</p>
              </div>
              <div class="mobile__vendors">
                <a class="mobile__link-app" href="https://play.google.com/store/apps/details?id=cz.bsc.bcs" target="_blank">
                  {{ Button.button({ 'name': 'android', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large', 'view': 'outlined' } }) }}
                  <p>Google Play</p>
                </a>
                <a class="mobile__link-app" href="https://itunes.apple.com/ru/app/bks-onlajn/id652802642" target="_blank">
                  {{ Button.button({ 'name': 'apple', 'mods': { 'type': 'icon', 'theme': 'white', 'size': 'large', 'view': 'outlined' } }) }}
                  <p>AppStore</p>
                </a>
              </div>
            </div>
            <div class="mobile__figure">
              <div class="illustration" data-illustration="data_il1"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="services section page__section page__section_theme-large">
        <div class="page__container">
          <div class="section__heading js-scroll-animate">
            {{ Heading.heading({ 'title': 'Полезные сервисы', 'mods': { 'type': 'default', 'margin': 'none', 'theme': 'default' } }) }}
            {{ Button.button({ 'href': '#', 'title': 'Все сервисы', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
          </div>
          <div class="section__row">
            <div class="services__carousel carousel carousel_type-mobile js-scroll-animate">
              <div class="js-carousel carousel__content" data-id="index-services" data-breakpoint="992">
                {{ Card.card({ 'block': 'modules/services/fix-course', 'view': 'lowercase', 'theme': 'black', 'hoverType': 'circle-button', 'link': 'Зафиксировать курс', 'class': 'section__element services__card', 'action': 'https://valuta.bcs-bank.com/', 'attr': {'form': 'fix-course', 'api-url': 'https://beta.bcs-bank.com/get_xchng_update '} }) }}
                {{ Card.card({ 'block': 'modules/services/exchange', 'view': 'lowercase', 'theme': 'black', 'hoverType': 'circle-button', 'link': 'Обменять валюту', 'class': 'section__element services__card', 'attr': {'api-url': 'https://beta.bcs-bank.com/get_courses_update'}  }) }}
                {{ Card.card({ 'block': 'modules/services/exchange-map', 'view': 'lowercase', 'theme': 'black', 'hoverType': 'circle-button', 'link': 'Найти на карте', 'linkhref': 'offices.html', 'class': 'section__element services__card', 'attr': {'api-url': 'https://beta.bcs-bank.com/get_courses_update'} }) }}
                {# Поиск штрафов #}
                {#{{ Card.card({ 'block': 'modules/services/check-exist', 'view': 'lowercase', 'theme': 'black', 'hoverType': 'button', 'link': 'Проверить наличие', 'class': 'section__element services__card' }) }}#}
              </div>
              <div class="carousel-controls carousel-controls_theme-dark js-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="index-services">
                  <span>01</span><span></span><span></span>
                </div>
              </div>
            </div>
            {% include "../components/modules/services/transfer.njk" %}
          </div>
        </div>
      </section>
      <iframe class="transfer-iframe js-scroll-animate" src="https://pay.best2pay.net/webapi/P2PTransfer?sector=1480&code=643"></iframe>
      <section class="advices section page__section page__section_theme-large js-scroll-animate">
        <div class="page__container">
          <div class="section__heading">
            {{ Heading.heading({ 'title': 'Только нужные советы', 'mods': { 'type': 'default', 'margin': 'none', 'theme': 'default' } }) }}
            {{ Button.button({ 'href': '#', 'title': 'Все советы', 'mods': { 'type': 'link', 'theme': 'default', 'view': 'text' } }) }}
          </div>
          <div class="section__row">
            {{ Advice.advice({ 'href': '#', 'title': 'Как поужинать в любимом ресторане за счет банка' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-1.jpg', 'class': 'section__element' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Где срочно взять деньги' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-2.jpg', 'class': 'section__element' }) }}
            {{ Advice.advice({ 'href': '#', 'title': 'Как экономить на путешествиях до 25%' | striptags(true) | escape | nl2br, 'subtitle': '24 марта 2018', 'img': 'assets/images/advice-3.jpg', 'class': 'section__element' }) }}
          </div>
        </div>
      </section>
      <section class="company section section_theme-blue page__section js-scroll-animate">
        <div class="page__container">
          <img class="company__figure" src="assets/illustrations/bks_group.svg" alt="Безграничные возможности">
          {{ Heading.heading({ 'title': 'Откройте безграничные \n возможности сгруппой \n компаний БКС', 'mods': { 'type': 'default', 'margin': 'normal', 'theme': 'light' }, 'class': 'hidden-mobile' }) }}
          {{ Heading.heading({ 'title': 'Группа компаний БКС', 'mods': { 'type': 'default', 'margin': 'normal', 'theme': 'light' }, 'class': 'hidden-desktop' }) }}
          <div class="section__row">
            <div class="company__carousel carousel carousel_type-mobile">
              <div class="js-carousel carousel__content" data-id="index-company" data-breakpoint="768">
                {{ Card.card({'href': '#', 'icon': 'assets/images/svg/premier.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'circle', 'title': 'Ваш персональный финансовый советник в БКС онлайн', 'subtitle': 'Инвестиции доступные \n каждому' | striptags(true) | escape | nl2br, 'link': 'БКС Премьер', 'class': 'section__element company__card js-show-partners-modal-button' , "attr": {"title":"Переход на БКС Премьер", "subscriptionText": "Получайте свежие предложения от ведущего премьера №1 в рейтинге московских бирж. Укажите ваши контакты для подписки на рассылку",  "text":"Инвестиции, доступные каждому. Для профессионалов и новичков.", "link":"http://bcs-bank.com"} }) }}
                {{ Card.card({ 'vasya': 'Petya', 'href': '#', 'icon': 'assets/images/svg/logo-dark.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'circle', 'title': 'Инвестируйте \n с крупнейшим \n брокером России' | striptags(true) | escape | nl2br, 'subtitle': 'Достижение ваших \n финансовых целей' | striptags(true) | escape | nl2br, 'link': 'БКС Брокер', 'class': 'section__element company__card js-show-partners-modal-button' , "attr": {"title":"Переход на БКС Брокер", "subscriptionText": "Получайте свежие предложения от ведущего брокера №1 в рейтинге московских бирж. Укажите ваши контакты для подписки на рассылку", "text":"Торгуйте на бирже с ведущим брокером №1 в рейтинге московских бирж.", "link":"http://bcs-bank.com"} }) }}
                {{ Card.card({ 'href': '#', 'icon': 'assets/images/svg/ultima.svg', 'view': 'lowercase', 'theme': 'black-unhovered', 'hoverType': 'circle', 'title': 'Персональный банк самых амбициозных', 'subtitle': 'Уникальные привилегии \n и безграничные возможности' | striptags(true) | escape | nl2br, 'link': 'БКС Ультима', 'class': 'section__element company__card js-show-partners-modal-button' , "attr": {"title":"Переход на БКС Ультима", "subscriptionText": "Получайте свежие предложения от ведущего ультима №1 в рейтинге московских бирж. Укажите ваши контакты для подписки на рассылку", "text":"Ваш личный финансист составит финансовый план и подберет банковские продукты.", "link":"http://bcs-bank.com"} }) }}
              </div>
              <div class="carousel-controls js-carousel-controls">
                <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="index-company">
                  <span>01</span><span></span><span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
