{% extends "layout/layout.njk" %}
{#{% extends "library/card/card.njk" %}#}

{% set root = "." %}
{% set title = "Пополняемый  накопительный вклад" %}
{% set header = 'blue' %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/modules/landing-feature-card/landing-feature-card.njk" as LandingFeature %}
{% import "../components/library/card/card.njk" as Card with context %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../components/library/radio/radio.njk" as Radio %}
{% import "../components/modules/landings-valutes-block/valutes.njk" as ValutesBlock %}

{% block body %}
  <div class="page js-page page_lading-grey">

    {% include "../components/modules/header/headerLandings.njk" %}

    <main role="main" class="products-detail">
      <section class="section page__section mb-26">
        <div class="section__header ">
          <div class="page__container page__container_landing-container">
            <div class="section__header_landings">
              <div class="section__header_landings-title">
                <h2 class="heading heading_type-default heading_type-double-colored  heading_margin-medium">
                  <span>Пополняемый <br> <span>накопительный вклад</span></span>
                </h2>
                <div class="section__header_landings-info">
                  {{ ValutesBlock.valutes({'src':[
                    'assets/illustrations/valutes/yen-icon.svg',
                    'assets/illustrations/valutes/euro-icon.svg',
                    'assets/illustrations/valutes/rubl-icon.svg',
                    'assets/illustrations/valutes/pound-icon.svg'
                  ]}) }}
                  <div class="text text_theme-gray">
                    Открывается сразу  <br>в <b>4 валютах</b>
                  </div>
                </div>

                {{ Button.button({ 'title': 'Оформить вклад', 'mods': { 'theme': 'default' }, 'class': 'products-detail__nav-button products-detail__nav-button-left', attr: {'scroll': '#section-request'} }) }}
              </div>
              <div class="section__header_landings-image">
                <img class="illustration-image" src="assets/illustrations/group-166.svg" alt="Пополняемый накопительный вклад">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section page__section">
        <div class="page__container page__container_landing-container-short">
          <div class="section__row">
            <h2 class="heading heading_type-default-landings heading_type-double-colored heading_align-centered-landings  mb-16">
              <span><span>Преимущества</span> накопительного вклада</span>
            </h2>
            <div class="text text_theme-gray text_type-block text_align-center">
              Коротко, доступно, честно!
            </div>
            <div class="landing-white-block">

            </div>
          </div>
        </div>
      </section>


    </main>

    {% include "../components/modules/footer/footer-landings.njk" %}
  </div>
{% endblock %}

