{% extends "layout/layout.njk" %}

{% import "../components/library/card/card.njk" as Card %}
{% import "../components/library/contact/contact.njk" as Contact %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/datepicker/datepicker.njk" as Datepicker %}
{% import "../components/icon/icon.njk" as Icon %}
{% import "../components/modules/menubar/menubar.njk" as Menubar %}

{% set root = "." %}
{% set title = "Новости" %}
{% set card = [
  {'title': 'Как поужинать \n в любимом ресторане за счет банка',
    'subtitle': '24 марта 2018', 'href': 'http://juravlev.rusrobots.ru/bks/news-detail.html'},
  {'title': 'Как поужинать \n в любимом ресторане за счет банка',
    'subtitle': '24 марта 2018', 'href': 'http://juravlev.rusrobots.ru/bks/news-detail.html'},
  {'title': 'Как поужинать \n в любимом ресторане за счет банка',
    'subtitle': '24 марта 2018', 'href': 'http://juravlev.rusrobots.ru/bks/news-detail.html'},
  {'title': 'Как поужинать \n в любимом ресторане за счет банка',
    'subtitle': '24 марта 2018', 'href': 'http://juravlev.rusrobots.ru/bks/news-detail.html'},
  {'title': 'Как поужинать \n в любимом ресторане за счет банка',
    'subtitle': '24 марта 2018', 'href': 'http://juravlev.rusrobots.ru/bks/news-detail.html'}
] %}

{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main" class="news">
      <section class="section page__section">
        <div class="section__header">
          {{ Menubar.menubar({ 'theme': 'black', 'class': 'section__menubar' }) }}
        </div>
      </section>

      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          <div class="section__row">

            <div class="section__content section__content_theme-default">
              {{ Heading.heading({ 'tag': 'h1', 'title': 'Новости за', 'context': {'title': 'июнь 2018', 'name': 'news', 'attr': {'id': 'news-period'} }, 'mods': { 'type': 'default', 'margin': 'short', 'theme': 'default' } }) }}
              <div class="js-news-cards">

                <div class="datepicker-here2"></div>

                {% for card in card %}
                  {{ Card.card({ 'href': card.href, 'type': 'default', 'view': 'uppercase', 'hoverType': 'card', 'title': card.title | striptags(true) | escape | nl2br, 'subtitle': card.subtitle, 'link': 'Читать' }) }}
                {% endfor %}
              </div>
              {{ Button.button({ 'title': 'Показать еще', 'mods' : {'theme': 'default', 'view': 'outlined', 'size': 'wide'} }) }}
            </div>

            <div class="section__aside">
              <div class="section__sticky js-sticky">
                {{ Contact.contact({ 'title': 'Управление по связям \n с общественностью' | striptags(true) | escape | nl2br,
                  'items': [{ 'name': 'Менеджер', 'value': 'Сергей Нагорный' }, { 'name': 'Телефон', 'value': '8 (495) 785 53 36', 'href': 'tel:+74957855336' }, { 'name': 'Электронная почта', 'value': 'snagornyy@msk.bcs.ru', 'href': 'mailto:snagornyy@msk.bcs.ru' }],
                  'class': 'news__contact js-contact' }) }}
              </div>
            </div>

          </div>
        </div>
      </section>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
