{% extends "layout/layout.njk" %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/contact/contact.njk" as Contact %}

{% set root = "." %}
{% set title = "Офисы и банкоматы" %}
{% set page = "offices" %}
{% set bodyClass = "theme-transparent" %}

{% block body %}
  <div class="page js-page"> {% include "../components/modules/header/header.njk" %}
    <main role="main" class="map">
      <div class="page__container page__new-container">
        <section class="section page__section">
           {% include "../components/modules/offices/offices.njk" %} </section>
      </div>
    </main> {% include "../components/modules/footer/footer.njk" %} </div> {% endblock %}
