{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/contact/contact.njk" as Contact %}
{% import "../components/modules/menubar/menubar.njk" as Menubar %}

{% set root = "." %}
{% set title = "Офисы и банкоматы" %}


{% block body %}
  <div class="page js-page">

    {% include "../components/modules/header/header.njk" %}

    <main role="main">
      <section class="section page__section">
        <div class="section__header">
          {{ Menubar.menubar({ 'theme': 'black', 'class': 'section__menubar' }) }}
        </div>
      </section>

      <section class="section page__section">
        <div class="page__container">
          <div class="section__row">

            <div class="section__content">
              {{ Heading.heading({ 'tag': 'h1', 'title': 'Офисы и банкоматы', 'type': 'default', 'margin': 'short', 'theme' : 'default',
                'context': {'id': 'select-city', 'title': 'Москве', 'attr': {'id': 'select-city', 'prefix': 'в'} } }) }}
            </div>
          </div>
        </div>
        {% include "../components/modules/offices/offices.njk" %}

      </section>
    </main>

    {% include "../components/modules/footer/footer.njk" %}
  </div>
{% endblock %}
