{% extends "layout/layout.njk" %}
{#{% extends "library/card/card.njk" %}#}

{% set root = "." %}
{% set title = "Полезное" %}
{% set header = 'blue' %}

{% import "../components/modules/menubar/menubar.njk" as Menubar %}
{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/card/card.njk" as Card with context %}
{% import "../components/modules/advice/advice.njk" as Advice %}
{% import "../components/library/input/input.njk" as Input %}
{% import "../components/icon/icon.njk" as Icon %}
{% import "../components/modules/tabbar/tabbar.njk" as Tabbar %}
{% import "../components/modules/brand-features/brand-features.njk" as BrandFeatures %}
{% import "../components/library/usefull-advantage/usefull-advantage.njk" as UsefullAdvantage %}
{% import "../components/library/usefull-pay-steps/usefull-pay-steps.njk" as UsefullPaySteps %}

{% block body %}
    <div class="page js-page">

        {% include "../components/modules/header/header.njk" %}

        <main role="main">
            <section class="section page__section">
                <div class="section__header section__header_theme-blue">

                    <div class="carousel">
                        <div class="index-carousel js-carousel" data-id="index-header">
                            <div class="index-carousel__slide" data-href="http://google.com"
                                 data-read-more-href="http://ya.ru" data-scroll-id="">
                                <!-- data-read-more-href url для первой кнопки    data-href  для второй кнопки -->
                                <div class="page__container">
                                    <div class="index-carousel__wrap">
                                        <div class="section__row">
                                            <div class="index-carousel__content">
                                                {{ Heading.heading({ 'tag': 'h1', 'title': 'Apple Pay — удобный и безопасный способ платить картой Visa БКС Банка', 'mods': { 'type': 'default', 'margin': 'medium', 'theme': 'light' } }) }}
                                                <div class="index-carousel__content-text">
                                                    Пользуйтесь всеми преимуществами своей карты БКС Банка с Apple Pay. Это удобный, безопасный и конфиденциальный способ оплаты.
                                                </div>
                                                <img class="mb-64" src="assets/illustrations/apple_pay-icons.svg">
                                            </div>
                                            <div class="index-carousel__image">
                                                <div class="illustration">
                                                    <img class="illustration-image illustration-image-short"
                                                         src="assets/illustrations/apple_pay-header.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="js-section-tabs">
                <section class="index-products section page__section mb-52">
                    <div class="page__container mb-10">
                        {{ Heading.heading({ 'class':'section__col_half','title': 'Добавьте карту БКС Банка в Apple Pay', 'mods': { 'type': 'default' } }) }}
                    </div>
                    <div class="page__container">
                        <div class="section-tabs__nav">
                            <ul class="section-tabs__nav-list">
                                <li data-tab-show="#applephone" class="section-tabs__nav-item">
                                    iPhone
                                </li>
                                <li data-tab-show="#applewatch" class="section-tabs__nav-item">
                                    Apple Watch
                                </li>
                                <li data-tab-show="#appleipad" class="section-tabs__nav-item">
                                    iPad
                                </li>
                                <li data-tab-show="#applemacbook" class="section-tabs__nav-item">
                                    MacBook
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section id="applephone" class="section page__section mb-112 js-section-tab">
                    <div class="page__container">
                        <div class="section__row ">
                            <div class="section__col section__col_half">
                                <div class="section__text section__text_theme-normal text text_size-big">
                                    <p>Откройте приложение Wallet.</p><br>
                                    <p>Коснитесь значка «+» в правом верхнем углу.</p><br>
                                    <p>
                                        Введите код безопасности, чтобы добавить кредитную или дебетовую карту, привязанную к вашей учётной записи iTunes. Или выберите «Добавить другую карту» и отсканируйте её при помощи камеры iPhone.*
                                    </p><br>
                                </div>
                                <div class="text text_theme-small text_theme-gray">
                                    Подробнее о подключении карты к <a href="#">Apple Pay</a>
                                </div>
                            </div>
                            <div class="section__col section__col_half">
                                <img class="illustration apple-pay-phone"  src="assets/illustrations/apple_pay-phone.svg" alt="Легкий мобильный банк">
                            </div>
                        </div>
                    </div>
                </section>

                 <section id="applewatch" class="section page__section mb-64 js-section-tab">
                    <div class="page__container">
                        <div class="section__row ">
                            <div class="section__col section__col_half">
                                <div class="section__text section__text_theme-normal text text_size-big">
                                    <p>Откройте приложение Watch на iPhone.</p><br>
                                    <p>Коснитесь «Wallet и Apple Pay» и выберите «Добавить кредитную или дебетовую карту».</p><br>
                                    <p>
                                        Введите код безопасности, чтобы добавить кредитную или дебетовую карту, привязанную к вашей учётной записи iTunes. Или выберите «Добавить другую карту» и отсканируйте её при помощи камеры iPhone.*
                                    </p><br>
                                </div>
                                <div class="text text_theme-small text_theme-gray">
                                    Подробнее о подключении карты к <a href="#">Apple Pay</a>
                                </div>
                            </div>
                            <div class="section__col section__col_half">
                                <img class="illustration apple-watch"  src="assets/illustrations/apple_pay-watch.svg" alt="Легкий мобильный банк">
                            </div>
                        </div>
                    </div>
                </section>

                <section id="appleipad" class="section page__section mb-64 js-section-tab">
                    <div class="page__container">
                        <div class="section__row ">
                            <div class="section__col section__col_half">
                                <div class="section__text section__text_theme-normal text text_size-big">
                                    <p>Откройте Настройки.</p><br>
                                    <p>Коснитесь «Wallet и Apple Pay» и выберите «Добавить кредитную или дебетовую карту».</p><br>
                                    <p>
                                        Введите код безопасности, чтобы добавить кредитную или дебетовую карту, привязанную к вашей учётной записи iTunes. Или выберите «Добавить другую карту» и отсканируйте её при помощи камеры iPad.*
                                    </p><br>
                                </div>
                                <div class="text text_theme-small text_theme-gray">
                                    Подробнее о подключении карты к <a href="#">Apple Pay</a>
                                </div>
                            </div>
                            <div class="section__col section__col_half">
                                <img class="illustration apple-ipad"  src="assets/illustrations/apple_pay-ipad.svg" alt="Легкий мобильный банк">
                            </div>
                        </div>
                    </div>
                </section>


                <section id="applemacbook" class="section page__section mb-64 js-section-tab">
                    <div class="page__container">
                        <div class="section__row ">
                            <div class="section__col section__col_half">
                                <div class="section__text section__text_theme-normal text text_size-big">
                                    <p>Откройте Системные настройки.</p><br>
                                    <p>Зайдите в раздел «Wallet и Apple Pay» и выберите «Добавить карту».</p><br>
                                    <p>
                                        Введите код безопасности, чтобы добавить кредитную или дебетовую карту, привязанную к вашей учётной записи iTunes. Или выберите «Добавить другую карту» и отсканируйте её при помощи камеры MacBook Pro.*
                                    </p><br>
                                </div>
                                <div class="text text_theme-small text_theme-gray">
                                    Подробнее о подключении карты к <a href="#">Apple Pay</a>
                                </div>
                            </div>
                            <div class="section__col section__col_half">
                                <img class="illustration apple-mac" style="" src="assets/illustrations/apple_pay-mac.svg" alt="Легкий мобильный банк">
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <section class="mobile section page__section section_theme-gray">
                <div class="page__container">
                    <div class="section__row ">
                        <div class="section__col section__col_half">
                            {{ Heading.heading({ 'title': 'Оплата в интернете и приложениях', 'mods': { 'type': 'default', 'margin': 'small', 'theme': 'default' } }) }}
                            <div class="section__text section__text_theme-normal">
                                <p>Apple Pay — это удобный и безопасный способ оплаты в магазинах, в приложениях и в интернете с помощью iPhone, Apple Watch, iPad и Mac. Покупки можно оплатить невероятно быстро. Вам понадобится только устройство, которое всегда под рукой. А ещё Apple Pay — это более безопасный и лёгкий способ оплаты в интернете и приложениях. Вам больше не придётся регистрироваться в онлайн-магазинах и заполнять длинные формы.*</p>
                            </div>
                            <div class="text text_theme-small mt-64">
                                Apple Pay работает везде,<br> где есть один из этих знаков
                            </div>
                            <div class="mobile__vendors mb-64 mt-16">
                                <img width="265" style="max-width: 265px;" src="assets/illustrations/apple_pay-button.svg">
                            </div>
                        </div>
                        <div class="mobile__figure">
                            <img class="illustration" src="assets/illustrations/apple_pay-bonus.svg" alt="Легкий мобильный банк">
                        </div>
                    </div>
                </div>
            </section>


            <section class="section page__section">
                <div class="page__container">
                    <div class="section__row">
                        <div class="section__content">
                            {{ Heading.heading({ 'title': 'Вопрос ответ' | striptags(true) | escape | nl2br, 'mods': { 'type': 'normal', 'margin': 'short' } }) }}
                        </div>
                    </div>
                    <div class="collapse collapse_size-full collapse_theme-grey">
                        <div class="collapse__item">
                            <div class="collapse__control">
                                <div class="collapse__control-title">Сколько стоит сервис Apple Pay</div>
                                <div class="collapse__control-icon">
                                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                                </div>
                            </div>
                            <div class="collapse__content">
                                <p class="text">
                                    ответ
                                </p>
                            </div>
                        </div>
                        <div class="collapse__item">
                            <div class="collapse__control">
                                <div class="collapse__control-title">Какие устройства поддерживают Apple Pay
                                </div>
                                <div class="collapse__control-icon">
                                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                                </div>
                            </div>
                            <div class="collapse__content">
                                <p class="text">
                                    ответ
                                </p>
                            </div>
                        </div>
                        <div class="collapse__item">
                            <div class="collapse__control">
                                <div class="collapse__control-title">Какие карты можно подключить к Apple Pay?
                                </div>
                                <div class="collapse__control-icon">
                                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                                </div>
                            </div>
                            <div class="collapse__content"><p class="text">
                                    ответ
                                </p></div>

                        </div>
                        <div class="collapse__item">
                            <div class="collapse__control">
                                <div class="collapse__control-title"> Буду ли я получать бонусы по программе лояльности «БКС Бонус» при оплате с помощью Apple Pay?
                                </div>
                                <div class="collapse__control-icon">
                                    {{ Icon.icon({ 'name': 'dropdown' }) }}
                                </div>
                            </div>
                            <div class="collapse__content">
                                <p class="text">
                                    ответ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <section class="section page__section ">
                <div class="page__container">
                    <div class="section__row">
                        <div class="section__content">
                            <div class="text text_theme-small text_theme-gray">
                                Подробнее о сервисе <a href="#">Apple Pay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="section page__section">
                <div class="page__container">
                    <div class="section__row">
                        <div class="section__content">
                            <div class="text text_theme-small text_theme-gray mb-64">
                                *Apple Pay работает с iPhone 6 и новее — в магазинах, приложениях, а также на сайтах в Safari; с Apple Watch — в магазинах и в приложениях (требуется iPhone 6 или новее); с iPad Pro, iPad (5-го поколения), iPad Air 2, iPad mini 3 и новее — в приложениях, а также на сайтах в Safari; с Mac (модель 2012 г. или новее) — на сайтах в Safari при наличии Apple Watch или iPhone с поддержкой Apple Pay. Перечень устройств, совместимых с Apple Pay, приведён на странице support.apple.com/ru-ru/km207105.
                            </div>
                        </div>
                    </div>
                </div>
            </section>




        </main>

        {% include "../components/modules/footer/footer.njk" %}
    </div>
{% endblock %}
