{% extends "layout/layout.njk" %}

{% import "../components/library/heading/heading.njk" as Heading %}
{% import "../components/library/socials/socials.njk" as Socials %}
{% import "../components/library/button/button.njk" as Button %}
{% import "../components/library/feature/feature.njk" as Feature %}
{% import "../components/icon/icon.njk" as Icon %}

{% set root = "." %}
{% set title = "О БКС Банке" %}
{% set header = 'blue' %}

{% block body %}
  <div class="about-bank page js-page">
    {% include "../components/modules/header/header.njk" %}
    <main role="main">

      <section class="section page__section page__section_theme-large"> {# Чтобы установить картинку на фон, необходимо добавить style="backgraun-image: url(путь до картинки)" #}
        <div class="section__header section__header_theme-blue">
          <div class="page__container page__container_type-header">
            {{ Heading.heading({ 'tag': 'h1', 'title': 'О БКС Банке', 'mods': { 'type': 'large' } }) }}
            <div class="features features_role-simple">
              {{ Feature.feature({ 'title': 'ruBBB+', 'text': 'Pейтинг высокой \n кредитоспособности', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
              {{ Feature.feature({ 'title': '29 лет', 'text': 'На рынке \n с 1989 года', 'mods': {'type': 'normal', 'theme': 'light'}, 'class': 'features__item' }) }}
            </div>
          </div>
        </div>
      </section>

      <section class="section about-bank__prolog">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-centered-left-large">
              {{ Heading.heading({ 'title': 'БКС Банк — часть российской группы компаний, предоставляющей частным и институциональным клиентам полный спектр финансовых услуг. Также является крупнейшей инвестиционной российской компанией по объему операций с ценными бумагами.', 'mods': { 'type': 'normal', 'margin': 'short' }, 'class': 'mb-64' }) }}
            </div>
          </div>
        </div>
      </section>

      <section class="section page__section">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content section__content_theme-centered">
              <div class="about-bank__carousel carousel carousel_type-mobile">
                <div class="js-carousel" data-id="about-bank" data-breakpoint="992">
                  {{ Feature.feature({ 'title': 'Внимательное обслуживание', 'text': 'Высокий уровень обслуживания клиентов и оказания услуг. \n Мы делаем сложный банковский мир доступным каждому клиенту.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/crown-image.svg', 'class': 'feature_mobile-centered mb-56 mobile-mb-0'}) }}
                  {{ Feature.feature({ 'title': 'Широкий спектр услуг', 'text': 'Продукты и услуги для частных и корпоративных клиентов: \n вклады, кредитование, денежные переводы и операции с ценными бумагами.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/bag-image.svg', 'class': 'feature_mobile-centered mb-56 mobile-mb-0'}) }}
                  {{ Feature.feature({ 'title': 'Индивидуальный подход', 'text': 'Мы учитываем потребности каждого клиента, и готовы разрабатывать нестандартные решения с использованием любых финансовых инструментов.' | striptags(true) | escape | nl2br, 'mods': {'type': 'iconed'}, 'iconPath': 'assets/images/svg/present-image.svg', 'class': 'feature_mobile-centered mobile-mb-0'}) }}
                </div>
                <div class="carousel-controls carousel-controls_theme-dark js-carousel-controls">
                  <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="about-bank">
                    <span>01</span><span></span><span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section page__section page__section_theme-last">
        <div class="page__container">
          <div class="section__row">
            <div class="section__content">
              <div class="text">
                <div class="text__quote text__quote_theme-blue text__quote_theme-last">
                  <div class="text__quote-content"> 2015 — это год 20-летия БКС. Помогая в достижении финансовых целей
                    тысячам клиентов, за два десятилетия мы построили эффективный бизнес международного масштаба. В его
                    основе лежат опыт и профессионализм нашей команды, передовые технологии и наше деловое кредо —
                    предоставлять клиентам первоклассные финансовые услуги.
                  </div>
                  <div class="text__quote-author"> Олег Михасенко</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main> {% include "../components/modules/footer-msb/footer.njk" %} </div> {% endblock %}
