.contacts-block .contacts-block__contact {
  margin-bottom: 40px
  @media (min-width 832px) {
    margin-right: 70px
    margin-bottom: 22px
  }
  .contact__title {
    margin-bottom: 16px
  }
  .contact__item {
    a {
      opensansBold(16px)
    }
    p:last-child {
      margin-top: 8px;
    }
  }
}
