.landing-feature-card
  padding 40px
  padding-bottom: 26px;
  .features
    margin-bottom 40px
    width 100%
    justify-content flex-start
    &:last-child
      margin-bottom 0
    .feature.feature_type-normal
      .feature__title
        formularBold(18px)
        font-stretch normal
        line-height 1.44
        letter-spacing -0.2px
      .feature__text
        formular(14px,1.57)
        opacity 0.7
