.advice.section__element.advice_size-big
  @media (min-width: 992px) and (max-width: 1279px)
    max-width: 625px;
  @media (min-width: 768px) and (max-width: 991px)
    max-width: 475px;
  @media (min-width: 768px)
    width: calc(66.613% - 40px)!important;
    .advice__wrap
      max-height: 455px
      overflow: hidden
      border-radius: 5px
      position: relative
    .advice__figure
      height: auto
      margin-bottom: 0
    .advice__subtitle
      color: $white
      position: absolute
      left: 65px
      bottom: 28.8%;
    .advice__title
      color: $white
      left: 65px
      bottom: 21.2%;
      position absolute
