.advice
  @media (min-width: 992px) and (max-width: 1279px)
    max-width: 291px

  @media (min-width: 768px) and (max-width: 991px)
    max-width: 215px

  @media (max-width: 767px)
    margin-bottom: 32px
    max-width: calc(100% - 42px)
    width 320px

    &:last-child
      margin-bottom: 0
