.advice .advice__subtitle
  margin-bottom: 15px

  opensansRegular();
  color: rgba($color_elem, 0.6)

  @media (min-width: 768px) and (max-width: 1259px)
    font-size: 14px

  @media (max-width: 767px)
    font-size: 12px