{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/input/input.njk" as Input %}

<div class="card__heading">
  <h2 class="card__title">Поиск штрафов</h2>
  <p class="card__subtitle mt-10">На 13 апреля 2018</p>
</div>
<div class="services__block services__block_theme-check">
  <div class="services__radio-group">
    {{ Radio.radio({'class': 'js-check-radio', 'label': 'По номеру ВУ/СТС', 'name': 'check-exist', 'id': 'check_vu', 'state': 'checked', 'attr': {'check': 'vu'} }) }}
    {{ Radio.radio({'class': 'js-check-radio', 'label': 'По номеру постановления', 'name': 'check-exist', 'id': 'check_post', 'attr': {'data': 'post'} }) }}
  </div>

  {{ Input.input({ 'label': 'Водительское удостоверение', 'class': 'services__input js-check-vu mb-16', 'field': 'js-license-masked', 'name': 'driver_license' }) }}
  {{ Input.input({ 'class': 'services__input js-check-vu', 'label': 'Свидетельство о регистрации', 'field': 'js-license-masked', 'name': 'driver_registration'}) }}
  {{ Input.input({ 'class': 'services__input js-check-post state_hidden mb-16', 'label': 'Номер постановления о штрафе', 'name': 'driver_post'}) }}
  {{ Input.input({ 'class': 'services__input js-check-post state_hidden state_inactive', 'label': '' }) }}
</div>
