{% import "../../library/currency/currency.njk" as Currency %}
{% import "../../library/context/context.njk" as Context %}

<div class="card__heading card__heading_theme-exchange">
  <h2 class="card__title">Обмен валюты</h2>
  {{ Context.context({ 'name': 'exchange', 'mods': {'theme': 'small'}, 'attr': {'id': 'index-exchange'},
    'items': [{ 'title': 'БКС-онлайн', 'value': 'bks', 'attr': { 'prefix': 'в', 'title': 'БКС-онлайн' }, 'selected': true },
      { 'title': 'Отделения банка', 'value': 'bank', 'attr': { 'prefix': 'в', 'title': 'Отделениях банка' } }] }) }}
  <p class="card__subtitle mt-0">До 13 апреля 2018</p>
</div>
<div class="services__block services__block_theme-exchange">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Покупаю по</th>
      <th>Продаю по</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>USD</td>
      <td>{{ Currency.currency({ 'value': '45.6', 'state': 'rise' }) }}</td>
      <td>{{ Currency.currency({ 'value': '54.2', 'state': 'fall'}) }}</td>
    </tr>
    <tr>
      <td>EUR</td>
      <td>{{ Currency.currency({ 'value': '5.9', 'state': 'rise' }) }}</td>
      <td>{{ Currency.currency({ 'value': '6', 'state': 'rise' }) }}</td>
    </tr>
    <tr>
      <td>GBR</td>
      <td>{{ Currency.currency({ 'value': '5.9', 'state': 'rise' }) }}</td>
      <td>{{ Currency.currency({ 'value': '6', 'state': 'rise' }) }}</td>
    </tr>
    <tr>
      <td>CHF</td>
      <td>{{ Currency.currency({ 'value': '5.9', 'state': 'rise' }) }}</td>
      <td>{{ Currency.currency({ 'value': '6', 'state': 'rise' }) }}</td>
    </tr>
    </tbody>
  </table>
</div>
