{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../icon/icon.njk" as Icon %}


<div class="card__heading">
  <h2 class="card__title">Фиксация курса</h2>
  <p class="card__subtitle mt-10">До 13 апреля 2018</p>
  <div class="card__opsys">
    {{ Icon.icon({ 'name': 'android' }) }}
    {{ Icon.icon({ 'name': 'apple', 'elementClass': 'mt-16' }) }}
  </div>
</div>
<div class="services__block services__block_theme-course js-form">
  <form>
    <table class="table mb-32">
      <thead>
      <tr>
        <th></th>
        <th>Покупаю по</th>
        <th>Продаю по</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>USD</td>
        <td>{{ Radio.radio({ 'view': 'currency', 'label': '62.34', 'state': 'rise', 'name': 'course-fix', 'id': 'course-buy_usd', 'checked': 'true' }) }}</td>
        <td>{{ Radio.radio({'view': 'currency', 'label': '62.79', 'state': 'fall', 'name': 'course-fix', 'id': 'course-cell_usd'}) }}</td>
      </tr>
      <tr>
        <td>EUR</td>
        <td>{{ Radio.radio({ 'view': 'currency', 'label': '62.34', 'state': 'fall', 'name': 'course-fix', 'id': 'course-buy_eur', 'checked': 'true' }) }}</td>
        <td>{{ Radio.radio({ 'view': 'currency', 'label': '62.79', 'state': 'fall', 'name': 'course-fix', 'id': 'course-cell_eur'}) }}</td>
      </tr>
      </tbody>
    </table>

    {{ Input.input({ 'label': 'Сумма', 'title': 'RUB', 'class': 'mb-16', 'field': 'js-numeric-input' }) }}
    <input class="js-course-amount" name="input_course-result" hidden value="">
    <div class="course__result">
      <p>Сумма сделки</p>
      <p><span class="js-course-result">0</span> RUB</p>
    </div>
  </form>
</div>
