{% import "../../library/radio/radio.njk" as Radio %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../icon/icon.njk" as Icon %}


<div class="card__heading">
  <h2 class="card__title">Фиксация курса</h2>
  <p class="card__subtitle mt-10">До 13 апреля 2018</p>
  <div class="card__opsys">
    {{ Button.button({ 'name': 'android', 'mods' : {'type': 'icon', 'theme': 'default', 'view': 'text'} }) }}
    {{ Button.button({ 'name': 'apple', 'mods' : {'type': 'icon', 'theme': 'default', 'view': 'text'} }) }}
  </div>
</div>
<div class="services__block services__block_theme-course">
    <table class="table mb-32">
      <thead>
      <tr>
        <th></th>
        <th>Покупаю по</th>
        <th>Продаю по</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>USD</td>
        <td>{{ Radio.radio({ 'class': 'js-course-radio', 'view': 'currency', 'label': '62.34', 'value': '62.34', 'state': 'rise', 'name': 'course-fix', 'id': 'course-buy_usd', 'data': 'data-currency=USD', 'checked': 'true' }) }}</td>
        <td>{{ Radio.radio({ 'class': 'js-course-radio', 'view': 'currency', 'label': '62.79', 'value': '62.79', 'state': 'fall', 'name': 'course-fix', 'id': 'course-cell_usd', 'data': 'data-currency=USD' }) }}</td>
      </tr>
      <tr>
        <td>EUR</td>
        <td>{{ Radio.radio({ 'class': 'js-course-radio', 'view': 'currency', 'label': '59.4', 'value': '59.4', 'state': 'fall', 'name': 'course-fix', 'id': 'course-buy_eur', 'data': 'data-currency=EUR' }) }}</td>
        <td>{{ Radio.radio({ 'class': 'js-course-radio', 'view': 'currency', 'label': '57.12', 'value': '57.12', 'state': 'fall', 'name': 'course-fix', 'id': 'course-cell_eur', 'data': 'data-currency=EUR' }) }}</td>
      </tr>
      </tbody>
    </table>

    {{ Input.input({ 'label': 'Сумма', 'name': 'fix_course', 'title': 'USD', 'class': 'js-course-input mb-16', 'field': 'js-numeric-input js-fix-course', 'state': 'maxlength=5 required', 'data': 'data-max=4000' }) }}
    <input class="js-course-amount" name="input_course-result" hidden value="">
    <div class="course__result">
      <p>Сумма сделки</p>
      <p><span class="js-course-result">0</span> RUB</p>
    </div>
</div>
