.services .services__transfer-controls
  .services__transfer-amount
    display: flex

    flex: 1;

    @media (max-width: 1279px)
      flex-direction: column

    @media (min-width: 992px) and (max-width: 1279px)
      max-width: 370px

    @media (min-width: 768px) and (max-width: 991px)
      max-width: 48%

    @media (max-width: 767px)
      width: 100%
      max-width: 370px
