.services .services__table
  .services__table-action
    opensansRegular(12px)
    text-align: right
    color: $color_link
    font-weight: 300

    @media (max-width: 1279px)
      padding-bottom: 6px