.services .services__card-commission
  flex-shrink: 0
  margin-right: auto
  margin-left: 24px

  opensansRegular(14px)
  color: $color_elem
  line-height: 1.57

  @media (min-width: 992px) and (max-width: 1279px)
    margin-top: 24px


  @media (max-width: 991px)
    margin-top: 16px

  @media (max-width: 767px)
    margin-left: auto
    margin-right: auto