.services .services__block.services__block_theme-course
  margin-top: 55px
  .course__result
    display: flex
    justify-content: space-between
    align-items: flex-start
    align-content: stretch

    margin-top: 24px

    p:first-child
      opensansRegular()
      white-space: nowrap

    p:last-child
      opensansSemibold()
      color: $color_elem
