.services
  max-width 100%
  @media (max-width: 575px)
    .section__heading
      flex-direction: column
      align-items: flex-start

      margin-bottom: 40px

      .button
        margin-top: 22px
