.services .services__transfer
  col()
  size(12)

  position: relative

  padding-top: 80px

  max-width 100%
  @media (min-width: 768px) and (max-width: 1279px)
    padding-top: 64px
    margin-top: 40px


  @media (max-width: 767px)
    margin: 40px 0 0

    width: calc(100% + 40px)
    padding: 40px 0 0

