.services .services__card-commission-res
  display: inline-flex
  flex-direction: column
  justify-content: center

  height: 100%
  p:first-child
    opensansRegular(12px)
    color: $color_inactive

  p:last-child span
    opensansRegular()

  .icon
    width: 10px
    height: 15px
