.services .services__block.services__block_theme-course
  margin-top: 55px
  .course__result
    display: flex
    justify-content: space-between
    align-items: center

    margin-top: 16px

    p:first-child
      opensansRegular()

    p:last-child
      opensansSemibold()
