.services .services__transfer-cards
  position: relative
  margin-top: 64px

  @media (max-width: 991px)
    height: 360px

  @media (max-width: 767px)
    height: 500px

    margin-left: 0
    margin-right: 0
