.services .services__card

  display: inline-flex !important

  @media (min-width: 1280px)
    height: 564px

  @media (max-width: 1279px)
    max-width: 288px
    height: 513px
  @media (max-width: 768px)
    max-width: 320px
  @media (max-width: 425px)
    max-width: calc(100vw - 42px)

  .card__content
    display: flex
    flex-direction: column
    justify-content: space-between

    @media (max-width: 991px)
      text-align: left
      justify-content flex-start
      .services__block_theme-exchange
        margin-top 50px
