.services .services__card-commission-res
  display: inline-flex
  flex-direction: column
  justify-content: center

  height: 100%
  p:first-child
    opensansRegular(12px)
    color: $color_inactive

  p:last-child
    display: flex
    align-items: center
    opensansRegular()
    color: $color_text

  .icon
    margin-top: -1px;
    width: 16px;
    height: 12px;
    font-family: sans-serif;
