.services .services__credit-card
  col()
  size(5)

  &:first-child {
    shift-left(1)
  }

  display: flex
  flex-wrap: wrap

  height: 295px
  padding: 40px

  border-radius: 17px
  background-color: $color_light
  box-shadow: 0 7px 60px 0 rgba(0, 12, 58, 0.08);

  .input
    align-self: flex-end
    margin-top: auto
