{% import "../../library/heading/heading.njk" as Heading %}
{% import "../../library/button/button.njk" as Button %}
{% import "../../library/input/input.njk" as Input %}
{% import "../../icon/icon.njk" as Icon %}

<div class="services__transfer js-transfer">
  <div class="services__transfer-bkg"></div>
  <div class="services__transfer-heading">
    {{ Heading.heading({ 'title': 'Мгновенный перевод \n с карты на карту', 'mods': { 'type': 'default', 'margin': 'none', 'theme': 'light' } }) }}
    {{ Button.button({ 'href': '#limits', 'title': 'Лимиты и тарифы', 'mods': { 'type': 'link', 'theme': 'white', 'view': 'text' }, 'class': 'services__transfer-link js-open-modal' }) }}
  </div>
  <div class="js-form">
    <iframe class="transfer-iframe" src="https://test.best2pay.net/webapi/P2PTransfer?sector=1524&code=643"></iframe>
  </div>
</div>
