.transfer-iframe
  width 100%
  height 510px
  border none
  position relative
  z-index 10
  @media (max-width 815px)
    height 715px
  @media (max-width 592px)
    height 890px
    overflow hidden
