.footer .footer__about
  .footer__credentials
    .footer__credentials-link

      margin-bottom: 16px

      .button__wrap
        color: $color_link

        .button__title
          opensansRegular(12px)
