.footer .footer__about
  .footer__credentials

    @media (min-width: 1280px)
      width: 975px

    @media (min-width: 768px) and (max-width: 1279px)
      width: 75%

    @media (max-width: 767px)
      width: 100%
      padding: 32px 0

    p
      opensansRegular(12px)
      color: $color_link