.footer .footer__credentials
  padding-top: 67px

  @media (min-width: 1280px)
    col()
    shift-left(2)
    size(6)

  @media (max-width: 1279px)
    col()
    shift-left(2)
    size(8)

  @media (max-width: 575px)
    col()
    shift-left(0)
    size(12)


  p
    opensansRegular(12px)
    color: $color_link

