{% import "../../../components/library/button/button.njk" as Button %}
{% import "../../../components/inline-svg/inline-svg.njk" as Svg %}
{% import "../../../components/library/socials/socials.njk" as Socials %}
{% import "../../../components/library/heading/heading.njk" as Heading %}
{% import "../../../components/library/input/input.njk" as Input %}
{% import "../../../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../../../components/library/contact/contact.njk" as Contact %}
{% import "../../../components/icon/icon.njk" as Icon %}




<footer class="footer footer_landing js-footer js-scroll-animate">
  <div class="page__container">
    <div class="footer__wrap">
      <div class="footer__logo-wrap">
        <img src="assets/images/svg/logo-dark.svg">
          <p class="footer__contacts-inform">
            Финансовая Группа БКС<br>
            © 1989–2018, АО «БКС Банк», официальный сайт, генеральная лицензия на осуществление <br>
            банковских операций №101 от 15.12.2014.
          </p>
      </div>
      <div class="footer__info">
        <div class="footer__contacts">
          <p class="footer__contacts-phone">8 800 500 7065</p>
          <p class="footer__contacts-inform">Бесплатный звонок по России</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="modal products-submit-success js-products-success">
  {{ Heading.heading({ 'title': 'Заявка отправлена', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
  <p class="text mt-16">Вам ответят в ближайшее время</p>
  {{ Contact.contact({ 'title': 'По срочным вопросам можно позвонить',
    'items': [{ 'name': 'Бесплатный звонок по России', 'value': '8 (800) 500 70 65', 'href': '+78005007065' }, { 'name': 'Если вы звоните из-за рубежа', 'value': '+7 (495) 967 11 11', 'href': '+74959671111' }],
    'class': 'js-contact mt-40' }) }}
  {{ Heading.heading({ 'title': 'Присоединяйтесь к нам в социальных сетях', 'class': 'mt-56' }) }}
  {{ Socials.socials({ 'mods': {'type': 'icon', 'theme': 'gray', 'view': 'outlined', 'size': 'low'}, 'class': 'mt-32'}) }}
</div>
<div class="modal products-submit-error js-products-error">
  {{ Heading.heading({ 'title': 'Сообщение не отправлено', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
  <p class="text mt-16">К сожалению, что-то пошло не так. Попробуйте повторить запрос позже.</p>
  {{ Contact.contact({ 'title': 'По срочным вопросам можно позвонить',
    'items': [{ 'name': 'Бесплатный звонок по России', 'value': '8 (800) 500 70 65', 'href': '+78005007065' }, { 'name': 'Если вы звоните из-за рубежа', 'value': '+7 (495) 967 11 11', 'href': '+74959671111' }],
    'class': 'js-contact mt-40' }) }}
  {{ Heading.heading({ 'title': 'Присоединяйтесь к нам в социальных сетях', 'class': 'mt-56' }) }}
  {{ Socials.socials({ 'mods': {'type': 'icon', 'theme': 'gray', 'view': 'outlined', 'size': 'low'}, 'class': 'mt-32'}) }}
</div>

<div class="modal confidence-policy js-confidence-policy">
    {{ Heading.heading({ 'title': 'Согласие на обработку персональных данных субъекта персональных данных', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
  <p class="text mt-16">
    Настоящим Я, действуя своей волей и в своем интересе, при размещении (вводе) своих персональных данных на Интернет-сайте
    Акционерного общества «БКС — Инвестиционный Банк», предоставляю каждому в отдельности и совместно Акционерному обществу
    «БКС — Инвестиционный Банк» (АО «БКС Банк») (ОГРН 1055400000369, Российская Федерация, местонахождение: 630099,
    Новосибирск, Советская, 37), Акционерному обществу Управляющая Компания «Брокеркредитсервис» (АО УК «БКС»)
    (ОГРН 1025403200020, Российская Федерация, местонахождение: 630099, Новосибирск, Советская, 37), Обществу с
    ограниченной ответственностью «Компания Брокеркредитсервис» (ООО «Компания БКС») (ОГРН 1025402459334, местонахождение:
    Российская Федерация, 630099, Новосибирск, ул. Советская 37), Закрытому акционерному обществу «Первый специализированный
    депозитарий» (ЗАО «ПРСД») (ОГРН 1027700373678, Российская Федерация, местонахождение: 125167, г.Москва, ул 8 Марта 4-я, дом 6А),
    «БРОКЕРКРЕДИТСЕРВИС (КИПР) ЛИМИТЕД» (регистрационный номер НЕ 154856, местонахождение: Меса Геитония, пр-т
    Спиру Киприану ул. 1-го Октября, д.1, «ВАШИОТИС КАЛАНДЕ ОФИСЕС», 1-ый этаж, Лимасол, Кипр), Обществу с ограниченной
    ответственностью «Консультационный центр БКС» (ООО «Консультационный центр БКС») (ОГРН 5087746668610, Российская Федерация,
    129110, Москва, проспект Мира, 69, стр. 1) (далее каждый в отдельности — Оператор, совместно — Операторы),
    право (согласие) на обработку моих персональных данных (том числе, но не ограничиваясь: фамилию, имя, отчество,
    номер телефона, адрес электронной почты, адрес места регистрации, почтовый адрес, реквизиты документа,
    удостоверяющего личность, и данные, содержащиеся в нем), указанных при размещении (вводе) моих персональных
    данных и документов (копий документов, в том числе в электронном виде), содержащих мои персональные данные,
    на сайте Оператора и/или в настоящей Анкете (Заявке), и подтверждаю, что даю такое согласие.
  </p>
  <p class="text mt-16">
    Настоящим подтверждаю, что ознакомлен с целями обработки моих персональных данных: обработка персональных данных
    будет осуществляться Операторами, как в отдельности, так и совместно, в моих интересах, в том числе в целях
    предложения мне услуг, новых услуг, предоставляемых Операторами, как в отдельности, так и совместно, в целях
    направления мне рассылок (включая смс-уведомления), в том числе имеющих рекламный и маркетинговый характер,
    и проведения опросов, анкетирования, рекламных и маркетинговых исследований в отношении услуг, предоставляемых
    Операторами, как в отдельности, так и совместно, а также в целях оказания услуг по проведению семинаров
    (курсов, лекций, обучению), путем осуществления прямых контактов со мною с помощью средств связи
    (в том числе посредством использования телефонной, факсимильной, подвижной радиотелефонной связи,
    а также посредством использования информационно-телекоммуникационной сети Интернет,
    в том числе путем направления по электронной почте), указанных при размещении (вводе) моих персональных данных
    и документов (копий документов, в том числе в электронном виде), содержащих мои персональные данные,
    на сайте Оператора и/или в настоящей Анкете (Заявке).
  </p>
  <p class="text mt-16">
    Настоящее право (согласие) предоставляется на осуществление любых действий в отношении моих персональных данных, которые необходимы и желаемы для достижения вышеуказанных целей, включая, без ограничения: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (передачу) (в том числе передачу лицам, указанным в настоящей Анкете), обезличивание, блокирование и уничтожение персональных данных, под которыми понимаются все данные, указанные в настоящей Анкете.
  </p>
  <p class="text mt-16">
    Настоящим подтверждаю, что уведомлен, о том, что обработка персональных данных осуществляется Операторами любым способом, в том числе как с использованием средств автоматизации (включая программное обеспечение), так и без использования средств автоматизации (с использованием различных материальных носителей, включая бумажные носители).
  </p>
  <p class="text mt-16">
    Настоящее право (согласие) действует в течение 75 лет и может быть отозвано, если иное не установлено действующим законодательством Российской Федерации, путем направления мной письменного уведомления в адрес каждого из Операторов, которым передаются персональные данные, по адресам, указанным выше. Настоящее согласие считается отозванным по истечении 30 (тридцати) дней с момента получения Оператором письменного уведомления об отзыве настоящего согласия. День получения уведомления не включается в тридцатидневный срок.
  </p>
  <p class="text mt-16">
    Субъект персональных данных имеет право на защиту своих законных прав (Права субъекта персональных данных) и интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.
  </p>
  <p class="text mt-16">
    Нажмите <a href="https://bcs-bank.com/f/personal_data_politics.pdf" target="_blank">здесь</a> для ознакомления с&nbsp;Политикой в&nbsp;отношении обработки персональных данных.
  </p>
  <p class="text mt-16">
    Согласен с&nbsp;условиями <a href="https://bcs-bank.com/f/agreement-on-the-use-of-simple-electronic-signature.pdf" target="_blank">соглашения</a>.
  </p>
</div>


<div class="modal bonus-modal js-bonus-modal">
  {{ Heading.heading({ 'title': 'Как получить бонусы?', 'mods': { 'type': 'default', 'margin': 'small' } }) }}
  <p class="text mt-16 mb-40">
    Что бы получить бонусы, необходимо пройти регистрацию в Личном кабинете партнера и оплатить покупки картой БКС Банка.
  </p>
  {{ Button.button({ 'href': '#', 'title': 'Регистрация', 'class': 'js-bonus-modal-button', 'mods': { 'type': 'button', 'theme': 'default' } }) }}
</div>


{% include "../select-city/select-city.njk" %}
{% include "../products/select-filter/select-filter.njk" %}
{% include "../products/deposit-filter/deposit-filter.njk" %}
