.footer .footer__wrap
  .footer__menu

    display: flex

    @media (min-width: 1280px)
      justify-content: space-between

      width: 900px

    @media (max-width: 1279px)
      width: calc(100% + 32px)

    @media (max-width: 767px)
      flex-direction: column
      margin: 32px -16px 0