.footer .footer__menu
  .footer__menu-content

    @media (min-width: 576px) and (max-width: 1279px)
      col()
      shift-left(2)
      size(8)

    @media (max-width: 575px)
      col()
      size(12)

    @media (max-width: 1279px)
      display: none