.footer .footer__menu-title
  margin-bottom: 19px

  formularBold()

  //@media (max-width: 1279px)
  //  col()
  //  size(8)
  //  shift-left(2)
  //
  //  display: flex
  //  justify-content: space-between
  //
  //  margin-bottom: 0

  //@media (max-width: 1279px)
  //  col()
  //  size(12)

  @media (max-width: 767px)
    display: flex
    justify-content: space-between

    margin-bottom: 0
    width: 100%
    padding: 16px