.footer .footer__menu-link
  align-self: flex-start

  line-height: 2

  .button__wrap
    color: $color_link

    .button__title
      opensansRegular()


  @media (max-width: 1279px)
    width: 100%

    &:first-child
      margin-top: 16px

    .button__wrap
      justify-content: flex-start