.footer .footer__menu
  .footer__menu-content

    @media (min-width: 768px)
      display: flex !important;
      flex-direction: column

    @media (max-width: 767px)
      display: none
      padding: 0 16px 24px