.calculator-bonus
  .calculator-bonus__calculation
    .calculator-bonus__thumbnail

      display: flex
      flex-direction: column

      width: 100%
      padding: 40px

      border-radius: 4px
      background-color: $color_light