.offices .offices__external-link
  border-radius: 0
  background-color: $snow
  height: 72px
  color: $cyprus
  .button__wrap
    justify-content: space-between
    padding-right: 24px
    padding-left: 24px

  &:hover
    background-color: $white_smoke_dark
    .button__wrap
      color: inherit
