.offices .offices__collapse
  .collapse__control
    padding: 24px
    .collapse__control-title
      padding-right: 34px
    .collapse__control-icon
      right: 24px;
      width: 22px
      height: 22px
  .collapse__content
    opensansRegular()
    padding-left: 0
    padding-right: 0
    padding-top: 16px
    margin-right: 24px
    margin-left: 24px
    border-top: 1px solid $gainsboro
