.offices__search
  position relative
  display flex
  padding 24px 28px 24px 113px
  border-bottom: 1px solid #d8d8d8;
  .input
    background-color $white_smoke
    border none
    .input__label
      color: $heather;

  @media (max-width 831px)
    padding 24px 24px 24px 24px

  @media (min-width: 832px) and (max-width 1215px)
    padding 24px 34px 20px 81px

  .button
    .button__wrap
      &:before,&:after
        content: ''!important
        width 20px
        height 20px
        position absolute
        top: 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        background-size contain
        background-position center
        background-repeat no-repeat
      &:before
        background-image url("../images/svg/oficcess_button_switch_list.svg")
      &:after
        background-image url("../images/svg/oficcess_button_switch_map.svg")
    &[data-state="map"]
      .button__wrap
        &:after
          opacity 0
    &[data-state="list"]
      .button__wrap
        &:before
          opacity 0
