.offices .offices__content .offices__tabbar
  height: auto
  width: 100%
  //padding-left: 91px;
  .tabbar__marker
    margin-left 24px
    @media (min-width: 832px) and (max-width: 1215px)
      margin-left: 18px
