.offices__search-wrapper
  border-bottom: 1px solid #d8d8d8;
  position relative;
  z-index 2;
.offices__search
  position relative
  display flex
  flex-direction column
  padding 24px 0 24px 0
  margin-left: 113px;
  margin-right:  28px;

  .input
    background-color $white_smoke
    border none
    .input__label
      color: $heather;

  .search-close
    display: none;
    position: relative;
    right: 36px;
    cursor pointer
    .line-close
      display block
      position: absolute;
      background-color $cyprus
      width: 12px;
      height: 3px;
     .line-1
        transform rotate(45deg)
     .line-2
       transform rotate(-45deg)

  @media (max-width 831px)
    padding 24px 0 24px 0
    margin-right 24px
    margin-left 24px

  @media (min-width: 832px) and (max-width 1215px)
    padding 24px 0 20px 0
    margin-right 34px
    margin-left 81px

  .button
    .button__wrap
      &:before,&:after
        content: ''!important
        width 20px
        height 20px
        position absolute
        top: 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        background-size contain
        background-position center
        background-repeat no-repeat
      &:before
        background-image url("../images/svg/oficcess_button_switch_list.svg")
      &:after
        background-image url("../images/svg/oficcess_button_switch_map.svg")
    &[data-state="map"]
      .button__wrap
        &:after
          opacity 0
    &[data-state="list"]
      .button__wrap
        &:before
          opacity 0
