.offices .offices__map-wrapper
  position: relative
  padding-top 32%
  @media (min-width: 768px) and (max-width: 2196px)
    min-height 887px
    width: 100%
  @media (max-width: 767px)
    padding-top 103%

  >*
    position absolute
    width 100%!important
    height 100%!important
    left 0
    top 0
  //@media (min-width: 768px) and (max-width: 991px)
  //  height: 440px
  //
  //@media (max-width: 767px)
  //  height: 330px
