{% import "../tabbar/tabbar.njk" as Tabbar %}
{% import "../../../components/icon/icon.njk" as Icon %}
{% import "../../library/button/button.njk" as Button %}
{% import "../../../components/library/dropdown/dropdown.njk" as Dropdown %}
{% import "../../../components/library/input/input.njk" as Input %}
{% import "../../../components/library/office-stress/office-stress.njk" as officeStress %}

<div class="offices js-offices">
  <div id="map-container" class="offices__map-wrapper" style="height: 678px;"></div>
  <div class="collapse offices__detail js-offices-detail state_hidden">
    <div class="js-detail-content"></div>
    {{ Icon.icon({ 'name': 'close', 'elementClass': 'offices__detail-icon js-offices-detail-close' }) }}
  </div>
  <div class="offices__content js-tab-scroll">

    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'default-tab', 'view': 'underscore', 'class': 'offices__tab-control' }, 'tabs': [{'title': 'Отделения', 'id': 'offices-tab' }, {'title': 'Банкоматы', 'id': 'atm-tab'}, {'title': 'Ультима', 'id': 'ultima-tab'}], 'class': 'offices__tabbar' }) }}

    <div class="offices__search">
        {{ Input.input({ 'label': 'Введите адрес', 'class': 'search__field-group', 'field':{'name': 'map-search'}, 'icon': 'search' }) }}
        {{ Button.button({ 'mods': {'type': 'icon','theme': 'transparent'}, 'attr': {'state': 'map'}, 'class': 'offices__switch-view js-offices-switcher' }) }}
    </div>

    <div class="tabs js-tabs offices__tabs scroll-pane">
      {#
        data-city - geoid города
        data-id - привязка списка к табу
        data-coords - координаты точки. Без пробелов!
      #}
      <div id="offices-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        <div class="collapse offices__collapse" data-city="213" data-id="offices-tab">

            <div class="collapse__item" data-coords="[55.76,37.57]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        уу11
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <div class="offices__info-title">График загрузки офиса</div>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="office-stress-list">
                                {{ officeStress.officeStress({'h':'10','m':'00','stress':'min'}) }}
                                {{ officeStress.officeStress({'h':'11','m':'00','stress':'normal'}) }}
                                {{ officeStress.officeStress({'h':'12','m':'00','stress':'high'}) }}
                                {{ officeStress.officeStress({'h':'13','m':'00','stress':'normal'}) }}
                                {{ officeStress.officeStress({'h':'14','m':'00','stress':'normal'}) }}
                                {{ officeStress.officeStress({'h':'15','m':'00','stress':'normal'}) }}
                                {{ officeStress.officeStress({'h':'16','m':'00','stress':'min'}) }}
                                {{ officeStress.officeStress({'h':'17','m':'00','stress':'min'}) }}
                                {{ officeStress.officeStress({'h':'18','m':'00','stress':'min'}) }}
                                {{ officeStress.officeStress({'h':'19','m':'00','stress':'normal'}) }}
                                {{ officeStress.officeStress({'h':'20','m':'00','stress':'min'}) }}
                            </div>

                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес9
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type1'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>

            <div class="collapse__item" data-coords="[55.76,37.58]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        66
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес10
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type2'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>

            <div class="collapse__item" data-coords="[55.73,37.57]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        66
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес11
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type3'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>

            <div class="collapse__item" data-coords="[55.73,37.56]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        88
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес12
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type4'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>

            <div class="collapse__item" data-coords="[55.78,37.56]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        99
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес13
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type5'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>

            <div class="collapse__item" data-coords="[55.72,37.54]">
                <div class="collapse__control">
                    <div class="collapse__control-description">
                        Москва
                    </div>
                    <div class="collapse__control-title">
                        99
                    </div>
                    <div class="collapse__control-icon">
                        {{ Icon.icon({ 'name': 'dropdown' }) }}
                    </div>
                </div>
                <div class="collapse__content">
                    <ul class="offices__info">
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                адрес14
                            </div>
                        </li>
                        <li class="offices__info-item offices__info-item_bordered">
                            <div class="offices__info-text">
                                8 800 500 7065
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Время работы с клиентами</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 <br>
                                СБ: с 10:00 до 18:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                        <li class="offices__info-item">
                            <div class="offices__info-title">Кассовое обслуживание</div>
                            <div class="offices__info-text">
                                ПН-ПТ с 10:00 до 20:00 <br>
                                СБ: с 10:00 до 13:00 <br>
                                ВС: выходной
                            </div>
                        </li>
                    </ul>
                    {{ Dropdown.dropdown({
                        'mods': {'theme': 'bordered'},
                        'label': 'Построить Маршрут',
                        'name': 'routeType',
                        'items': [
                            {'title': 'На автомобиле', 'value': 'auto'},
                            {'title': 'На общественном транспорте', 'value': 'masstransit'},
                            {'title': 'Пешком', 'value': 'pedestrian'},
                            {'title': 'На велосипеде', 'value': 'bicycle'}],
                        'class': 'form__field-group form__field-group_dropdown',
                        'attr': {'id': 'route-type6'},
                        'field': 'js-create-route' }) }}
                    <div class="map-wrap js-collapse-map-wrap"></div>
                </div>
            </div>




        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="offices-tab">

          <div class="collapse__item" data-coords="[45.037538,38.967756]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                99
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес15
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type7'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.060537,39.022001]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                88
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}

              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес16
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type8'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.061511,38.962091]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                88
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес17
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type9'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.030114,38.996424]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                88
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес18
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type10'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.054697,39.010843]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                77
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес19
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type12'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.019887,38.967241]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                77
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес20
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type13'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="atm-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        <div class="collapse offices__collapse" data-city="213" data-id="atm-tab">

          <div class="collapse__item" data-coords="[55.76,37.587]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                66
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес21
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type14'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.747,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                Кутузовский
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес22
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type15'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.48]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                66
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес23
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type16'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.76,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                66
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес24
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type17'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.55]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                55
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адерес25
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type18'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.746,37.578]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                55
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес26
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type19'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>
        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="atm-tab">

          <div class="collapse__item" data-coords="[45.019887,38.967241]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                55
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес27
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type20'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.035469,38.968443]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                Кутузовский
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес28
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type21'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.055792,38.983377]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                44
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес29
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type22'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.047761,38.939947]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                33
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес30
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type23'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.061024,38.973764]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                22
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес1
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type24'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.057009,38.939947]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                11
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес2
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type25'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="ultima-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        {{ Button.button({ 'title': 'Посмотреть список банкоматов Росбанка', 'name': 'download', 'class': 'offices__external-link' }) }}
        <div class="collapse offices__collapse" data-city="213" data-id="ultima-tab">

          <div class="collapse__item" data-coords="[55.76,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес3
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type26'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.78,37.56]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                115054, Россия, г. Москва, ул. Валовая, д. 2-4/44, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    Выдача наличных
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    Круглосуточно
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.72,37.54]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес4
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type27'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.55]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес5
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type28'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.48]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес6
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type29'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.747,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес7
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type30'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>

        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="ultima-tab">
          <div class="collapse__item" data-coords="[45.057131,38.984407]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    адрес8
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
                {{ Dropdown.dropdown({
                    'mods': {'theme': 'bordered'},
                    'label': 'Построить Маршрут',
                    'name': 'routeType',
                    'items': [
                        {'title': 'На автомобиле', 'value': 'auto'},
                        {'title': 'На общественном транспорте', 'value': 'masstransit'},
                        {'title': 'Пешком', 'value': 'pedestrian'},
                        {'title': 'На велосипеде', 'value': 'bicycle'}],
                    'class': 'form__field-group form__field-group_dropdown',
                    'attr': {'id': 'route-type31'},
                    'field': 'js-create-route' }) }}
              <div class="map-wrap js-collapse-map-wrap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    //сюда прописать ключ API карт
    var yandexMapApiKey = '43aae7e6-b7a1-4f85-b4ca-242979d9dcfd';
</script>
