.offices .offices__map-router
  opensansRegular()
  width 100%
  display none
  justify-content: space-between;
  align-items center
  //position: absolute;
  //top: 365px;
  z-index: 10;
  background-color: $white
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 8px;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,.1), 0 0 12px 0 rgba(255,255,255,.5);
  @media (min-width: 832px)
    display none
