.offices .offices__detail
  position: relative

  overflow: auto
  width: 100%

  &::-webkit-scrollbar
    width: 0
    height: 0

  &
    -ms-overflow-style: none

  &
    overflow: -moz-scrollbars-none

  @media (min-width: 576px) and (max-width: 991px)
    //height: calc(100vh - 300px)

  @media (max-width: 575px)
    //height: calc(100vh - 200px)

  .collapse__item
    .collapse__control-icon
      display: none
