.offices .offices__map-wrapper
  position: relative
  padding-top 32%
  min-height 887px
  width: 100%
  @media (min-width: 960px) and (max-width: 1215px)
    min-height: 100vh
  @media (max-width: 831px)
    position: absolute;
    padding-top 0
    min-height 500px
    z-index 1
    top 373px
  @media (min-width: 535px) and (max-width: 831px)
    top 27%

  >*
    position absolute
    width 100%!important
    height 100%!important
    left 0
    top 0
    //@media (max-width: 831px)
    //  height: 330px
    //  top -357px
  //@media (min-width: 768px) and (max-width: 991px)
  //  height: 440px
  //

