.offices .offices__collapse

  display flex
  flex-direction column

  width: auto
  .map-wrap
    margin 0 -20px
    width calc(100% + 40px);
    @media (max-width: 831px)
      display: none

  .collapse__control
    padding 24px 24px 24px 112px
    @media (min-width: 832px) and (max-width: 1215px)
      padding-left: 83px
    @media (max-width 831px)
      padding: 24px

    .collapse__control-title
      padding-right: 34px
    .collapse__control-icon
      right: 35px;
      width: 13px;
      height: 9px;
      @media (max-width:831px)
        right: 30px;

  .collapse__content
    opensansRegular()
    padding-left: 0
    padding-right: 0
    @media (min-width 800px) and (max-width 1215px)
      padding-right 33px
    //padding-top: 16px
    //margin-right: 24px
    //margin-left: 24px
    //border-top: 1px solid $gainsboro
