{% import "../tabbar/tabbar.njk" as Tabbar %}
{% import "../../../components/icon/icon.njk" as Icon %}
{% import "../../library/button/button.njk" as Button %}


<div class="offices js-offices">
  <div id="map-container" class="offices__map-wrapper" style="height: 678px;"></div>
  <div class="collapse offices__detail js-offices-detail state_hidden">
    <div class="js-detail-content"></div>
    {{ Icon.icon({ 'name': 'close', 'elementClass': 'offices__detail-icon js-offices-detail-close' }) }}
  </div>
  <div class="offices__content js-tab-scroll">

    {{ Tabbar.tabbar({ 'anchor': { 'theme': 'default-tab', 'view': 'underscore', 'class': 'offices__tab-control' }, 'tabs': [{'title': 'Отделения', 'id': 'offices-tab' }, {'title': 'Банкоматы', 'id': 'atm-tab'}, {'title': 'Ультима', 'id': 'ultima-tab'}], 'class': 'offices__tabbar' }) }}

    <div class="tabs js-tabs offices__tabs scroll-pane">
      {#
        data-city - geoid города
        data-id - привязка списка к табу
        data-coords - координаты точки. Без пробелов!
      #}
      <div id="offices-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        <div class="collapse offices__collapse" data-city="213" data-id="offices-tab">

          <div class="collapse__item" data-coords="[55.76,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.76,37.58]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.73,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.73,37.56]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.78,37.56]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.72,37.54]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="offices-tab">

          <div class="collapse__item" data-coords="[45.037538,38.967756]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.060537,39.022001]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.061511,38.962091]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.030114,38.996424]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.054697,39.010843]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.019887,38.967241]">
            <div class="collapse__control">
              <div class="collapse__control-description">
                Москва
              </div>
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="atm-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        <div class="collapse offices__collapse" data-city="213" data-id="atm-tab">

          <div class="collapse__item" data-coords="[55.76,37.587]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.747,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                Кутузовский
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.48]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.76,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.55]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.746,37.578]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="atm-tab">

          <div class="collapse__item" data-coords="[45.019887,38.967241]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.035469,38.968443]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                Кутузовский
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.055792,38.983377]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.047761,38.939947]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.061024,38.973764]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[45.057009,38.939947]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                На проспекте Мира
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="ultima-tab" class="offices__tabs-item tabs__item js-tab state_invisible">
        {{ Button.button({ 'title': 'Посмотреть список банкоматов Росбанка', 'name': 'download', 'class': 'offices__external-link' }) }}
        <div class="collapse offices__collapse" data-city="213" data-id="ultima-tab">

          <div class="collapse__item" data-coords="[55.76,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.78,37.56]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                115054, Россия, г. Москва, ул. Валовая, д. 2-4/44, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    Выдача наличных
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    Круглосуточно
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.72,37.54]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.55]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.77,37.48]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="collapse__item" data-coords="[55.747,37.57]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="collapse offices__collapse" data-city="35" data-id="ultima-tab">
          <div class="collapse__item" data-coords="[45.057131,38.984407]">
            <div class="collapse__control">
              <div class="collapse__control-title">
                109147, Россия, г. Москва, ул. Марксистская, д. 3, строение 1
              </div>
              <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
              </div>
            </div>
            <div class="collapse__content">
              <ul class="offices__info">
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    121059, Москва, ул. Большая Дорогомиловская, 14
                  </div>
                </li>
                <li class="offices__info-item offices__info-item_bordered">
                  <div class="offices__info-text">
                    8 800 500 7065
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Время работы с клиентами</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 <br>
                    СБ: с 10:00 до 18:00 <br>
                    ВС: выходной
                  </div>
                </li>
                <li class="offices__info-item">
                  <div class="offices__info-title">Кассовое обслуживание</div>
                  <div class="offices__info-text">
                    ПН-ПТ с 10:00 до 20:00 <br>
                    СБ: с 10:00 до 13:00 <br>
                    ВС: выходной
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ Button.button({ 'title': 'Показать списком', 'mods': {'theme': 'default'}, 'attr': {'state': 'map'}, 'class': 'offices__switch-view js-offices-switcher' }) }}
</div>
