.offices .offices__search-option
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;

  & .offices__search-icon
    height: 24px;
    width: 24px;
    margin-right: 16px;
    svg
      height: 100%;
      width: 100%;

  & .icon-orange
    display none

  & .icon-street-icon
    display none

  & .offices__search-title
    color $madison

  & .offices__search-description
    font-size: 12px;
    line-height: 16px;
    color $slate_grey
    margin-top 5px

[hidden], template {
  display: none!important;
}
