.offices
  position relative
  display flex
  flex-direction row-reverse
  @media (min-width: 320px) and (max-width:831px)
    flex-direction column-reverse
  @media (max-width: 831px)
    display: none;

  & .section__content
    @media (min-width: 832px) and (max-width: 1215px)
      margin-bottom: 28px;

  .map-wrap
    margin-top 30px!important
    @media (max-width: 831px)
      margin-top: 0!important

  & .offices__info-item-timetable
    display flex
    @media (min-width 800px) and (max-width 1215px)
      margin-top 14px
    @media (max-width 1215px)
      flex-direction column

  & .offices__info-item-timetable > div
    margin-right 48px

  .collapse .collapse__content
    .collapse__item
      margin-right -20px
      margin-left -20px
    *
      opacity 1
  //@media (max-width: 991px)
  //  margin-top: 183px

  &:not(.state_listed)
    @media (max-width: 991px)
      .offices__content
        top: -183px

      //.offices__tabs
      //  display: none

  &.state_listed
    @media (max-width: 991px)
      margin-top: 0

    .offices__tabs
      display: block

    .offices__map-wrapper
      @media (max-width: 991px)
        display: none

    .offices__content
      @media (max-width: 991px)
        position: relative
        top: 0

      @media (min-width: 768px) and (max-width: 991px)
        min-height: 440px

      @media (max-width: 767px)
        min-height: 330px

  //&.state_listed.state_explored
  //  .offices__map-wrapper
  //    @media (max-width: 991px)
  //      visibility: visible

.for-mobil
  display: none;
  @media (max-width: 831px)
    display: block!important;
