.offices .offices__external-link
  width: 100%
  border-radius: 0
  background-color: $snow
  height: 72px
  color: $cyprus
  .button__wrap
    justify-content: space-between
    padding-right: 24px
    padding-left: 24px

    .button__icon
      flex-shrink 0
      margin-left 10px

  &:hover
    background-color: $white_smoke_dark
    .button__wrap
      color: inherit
