.offices .offices__route-built
  display none
  justify-content center
  align-items center
  width: 100%
  height: 56px
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
  background-color $white_smoke
  color $cyprus
  box-shadow none
  opensansRegular()

.offices .route-built--active
  display: flex;
