.offices .offices__search-option
  margin-top: 16px;
  margin-bottom: 16px;

  & .offices__search-title
    color $madison

  & .offices__search-description
    font-size: 12px;
    line-height: 16px;
    color $slate_grey
    margin-top 5px
