.offices .offices__map-router-button
  display: block;
  max-width: 29px
  min-width: 13px
  width: 100%;
  max-height: 24px
  min-height 18px
  height: 100%;
  color: $slate_grey
  svg
    width: 100%;
    max-height: 24px
    min-height 18px

.router-active
  color $royal_blue!important
