.offices .offices__map-router-wrapper
  display flex
  .offices__map-router--type
    margin-right: 20px;
    display: flex
    align-items: center
  .offices__map-router-time
    color currentColor
    margin-left 5px
    opensansBold()
