.index-search .index-search__wrapper
  overflow: hidden
  padding-right: 20px
  height: 100%

  form
    display: flex
    align-items: center

    height: 100%

    fieldset
      position: relative

      flex-grow: 1
      padding-right: 20px

      opacity: 0

      transition: opacity $interval 200ms

      label
        cursor: text
        span
          position: absolute
          top: 50%
          transform: translateY(-50%)
          left: 0

          opacity: 0

          pointer-events: none
          opensansRegular()
          color: $color_link

          transition: opacity $interval / 4

        input
          width: 100%
          height: 100%

          opensansRegular()
          color: $color_text
