.index-search
  width: 100%
  max-width: 0

  transition: max-width $interval

  .index-search__wrapper
    form
      display: flex
      align-items: center

      fieldset
        flex-grow: 1

  &.state_explored
    max-width: 500px
