.index-search
  border-radius: 4px
  @media (max-width: 1023px)
    display: none
  //@media (min-width: 832px) and (max-width: 1215px)
  //  display: none;

  &:not(.state_explored)
    width: 100%
    max-width: 48px

    transition: max-width $interval
    animation: clearBackground $interval forwards

  &.state_explored
    width: 100%
    max-width: 100%

    animation: setBackground $interval forwards
    transition: max-width $interval

    @media (min-width: 1280px)
      height: 48px;
      max-width: 500px

    @media (max-width: 767px)
      height: 40px

    form
      fieldset
        //max-width: none
        opacity: 1

        label
          span
            opacity: 1

            transition: opacity $interval

    .index-search__close
      opacity: 1

      transition: opacity $interval 200ms

.b-head_type_search-simple
  display none
.b-serp-item__content
  opensansRegular()!important
  color: currentColor!important
  line-height: 1.5!important
.search_q
  padding 0 15px

  @media (max-width: 1279px)
    margin-left: auto

  @keyframes setBackground
    0%
      background-color: transparent;
    100%
      background-color: $color_card;
  @keyframes clearBackground
    0%
      background-color: $color_card;
    100%
      background-color: transparent;



