.navbar .navbar__button
  &.navbar__button_type-dropdown
    &:hover, &.state_active
      .button__wrap
        color: $color_hover

    &.state_active
      .button__icon .icon
        color: $color_hover
        transform: scale(1, -1)

    .button__icon .icon
      width: 10px
      height: 10px

      transition: transform $interval
