.navbar
  position: relative
  z-index: 500
  background-color: $color_light

  @media (min-width:416px) and (max-width: 831px)
    box-shadow none

  @media (max-width: 1279px)
    //z-index: 400
    //&:before
    //  content: ''
    //  position absolute
    //  bottom: 0
    //  left: 0
    //  z-index 0
    //  height 300%
    //  width 100%
    //  background $color_light
    //  display block
  @media (min-width: 832px) and (max-width: 1215px)
    box-shadow: inset 0 -2px 0 -1px $gainsboro;
  &.state_init
    @media (max-width: 1279px)
      .navbar__button .button__wrap
        color: $color_text

  .page__new-container
    box-shadow: inset 0 -2px 0 -1px $gainsboro;
    @media (min-width: 831px) and (max-width: 1215px)
      box-shadow none
