.section__header_landings
  display flex
  flex-direction row
  max-width 1000px
  margin 56px auto
  &-title
    width 60%
    padding-top 25px
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    .heading.heading_type-default
      font-size 48px
      padding-bottom: 50px;
      line-height 56px
  &-image
    width 40%
    text-align right
    img
      margin-right -22px
  &-info
    display flex
    flex-direction row
    margin-bottom 70px
    .text
      b
        font-weight bold
