.section.section_theme-blue
  background-image: url('../images/pattern_blue-new.jpg')
  background-repeat: no-repeat
  background-size: cover

.section_theme-blue
  background-image: url('../images/pattern_blue-new.jpg')
  background-repeat: no-repeat
  background-size: cover
