.section__header.section__header_pagination-top
  @media (max-width: 767px)
    .page__container
      position: initial

    .section__nav
      padding-top: 60px

    .carousel-controls
      position: absolute
      top: 15px
