.section .section__text
  display: flex
  flex-direction: column

  a
    align-self: flex-start

  p, a
    margin-bottom: 32px

    opensansRegular()
    color: rgba($color_elem, 0.8)
    line-height: 1.5

    transition: all $interval

    &:last-child
      margin-bottom: 0

  a:hover
    color: $color_hover

  cite
    font-style: normal
    oopensansRegular()
    color: rgba($color_elem, 0.3)
    line-height: 1.5

  ul
    margin-bottom: 40px

    opensansRegular()
    color: rgba($color_elem, 0.8)

    &:last-child
      margin-bottom: 0

    li
      position: relative

      margin-bottom: 15px

      padding-left 60px

      &:last-child
        margin-bottom: 0

      &:before
        content: '•'

        position: absolute
        left: 7px
        top: -4px;

        font-size: 22px;
        color: $color_elem
