.section__header .section__header-controls
  display: flex
  align-items: center

  height: 88px

  @media (max-width: 767px)
    flex-direction: column

    height: auto
    padding-top: 24px
    padding-bottom: 42px
