.section .section__header.section__header_theme-blue
  background-image: url('../images/bg-blue-patern.svg');
  background-position: center center;
  background-size: cover;

  .heading
    color: $color_light

    @media (min-width: 1280px)
      //min-height: 200px
      //max-width: 740px

    @media (min-width: 768px) and (max-width: 1279px)
      //max-width: 500px
