.section__header_filled-bg
  overflow: hidden
  .index-carousel__content
    @media (max-width: 767px)
      width: 100%
  .section__header-controls
    @media (max-width: 767px)
      margin-top: -185px

