.section .section__info .section__info-content
  margin-bottom: 32px

  line-height: 1.5

  &:last-child
    margin-bottom: 0

  span, a
    opensansRegular()
    color: rgba($color_elem, 0.8)

    transition: color $interval

  a:hover
    color: $color_hover
