.section .section__text
  display: flex
  flex-direction: column
  color: rgba($color_elem, 0.8)
  @media (max-width 1279px)
    &.mt-40
      margin-top: 24px

  a
    align-self: flex-start

  p, a
    margin-bottom: 32px

    opensansRegular()
    color: currentColor
    line-height: 1.5

    transition: all $interval

    &:last-child
      margin-bottom: 0

  a:hover
    color: $color_hover

  cite
    font-style: normal
    opensansRegular()
    color: rgba($color_elem, 0.3)
    line-height: 1.5

  ul
    margin-bottom: 40px
    opensansRegular()
    color: currentColor

    &:last-child
      margin-bottom: 0

    li
      position: relative

      margin-bottom: 15px

      padding-left 60px
      @media (max-width 1279px)
        padding-left: 22px
      &:last-child
        margin-bottom: 0

      &:before
        content: '•'

        position: absolute
        left: 7px
        top: -4px;

        font-size: 22px;
        color: currentColor
        @media (max-width 1279px)
          left: 0
