.section__header .section__header-controls
  display: flex
  align-items: center

  height: 88px
  padding-bottom 38px

  @media (min-width: 1216px)
    margin-right: -20px;
    margin-left: -20px;

  @media (max-width: 1215px)
    padding-bottom 35px

  @media (max-width: 831px)
    flex-direction: column
    height: auto
    padding-bottom: 63px
    padding-top: 20px;

