.section__col
    img
      max-width 100%
      display block
      @media (max-width: 767px)
        margin 0 auto
    col()
    &_1
      size(3)
    &_2
      size(9)
    @media (max-width: 767px)
      width 100%!important
