.section__col
    img
      display block
      @media (max-width: 1271px)
        margin 0 auto
        max-width 100%!important
    col()
    &_1
      size(3)
    &_2
      size(9)
    @media (max-width: 767px)
      width calc(100% - 40px)!important
    &_3
      size(4)
      @media (max-width: 767px)
        width calc(100% - 40px)!important
    &_half
      size(6)
      @media (max-width: 767px)
        width calc(100% - 40px)!important
    &_full
      width calc(100% - 40px)!important

.slick-slide
  .section__col
    width 100%!important
    margin-left auto!important
    margin-right auto!important
