.section .section__header.section__header_theme-blue
  background-image: url('../images/header.png');
  background-position: center center;
  background-size: cover;

  .heading
    color: $color_light
