{% import "../../../components/library/button/button.njk" as Button %}
{% import "../../../components/library/feature/feature.njk" as Feature %}
{% import "../../../components/library/heading/heading.njk" as Heading %}
{% import "../../../components/inline-svg/inline-svg.njk" as Icon %}

{% macro plasticCard( options ) %}

  {% set class_sep = joiner(' ') %}

  {% if options.mods %}
    {% set mods = '' %}
    {% set mods %}
      {% for key, value in options.mods -%}
        {{ class_sep() }} feature_{{ key }}-{{ value }}
      {%- endfor %}
    {% endset %}
  {% endif %}

  {% if options.theme === 'blue' %}

    <div class="plastic-card plastic-card_theme-blue {{ mods | safe }}">
      <div class="plastic-card__wrapper">
        <div class="plastic-card__content">
          <div class="plastic-card__header">
            {{ Heading.heading({ 'title': options.title }) }}
            <div class="plastic-card__category">
              {% for key, value in options.category %}
                {{ Button.button({ 'title': value, 'mods': { 'view': 'outlined', 'size': 'mini' }, 'attr': { 'category': key } }) }}
              {% endfor %}
            </div>
          </div>
          <div class="plastic-card__features">
            {% for feature in options.features %}
              {{ Feature.feature({ 'title': feature.title | striptags(true) | escape | nl2br, 'text': feature.text | striptags(true) | escape | nl2br, 'mods': feature.mods, 'class': feature.class }) }}
            {% endfor %}
          </div>
          <div class="plastic-card__controls">
            {{ Button.button({ 'title': options.button, 'mods': { 'theme': 'white' } }) }}
            {{ Button.button({ 'href': options.href, 'title': 'Подробнее', 'mods': { 'view': 'text', 'theme': 'white' } }) }}
          </div>
        </div>
        {% if options.image %}
          <div class="plastic-card__image">
            {{ Icon.inlineSvg({ 'path': [options.image] }) }}
          </div>
        {% endif %}
      </div>
    </div>

  {% else %}

    <div class="plastic-card {{ mods | safe }}">
      <div class="plastic-card__wrapper">
        <div class="plastic-card__content">
          <div class="plastic-card__header">
            {{ Heading.heading({ 'title': options.title }) }}
            <div class="plastic-card__category">
              {% for key, value in options.category %}
                {{ Button.button({ 'title': value, 'mods': { 'theme': 'gray', 'view': 'outlined', 'size': 'mini' }, 'attr': { 'category': key } }) }}
              {% endfor %}
            </div>
          </div>
          <div class="plastic-card__features">
            {% for feature in options.features %}
              {{ Feature.feature({ 'title': feature.title | striptags(true) | escape | nl2br, 'text': feature.text | striptags(true) | escape | nl2br, 'mods': feature.mods, 'class': feature.class }) }}
            {% endfor %}
          </div>
          <div class="plastic-card__controls">
            {{ Button.button({ 'title': options.button, 'mods': { 'theme': 'default' } }) }}
            {{ Button.button({ 'href': options.href, 'title': 'Подробнее', 'mods': { 'view': 'text', 'theme': 'default' } }) }}
          </div>
        </div>
        {% if options.image %}
          <div class="plastic-card__image">
            {{ Icon.inlineSvg({ 'path': [options.image] }) }}
          </div>
        {% endif %}
      </div>
    </div>

  {% endif %}
{% endmacro %}
