.plastic-card .plastic-card__content
  .plastic-card__features
    .plastic-card__feature
      margin-right: 32px
      width: 185px
      @media (max-width: 767px)
        display: none
        margin-right: 0
        max-width 50%
        &:first-child
          margin-right: 20px
        &:first-child,
        &:nth-child(2)
          display: block
          .feature__title
            margin-bottom: 0
            line-height: 1.5
          .feature__text
            line-height: 1.67


