.plastic-card .plastic-card__content
  .plastic-card__features
    .plastic-card__feature-list
      @media (min-width: 992px)
        margin-right: 32px
        max-width 500px;
        width 100%


