.plastic-card

  margin-bottom: 40px

  overflow: hidden
  width: 100%

  border-radius: 4px
  background-color: $color_card

  &:last-child
    margin-bottom: 0
  @media (max-width: 767px)
    margin-bottom: 20px
