.plastic-card .plastic-card__image
  
  @media (min-width: 768px)
    margin-left: auto
    position: relative

    width: 1px

  .image
    position: absolute
    top: 0
    right: 0

    width: auto
    max-width: 476px

    @media (max-width: 991px)
      display: none
