.plastic-card .plastic-card__content
  .plastic-card__controls

    margin-top: 56px

    @media (max-width: 767px)
      margin-top: 40px

    .button
      @media (max-width: 767px)
        width: 100%

        &:last-child
          margin-top: 6px