.plastic-card .plastic-card__image
  order: 1

  position: relative
  margin-top: 10px
  margin-right: 5px

  width: 1px
  flex: 1

  .image
    position: absolute
    top: 0
    right: 0

    height: 100%