.feature__content-list
    li
      position relative
      padding-left 45px
      margin-bottom 15px
      &:before
        content ''
        display block
        width 6px
        height 6px
        border-radius 50%
        position absolute
        left 0
        top: calc(50% - 3px)
        background $black

  //@media (min-width: 992px)
  //  padding-top: 54px
  //
  //@media (max-width: 991px)
  //  padding-top: 16px
