.page .page__container
  wrapper()

  position: relative
  height: 100%
  @media (max-width: 1215px)
    padding-left: 16px
    padding-right: 16px

  @media (min-width: 832px) and (max-width:1215px)
    max-width 832px
    margin-right: auto;

  @media (min-width: 416px) and (max-width:831px)
    padding-left: 24px
    padding-right: 24px
    margin-right: auto;

.page .page__new-container
  max-width: 1440px;
  padding-left: 112px;
  padding-right: 112px;

  @media (max-width: 1215px)
    padding-left: 16px
    padding-right: 16px

  @media (min-width: 832px) and (max-width:1215px)
    max-width 832px
    margin-right: auto;

  @media (min-width: 416px) and (max-width:831px)
    padding-left: 24px
    padding-right: 24px
    margin-right: auto;
