.page .page__container_landing-container
  max-width 1248px!important
  &-short
    max-width 1000px!important
    .heading_align-centered
      margin 0 auto
    &-rowed
      max-width 1040px!important



.header .menubar__wrapper
  .context_view-landings
    @media (max-width: 1279px)
      display none

