.page .page__section.page__section_theme-usefulservices
    .card .card__content .card__figure
      height: auto
      @media (min-width: 1280px)
        bottom: 20px
        right: calc(50% - 140px)
        max-width: 280px
        max-height 300px
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          bottom: 10px;
        }
      @media (min-width: 992px) and (max-width: 1279px)
        right: calc(50% - 105px)
        max-width: 210px
        max-height: 225px
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          bottom: -15px;
        }
      @media (max-width: 991px)
        bottom: -10px
        right: calc(50% - 62px)
        max-width: 124px
        max-height: 134px
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          bottom: -20px;
        }
