.not-found-block
  display flex
  flex-basis 100%
  flex-wrap nowrap
  justify-content space-between
  align-items center
  padding-top 41px
  padding-bottom 83px
  @media (max-width: 991px)
    flex-wrap wrap
  .text
    width 345px
    max-width 100%
    @media (max-width: 991px)
      margin 0 auto
