.advices.section
  .section__row
    justify-content: center

    @media (max-width: 767px)
      flex-direction: column
      align-items: center

  .section__heading
    @media (max-width: 767px)
      flex-direction: column
      align-items: flex-start

      margin-bottom: 40px

      .heading
        margin-bottom: 22px