{% import "../../../components/icon/icon.njk" as Icon %}
{% import "../../../components/library/docs/docs.njk" as Docs %}

<div class="page__container">
    <div class="news-detail">
        {{ Heading.heading({ 'tag': 'h2', 'title': 'Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании форм развития. Разнообразный и богатый опыт начало повседневной работы.' | striptags(true) | escape | nl2br, mods: {'type': 'normal', 'margin': 'default'}, 'class': 'js-scroll-animate news-detail__title' }) }}
        <div class="news-detail__text-wrapper">
            <div class="text news-detail__text">
                <p class="text__paragraph">
                    Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа
                    системы
                    обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт новая модель
                    организационной
                    деятельности представляет собой интересный эксперимент проверки существенных финансовых и
                    административных
                    условий. Повседневная практика показывает, что реализация намеченных плановых заданий влечет за
                    собой процесс
                    внедрения и модернизации направлений прогрессивного развития.
                </p>

                <div class="text__quote">
                    <div class="text__quote-content">
                        Благодаря Персональному финансовому планированию мы ускоряем движение <br> к поставленной цели,
                        будь она у вас
                        одна
                        или несколько.
                    </div>
                    <div class="text__quote-author">
                        Олег Михасенко
                    </div>
                </div>

                <p class="text__paragraph">
                    Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа
                    системы
                    обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт новая модель
                    организационной
                    деятельности представляет собой интересный эксперимент.
                </p>
            </div>
        </div>

        <div class="news-detail__image-wrapper">
            <img src="assets/images/news-detail-image.jpg" alt="" class="news-detail__image">
            <div class="news-detail__image-description">Фото: Иванов Иван</div>
        </div>

        <div class="news-detail__text-wrapper">
            <div class="text">
                {{ Heading.heading({ 'tag': 'h3', 'title': 'Таким образом укрепление \n и развитие структуры требуют \n от нас' | striptags(true) | escape | nl2br, 'mods': {'type': 'default', 'margin': 'default'}, 'class': 'text__title' }) }}
                <p class="text__paragraph">
                    Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа
                    системы
                    обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт новая модель
                    организационной
                    деятельности представляет собой интересный эксперимент.
                </p>
                {{ Heading.heading({ 'tag': 'h2', 'title': 'Таким образом консультация с широким активом' | striptags(true) | escape | nl2br, 'mods': {'type': 'normal', 'margin': 'default'}, 'class': 'text__subtitle' }) }}
                <p class="text__paragraph">
                    Синтетическая история искусств позиционирует прагматический имидж. Аллегория без оглядки на
                    авторитеты
                    категорически программирует антропологический целевой трафик. Рыночная ситуация, однако, существенно
                    доказывает
                    плюралистический онтологический статус искусства. Демократия участия ускоряет коллективный
                    классический реализм.
                    Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что лидерство в
                    продажах
                    монотонно продолжает незначительный филогенез. Познавательная сфера, анализируя результаты рекламной
                    кампании,
                    продуцирует эмпирический импрессионизм.
                </p>
                {{ Heading.heading({ 'tag': 'h2', 'title': 'Индекс ММВБ - Архив торгов' | striptags(true) | escape | nl2br, 'mods': {'type': 'normal', 'margin': 'default'}, 'class': 'text__subtitle' }) }}

                <div class="table table_sortable js-table-sortable">
                    <table class="table__content">
                        <thead class="table__head">
                        <tr>
                            {# data-sort="date" for sort by date #}
                            {# data-sort="money" for sort by money #}
                            <th data-sort="fullDate">
                                <span class="table__column-title">Дата</span>
                            </th>
                            <th data-sort="money">
                                <span class="table__column-title">Закрытие</span>
                            </th>
                            <th data-sort="money">
                                <span class="table__column-title">Открытие</span>
                            </th>
                            <th data-sort="money">
                                <span class="table__column-title">Максимум</span>
                            </th>
                            <th data-sort="money">
                                <span class="table__column-title">Минимум</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        <tr>
                            <td>14.05.2018</td>
                            <td>2 357,62</td>
                            <td>2 345,93</td>
                            <td>2 358,59</td>
                            <td>2 362,27</td>
                        </tr>
                        <tr>
                            <td>15.05.2018</td>
                            <td>2 337,03</td>
                            <td>2 353,22</td>
                            <td>2 354,11</td>
                            <td>2 330,59</td>
                        </tr>
                        <tr>
                            <td>16.05.2018</td>
                            <td>2 338,39</td>
                            <td>2 336,52</td>
                            <td>2 350,49</td>
                            <td>2 328,86</td>
                        </tr>
                        <tr>
                            <td>17.05.2018</td>
                            <td>2 323,51</td>
                            <td>2 342,22</td>
                            <td>2 346,04</td>
                            <td>2 323,51</td>
                        </tr>
                        <tr>
                            <td>18.05.2018</td>
                            <td>2 326,94</td>
                            <td>2 323,75</td>
                            <td>2 338,94</td>
                            <td>2 321,93</td>
                        </tr>
                        <tr>
                            <td>19.05.2018</td>
                            <td>2 332,63</td>
                            <td>2 328,42</td>
                            <td>2 347,93</td>
                            <td>2 328,42</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="media-slider">
            <div class="media-slider__slides">
                <div class="media-slider__slides-item">
                    <img src="assets/images/news-detail-image.jpg" alt="">
                </div>
                <div class="media-slider__slides-item">
                    <img src="assets/images/news-detail-image-2.jpg" alt="">
                </div>
                <div class="media-slider__slides-item">
                    <img src="assets/images/news-detail-image-3.png" alt="">
                </div>
            </div>
            <div class="media-slider__controls">

                <div class="media-slider__counter">
                    <span class="media-slider__counter-current">01</span>
                    <span class="media-slider__counter-divider">/</span>
                    <span class="media-slider__counter-total">06</span>
                </div>

                <div class="media-slider__progressbar">
                </div>

                <div class="media-slider__arrows">
                </div>
            </div>

        </div>

        <div class="news-detail__text-wrapper">

            <ul class="brand-list brand-list_type-disc">
                <li>БКС Банк вносит изменения в программу лояльности по банковским</li>
                <li>Изменения касаются начисления вознаграждений по бонусным</li>
                <li>Согласно новым условиям банк будет начислять бонусы за следующие</li>
                <li>Благодаря Персональному финансовому планированию мы ускоряем</li>
                <li>БКС Банк вносит изменения в программу лояльности по банковским</li>
            </ul>

            <ul class="brand-list brand-list_type-disc">
                <li>БКС Банк вносит изменения
                    <ul class="brand-list brand-list_type-bordered-disc">
                        <li>БКС Банк вносит изменения в программу лояльности</li>
                        <li>Изменения касаются начисления вознаграждений по бонусным</li>
                        <li>Согласно новым условиям банк будет начислять бонусы за следующие</li>
                    </ul>
                </li>
                <li>Благодаря Персональному финансовому планированию</li>
                <li>Режим работы офисов БКС Банка в июне 2018 года</li>
            </ul>

            <ol class="brand-list brand-list_type-numeric">
                <li>БКС Банк вносит изменения в программу лояльности по банковским</li>
                <li>Изменения касаются начисления вознаграждений по бонусным</li>
                <li>Согласно новым условиям банк будет начислять бонусы за следующие</li>
                <li>Благодаря Персональному финансовому планированию мы ускоряем</li>
                <li>БКС Банк вносит изменения в программу лояльности по банковским</li>
            </ol>

            <ol class="brand-list brand-list_type-numeric mb-82">
                <li>БКС Банк вносит изменения
                    <ol class="brand-list brand-list_type-numeric">
                        <li>БКС Банк вносит изменения в программу лояльности
                            <ol class="brand-list brand-list_type-numeric">
                                <li>Изменения касаются начисления вознаграждений по бонусным</li>
                                <li>Согласно новым условиям банк будет начислять бонусы за следующие</li>
                                <li>Благодаря Персональному финансовому планированию мы ускоряем</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>Благодаря Персональному финансовому планированию</li>
                <li>Режим работы офисов БКС Банка в июне 2018 года</li>
            </ol>
        </div>
    </div>
</div>

<div class="collapse collapse_theme-grey">
    <div class="collapse__item">
        <div class="collapse__control">
            <div class="collapse__control-title">БКС Банк вносит изменения в программу лояльности по
                банковским
            </div>
            <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
            </div>
        </div>
        <div class="collapse__content">
            <div class="text">
                <p class="text__paragraph">
                    Вносит изменения в программу лояльности по банковским картам клиентов «БКС Премьер»
                    и «БКС Брокер» с 6 июня 2018 года. Изменения касаются начисления вознаграждений по
                    бонусным программам,
                    осуществляемым банком совместно с партнерами. Согласно новым условиям банк будет
                    начислять бонусы
                    за следующие операции, совершенные с помощью карт БКС Банка.
                </p>
            </div>
        </div>
    </div>
    <div class="collapse__item">
        <div class="collapse__control">
            <div class="collapse__control-title">Синтетическая история искусств позиционирует прагматический
                имидж
            </div>
            <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
            </div>
        </div>
        <div class="collapse__content">
            <div class="text">
                <p class="text__paragraph">
                    Вносит изменения в программу лояльности по банковским картам клиентов «БКС Премьер»
                    и «БКС Брокер» с 6 июня 2018 года. Изменения касаются начисления вознаграждений по
                    бонусным программам,
                    осуществляемым банком совместно с партнерами. Согласно новым условиям банк будет
                    начислять бонусы
                    за следующие операции, совершенные с помощью карт БКС Банка.
                </p>
            </div>
        </div>
    </div>
    <div class="collapse__item">
        <div class="collapse__control">
            <div class="collapse__control-title">Режим работы офисов БКС Банка в июне 2018 года</div>
            <div class="collapse__control-icon">
                {{ Icon.icon({ 'name': 'dropdown' }) }}
            </div>
        </div>
        <div class="collapse__content">
            <div class="text">
                <p class="text__paragraph">
                    Вносит изменения в программу лояльности по банковским картам клиентов «БКС Премьер»
                    и «БКС Брокер» с 6 июня 2018 года. Изменения касаются начисления вознаграждений по
                    бонусным программам,
                    осуществляемым банком совместно с партнерами. Согласно новым условиям банк будет
                    начислять бонусы
                    за следующие операции, совершенные с помощью карт БКС Банка.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="page__container">
    <div class="news-detail">
        {{ Heading.heading({ 'title': 'Тарифы', 'mods': {'type': 'normal', 'margin': 'short'}, 'class': 'mt-82' }) }}
        {{ Docs.docs({ 'title': '    БКС Банк вносит изменения в программу лояльности по банковским картам клиентов «БКС Премьер» и «БКС Брокер» с 6 июня 2018 года. Изменения касаются начисления вознаграждений', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'note': '23.05.2018', 'class': 'mb-32'}) }}
        {{ Docs.docs({ 'title': 'БКС Банк вносит изменения в программу', 'href': '#', 'type': 'PDF', 'size': '213 КБ', 'note': '23.05.2018'}) }}
    </div>
</div>
