.search-card .search-card__title
  formularBold(24px)
  line-height: 1.33
  color: #1d1f25
  margin-bottom: 32px
  @media(max-width 991px)
    formularBold(16px)
    line-height: 1.5
    letter-spacing 0.1px
    margin-bottom: 24px
