{% macro searchCard( options ) %}
  <a class="search-card js-scroll-animate" href="#">
    <div class="search-card__title">
      {{ options.title }}
    </div>
    <div class="search-card__content">
      {{ options.content }}
    </div>
  </a>
{% endmacro %}
