.header .header__contacts-links
  col()
  size(3)

  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  padding: 40px 40px 32px

  border-radius: 6px
  background-color: $color_card

  p:last-child
    opensansRegular();
    color: $color_text
    line-height: 1.75
    text-align: center

