.header__contacts .header__contacts-heading
  @media (max-width 1279px)
    font-size: $fntSize_basic-little * 2
    letter-spacing: 0.1px
    line-height: 1.33

    margin-bottom: 32px
    padding-bottom: 0
    padding-top: 40px

