{% import "../../../components/library/button/button.njk" as Button %}

<header class="header">
    <div class="navbar">
        <div class="page__container">
            <div class="navbar__wrapper">
                {% include "../../../components/modules/nav/nav.njk" %}
            </div>
        </div>
    </div>
    <div class="menubar">
        <div class="page__container">
            <div class="menubar__wrapper"></div>
        </div>
    </div>
</header>

