.header .header__contacts-links
  col()
  size(3)

  display: inline-flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  padding: 40px 40px 32px

  border-radius: 6px
  background-color: $color_card

  p:last-child
    align-self: stretch

    opensansRegular();
    color: $color_text
    line-height: 1.75
    text-align: center

  @media (max-width: 831px)
    width: 100%
    padding-left: 15px
    padding-right: 15px
    margin-left: 0
    margin-right: 0
    display: flex
    justify-content flex-start
    align-items flex-start
    background-color transparent
