.header_landing
  @media (max-width: 1280px)
    position absolute
    width 100%
  .menubar
    background-color transparent
    @media (max-width: 1280px)
      border-bottom none
    .menubar__logo
      margin-left -5px
