{% import "../../../components/inline-svg/inline-svg.njk" as Svg %}


<header class="header js-header">
  <div class="menubar">
    <div class="page__container">
      <div class="menubar__wrapper">
        <a href="http://juravlev.rusrobots.ru/bks/index.html" class="menubar__logo  menubar__logo_theme-white">
          {{ Svg.inlineSvg({'path': ['assets/images/svg/full-logo-light.svg', 'assets/images/svg/full-logo-dark.svg']}) }}
        </a>
      </div>
    </div>
  </div>
</header>

