.tabbar__scroll-wrapper

  overflow-x: auto
  width: 100%
  max-width: 100%
  height: 100%

  &::-webkit-scrollbar
    width: 0
    height: 0

  &
    -ms-overflow-style: none

  &
    overflow: -moz-scrollbars-none
