.bonus-types-list
  display flex
  width 100%
  flex-basis 100%
  flex-direction row
  justify-content space-between
  align-items stretch
  &__item
    background $color_card
    padding 40px
    width 343px
    max-width 100%
