{% import "../../../../components/library/button/button.njk" as Button %}
{% import "../../../../components/library/checkbox/checkbox.njk" as Checkbox %}

<div id="deposit-filter" class="deposit-filter context__list js-context-list state_invisible" data-type="modal-view">
  <div class="deposit-filter__wrapper">
    <div class="page__container">
      <div class="deposit-filter__list">
        {{ Button.button({ 'title': 'Пополнять', 'mods': { 'view': 'outlined', 'theme': 'gray', 'color': 'dark' }, 'class': 'deposit-filter__item mr-16' }) }}
        {{ Button.button({ 'title': 'Снимать', 'mods': { 'view': 'outlined', 'theme': 'gray', 'color': 'dark'}, 'class': 'deposit-filter__item mr-16' }) }}
        {{ Button.button({ 'title': 'Выплата % ежемесячно', 'mods': { 'view': 'outlined', 'theme': 'gray', 'color': 'dark' }, 'class': 'deposit-filter__item' }) }}
      </div>
      <div class="deposit-filter__controls">
        {{ Button.button({ 'title': 'Применить', 'mods': { 'theme': 'default' } }) }}
        {{ Button.button({ 'title': 'Сбросить все', 'mods': { 'view': 'text', 'theme': 'default' } }) }}
      </div>
    </div>
  </div>
  <div class="page__cover page__cover_theme-fixed js-cover"></div>
</div>
