.deposit-filter .deposit-filter__list
  margin-bottom: 56px
  @media(max-width 991px)
    display: flex
    flex-flow column
    align-items flex-start
    margin-bottom: 32px
    padding-bottom: 8px
    padding-right: 16px
    padding-left: 16px
    border-bottom 1px solid $gainsboro
    .button
      margin-bottom: 16px
