.state_load-start
  background $royal_blue
  &.theme-transparent
    background transparent
  overflow hidden
  height 100vh
  .section__header-controls,.index-carousel__content-text,.navbar,.landing-white-block,.text,.section__header_landings-image,.socials,.footer,.not-found-block__item_img,.not-found-block__item_text,.section__nav-wrapper,.feature,.carousel__progressbar,.index-products,.menubar,.heading,.illustration,.image-layout,.index-carousel__features,.features,.breadcrumbs,.title-head,.brand-features__item
    opacity 0
  .heading,.section__header_landings .button,.section__header_landings-info,.section__nav,.section-tabs__nav,.section__text,.page__container>.text,.form__steps,.section__heading .button,.products-detail__content_description,.leaders__person,.card
    opacity 0
  main
    opacity 0
    transition none
.state_load-end
  .navbar
    animation upShow 1s ease-out forwards
  background $royal_blue
  &.theme-transparent
    background transparent
  .section__header:not(.section__header-no-animate)
    &:after
      content ''
      position absolute
      background $color_light
      left 0
      width 100%
      z-index 999
    &:after
      height calc(100vh - 100%)
      top: 100%
      animation downShow 1s ease-out forwards
      transform translateY(101%)
  main
    transition opacity 1s ease-out
    position relative
    z-index 2
    opacity 1
  .not-found-block__section-header
    //background $color_default
  .section__header-controls,.index-carousel__content-text,.landing-white-block,.section__header_landings-image,.section-tabs__nav,.socials,.image-layout,.not-found-block__item_img,.not-found-block__item_text,.text,.footer,.section__nav-wrapper,.feature,.carousel__progressbar,.index-products,.menubar,.heading,.illustration,.index-carousel__features,.features,.breadcrumbs,.title-head,.brand-features__item
    opacity 0
  .heading,.section__header_landings .button,.section__header_landings-info,.section__nav,.section >*:not(.section__header),.section__text,.page__container>.text,.form__steps,.section__heading .button,.products-detail__content_description,.leaders__person,.card
    opacity 0


body
  &.theme-transparent
    background transparent
  &.state_animations-start
    .tabbar__marker
      animation slideHeadingShowRight 1s ease-out
    .mobile .mobile__content
      width calc(54.666667% - 40px)
      @media (max-width: 991px)
        width 100%
    .mobile .mobile__figure
      @media (min-width: 992px) and (max-width: 1279px)
        width: calc(52.833333% - 40px);
      @media (min-width: 1280px)
        width: calc(53.5% - 40px);
        min-width 500px
    background $color_light
    .not-found-block__section-header
      background $color_light
      transition all 0.5s ease
      .not-found-block__item_text
        animation headerControlsShow 1s ease-out forwards
      .not-found-block__item_img
        animation slideHeadingShowLeft 1s ease-out forwards
    .footer
      opacity 0
    .menubar,.page-header__title,.breadcrumbs,.title-head,.title-head,.heading_type-large,.section__header  .heading_type-double-colored
      animation menubarShow 1s ease-out
      opacity 1
    .section__header-controls,.index-carousel__content-text,.news,.map,.search,.products,.carousel__progressbar,.index-products,.section__nav-wrapper,.section__nav,.features,.socials,.section__header_landings-info,.section__header_landings .button
      animation headerControlsShow 1s ease-out
      opacity 1
    .section__header_landings-image
      animation slideHeadingShow 1s ease-out forwards
      opacity 1
    .slick-slide,.products-detail__content,.products-detail__figure
      .heading,.title-head,.breadcrumbs
        opacity 0
        animation slideHeadingHide 1s ease-out
      .illustration
        opacity 0
        animation slideHeadingHideLeft 1s ease-out forwards
      .index-carousel__features,.features,.products-detail__content_description
        opacity 0
        animation slideFeaturesHide 1s ease-out
      &.state_animate,&.state_animate-page
        .heading,.title-head,.breadcrumbs
          animation slideHeadingShow 1s ease-out forwards
        .illustration
          opacity 0
          animation slideHeadingShowLeft 1s ease-out forwards
        .index-carousel__features,.features,.products-detail__content_description
          animation slideFeaturesShow 1s ease-out forwards
        &.state_init
          .heading,.illustration
            animation-delay  1s
          .index-carousel__features
            animation-delay  1s
    .card__heading
      opacity 0
      transition opacity 1s ease-out
    .card__figure
      opacity 0
      transform translateY(10px);
      transition all 1s ease-out
    .animate
      .mobile__figure,.company__figure,.image-layout
        transform translateX(28px)
        opacity 0
        transition all 1s ease-out
      .form,.brand-features__title,img,&.usefull-pay-steps,&.usefull-advantage,&.transfer-iframe,.landing-white-block,.section-tabs__nav,&.search-card,.not-found-block__item_img,.not-found-block__item_text,.text,&.brand-features__props,&.not-found-block__item_img,.brand-features__item,.calculation__thumbnail,&.plastic-card,&.feature,&.text__quote
        transform translateY(28px)
        opacity 0
        transition all 1s ease-out
      .text,.brand-features__title
        transition-delay 0.4s
      .brand-features__item
        &:nth-child(2)
          transition-delay 0.3s
        &:nth-child(3)
          transition-delay 0.3s
      .heading,.section__text,.page__container>.text,.form__steps,.section__heading .button
        transform translateY(28px)
        opacity 0
        transition all 1s ease-out
      .section__text,.page__container>.text,.form__steps
        transition-delay 0.3s
      &:not(.index-products)
        .card,.section__element,.bonus-card,.bonus-types-list__item,.bonus-plastic-card,.leaders__person,&.card
          transform translateY(28px)
          opacity 0
          transition all 1s ease-out
          &:nth-child(1)
            transition-delay 0.2s
          &:nth-child(2)
            transition-delay 0.4s
          &:nth-child(3)
            transition-delay 0.6s
          &:nth-child(4)
            transition-delay 1s
          &:nth-child(5)
            transition-delay 1s
          &:nth-child(6)
            transition-delay 1.2s
      &.footer
        .page__container
          transform translateY(28px)
          opacity 0
          transition all 0.3s ease-out
    .state_animate-page
      &.footer
        opacity 1
      .card__heading
        opacity 1
      .card__figure
        opacity 1
        transform translateY(0);
      .mobile__figure,.company__figure,.image-layout
        transform translateX(0)
        opacity 1
      .form,.brand-features__title,img,&.usefull-pay-steps,&.usefull-advantage,&.transfer-iframe,.landing-white-block,.section-tabs__nav,&.search-card,.not-found-block__item_img,.not-found-block__item_text,.text,&.not-found-block__item_img,&.brand-features__props,.brand-features__item,.calculation__thumbnail,&.plastic-card,&.feature,&.text__quote
          transform translateY(0)
          opacity 1
      .heading,.section__text,.page__container>.text,.form__steps,.section__heading .button
        transform translateY(0)
        opacity 1
      &:not(.index-products)
        .card,.section__element,.bonus-card,.bonus-types-list__item,.bonus-plastic-card,.leaders__person,&.card
          transform translateY(0)
          opacity 1
      &.footer
        .page__container
          transform translateY(0)
          opacity 1


@keyframes upShow
  from
    transform translateY(-57px)
    @media (min-width: 1280px)
      transform translateY(-114px)
  to
    transform translateY(0)

@keyframes downShow
  from
    transform translateY(101%)
  to
    transform translateY(0)

@keyframes menubarShow
  from
    transform translateY(-28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes headerControlsShow
  from
    transform translateY(28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideHeadingShow
  from
    transform translateY(-28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideHeadingShowLeft
  from
    transform translateX(28px)
    opacity 0
  to
    transform translateX(0)
    opacity 1

@keyframes slideHeadingShowRight
  from
    transform translateX(-208px)
    opacity 0
  to
    transform translateX(0)
    opacity 1

@keyframes slideFeaturesShow
  from
    transform translateY(28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideHeadingHide
  from
    transform translateY(0)
    opacity 1
  to
    transform translateY(-28px)
    opacity 0

@keyframes slideHeadingHideLeft
  from
    transform translateX(0)
    opacity 1
  to
    transform translateX(28px)
    opacity 0

@keyframes slideFeaturesHide
  from
    transform translateY(0)
    opacity 1
  to
    transform translateY(28px)
    opacity 0

.state-scroll-speed
  transition-delay 0s !important

