.state_load-start
  background $royal_blue
  .section__header-controls,.feature,.carousel__progressbar,.index-products,.menubar,.heading,.illustration,.index-carousel__features,.features,.breadcrumbs,.brand-features__item
    opacity 0
  .heading,.section__text,.page__container>.text,.form__steps,.section__heading .button,.products-detail__content_description,.leaders__person,.card
    opacity 0
  .page
    opacity 0
    transition none
.state_load-end
  background $royal_blue
  .section__header
    &:before,&:after
      content ''
      position absolute
      background $color_light
      left 0
      width 100%
      z-index 999
    &:before
      height 57px
      bottom: 100%
      animation upShow 0.8s ease-out
      @media (max-width: 1279px)
        height 114px
      @media (max-width: 767px)
        height 104px
    &:after
      height calc(100vh - 100%)
      top: 100%
      animation downShow 0.8s ease-out forwards
      transform translateY(101%)
  .page
    ////background $color_light
    transition opacity 0.8s ease-out
    //transition-delay 1s
    position relative
    z-index 2
  .section__header-controls,.header,.feature,.carousel__progressbar,.index-products,.menubar,.heading,.illustration,.index-carousel__features,.features,.breadcrumbs,.brand-features__item
    opacity 0
  .heading,.section >*:not(.section__header),.section__text,.page__container>.text,.form__steps,.section__heading .button,.products-detail__content_description,.leaders__person,.card
    opacity 0


body
  &.state_animations-start
    .mobile .mobile__figure
      @media (min-width: 1280px)
        size(6.9)
      @media (min-width: 992px) and (max-width: 1279px)
        size(4.9)
    background $color_light
    .menubar
      animation menubarShow 1s ease-out
      opacity 1
    .section__header-controls,.carousel__progressbar,.index-products
      animation headerControlsShow 1s ease-out
      opacity 1
    .slick-slide,.products-detail__content,.products-detail__figure
        .heading,.illustration,.breadcrumbs
          opacity 0
          animation slideHeadingHide 1s ease-out
        .index-carousel__features,.features,.products-detail__content_description
          opacity 0
          animation slideFeaturesHide 1s ease-out
        &.state_animate,&.state_animate-page
          .heading,.illustration,.breadcrumbs
              animation slideHeadingShow 1s ease-out forwards
          .index-carousel__features,.features,.products-detail__content_description
              animation slideFeaturesShow 1s ease-out forwards
          &.state_init
            .heading,.illustration
              animation-delay  1s
            .index-carousel__features
              animation-delay  1s
    .card__heading
      opacity 0
      transition opacity 0.8s ease-out
    .card__figure
      opacity 0
      transform translateY(10px);
      transition all 0.8s ease-out
    .animate
      .mobile__figure,.company__figure,&.transfer-iframe,&.brand-features__props,.brand-features__item,.calculation__thumbnail,&.plastic-card,&.feature,&.text__quote
        transform translateY(28px)
        opacity 0
        transition all 0.8s ease-out
      .brand-features__item
        &:nth-child(2)
          transition-delay 0.3s
        &:nth-child(3)
          transition-delay 0.3s
      .heading,.section__text,.page__container>.text,.form__steps,.section__heading .button
        transform translateX(-28px)
        opacity 0
        transition all 0.8s ease-out
      .section__text,.page__container>.text,.form__steps
        transition-delay 0.3s
      &:not(.index-products)
        .card,.section__element,.bonus-card,.bonus-types-list__item,.bonus-plastic-card,.leaders__person,&.card
          transform translateY(28px)
          opacity 0
          transition all 0.8s ease-out
          &:nth-child(1)
            transition-delay 0.2s
          &:nth-child(2)
            transition-delay 0.4s
          &:nth-child(3)
            transition-delay 0.6s
          &:nth-child(4)
            transition-delay 0.8s
          &:nth-child(5)
            transition-delay 1s
          &:nth-child(6)
            transition-delay 1.2s
      &.footer
        .page__container
          transform translateY(28px)
          opacity 0
          transition all 0.3s ease-out
    .state_animate-page
      .card__heading
        opacity 1
      .card__figure
        opacity 1
        transform translateY(0);
      .mobile__figure,.company__figure,&.transfer-iframe,&.brand-features__props,.brand-features__item,.calculation__thumbnail,&.plastic-card,&.feature,&.text__quote
          transform translateY(0)
          opacity 1
      .heading,.section__text,.page__container>.text,.form__steps,.section__heading .button
        transform translateX(0)
        opacity 1
      &:not(.index-products)
        .card,.section__element,.bonus-card,.bonus-types-list__item,.bonus-plastic-card,.leaders__person,&.card
          transform translateY(0)
          opacity 1
      &.footer
        .page__container
          transform translateY(0)
          opacity 1




@keyframes upShow
  from
    transform translateY(-101%)
  to
    transform translateY(0)

@keyframes downShow
  from
    transform translateY(101%)
  to
    transform translateY(0)

@keyframes menubarShow
  from
    transform translateY(-28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes headerControlsShow
  from
    transform translateY(28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideHeadingShow
  from
    transform translateY(-28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideFeaturesShow
  from
    transform translateY(28px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes slideHeadingHide
  from
    transform translateY(0)
    opacity 1
  to
    transform translateY(-28px)
    opacity 0

@keyframes slideFeaturesHide
  from
    transform translateY(0)
    opacity 1
  to
    transform translateY(28px)
    opacity 0

