.default-exchange-card
  &.card
    min-height 376px
    .card__content
      display flex
      flex-direction column
      padding-bottom 64px
      padding-top 43px
      height 100%
    .card__wrap
      position relative
      .services__block_theme-exchange
        margin-top auto
        margin-left -9px
      .card__subtitle
        margin-bottom 45px
        margin-top 10px
    .services__table
      margin-top auto
      thead tr th
        padding-bottom 20px
