.default-exchange-card
  &.card
    min-height 376px
    .card__content
      display flex
      flex-direction column
      padding-bottom 64px
    .card__wrap
      position relative
      .services__block_theme-exchange
        margin-top auto
      .card__subtitle
        margin-bottom 45px
        margin-top 10px
