.brand-features .brand-features__item
  .brand-features__icon

    & > .image
      width: 94px
      height: 103px
      @media (max-width 991px)
        margin-right: auto
        margin-left: auto
