{% import "../../../components/icon/icon.njk" as Icon %}
{% import "../../../components/inline-svg/inline-svg.njk" as Svg %}

{% macro brandFeatures( options ) %}

    {% set class_sep = joiner(' ') %}

    <div class="brand-features {{ options.class }}">
        <div class="page__container brand-features__carousel carousel carousel_type-mobile {% if options.landing  %} page__container_landing {% endif %}">
            {% if options.js_carousel == 0 %}
            <div class="section__row" data-id="product-cards">
            {% else %}
            <div class="section__row js-carousel" data-id="product-cards" data-breakpoint="992">
            {% endif %}
                {% for item in options.items %}

                    {% set mods = '' %}
                    {% set mods %}
                        {% for key, value in item.mods -%}
                            {{ class_sep() }} brand-features__item_{{ key }}-{{ value }}
                        {%- endfor %}
                    {% endset %}

                    {% if item.title %}
                      <div class="brand-features__item js-scroll-animate {{ mods | safe }}">
                          <div class="brand-features__icon">
                              {{ Svg.inlineSvg({ 'path': [ item.icon ] }) }}
                          </div>
                          <p class="brand-features__title">{{ item.title | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | replace("#euro", Icon.icon({ 'name': 'euro' })) | replace("#pound", Icon.icon({ 'name': 'pound' })) | replace("#dollar", Icon.icon({ 'name': 'baks' })) | safe }}</p>
                          <p class="text">{{ item.subtitle | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | replace("#euro", Icon.icon({ 'name': 'euro' })) | replace("#pound", Icon.icon({ 'name': 'pound' })) | replace("#dollar", Icon.icon({ 'name': 'baks' })) | safe }}</p>
                      </div>
                    {% endif %}
                    {% if item.props %}
                      <div class="brand-features__item js-scroll-animate {{ mods | safe }}">
                          <div class="brand-features__props js-scroll-animate">
                            {% for key, value in item.props %}
                              <p class="state_{{ key }}">{{ value | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | replace("#euro", Icon.icon({ 'name': 'euro' })) | replace("#pound", Icon.icon({ 'name': 'pound' })) | replace("#dollar", Icon.icon({ 'name': 'baks' })) | safe }}</p>
                            {% endfor %}
                          </div>
                        {% if item.descr %}
                          <p class="text">{{ item.descr | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | replace("#euro", Icon.icon({ 'name': 'euro' })) | replace("#pound", Icon.icon({ 'name': 'pound' })) | replace("#dollar", Icon.icon({ 'name': 'baks' })) | safe }}</p>
                        {% endif %}
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if options.js_carousel != 0 %}
                <div class="carousel-controls carousel-controls_theme-dark js-carousel-controls">
                    <div class="carousel-controls__pagination js-carousel-pagination" data-carousel="product-cards">
                        <span>01</span><span></span><span></span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endmacro %}