.brand-features .brand-features__item
  flex-direction: column

  color: $color_elem
  @media(min-width 768px)
    col()
    size(4)
  & > .text

    padding-right: 25%
    @media(max-width 991px)
      padding-right: 0
    .icon
      width: 8px
      height: 12px

    transform: translateY(2px)
