{% import "../../../components/icon/icon.njk" as Icon %}
{% import "../../../components/inline-svg/inline-svg.njk" as Svg %}

{% macro brandFeatures( options ) %}

  <div class="brand-features {{ options.class }}">
    <div class="page__container">
      <div class="section__row">
        {% for item in options.items %}
          <div class="brand-features__item">
            {{ Svg.inlineSvg({ 'path': ['assets/images/svg/shield-image.svg'] }) }}
            <p class="brand-features__title">{{ item.title | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | safe }}</p>
            <p class="text">{{ item.subtitle | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | safe }}</p>
            <div class="brand-features__props">
              {% for key, value in item.props %}
                <p class="state_{{ key }}">{{ value | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | safe }}</p>
              {% endfor %}
            </div>
            <p class="text">{{ item.descr | striptags(true) | escape | nl2br | replace("#ruble", Icon.icon({ 'name': 'ruble' })) | safe }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endmacro %}