.brand-features .brand-features__item
  flex-direction: column

  color: $color_elem

  @media(min-width 992px)
    col()
    size(4)

  @media (max-width: 991px)
    margin-left: 0
    margin-right: 0

  & > .text

    @media (min-width: 1280px)
      padding-right: 25%

    @media(max-width 991px)
      padding-right: 20px
      padding-left: 20px
      
      br
        display: none

    .icon
      width: 8px
      height: 12px

    transform: translateY(2px)
