.brand-features .brand-features__item
  .brand-features__title

    margin: 32px 0

    formularBold(24px)
    color: currentColor
    @media(max-width 767px)
      formularBold(16px)
      margin-bottom: 16px
